%div.pagination-div
  = paginate @paginator, :left => 5, :right => 1
  %ul#pagination-digg{:style => "float:right;",:class=>"apart-class"}
    %li.pagination-float
      = link_to 15, '/questions?per_page=15', :id => "per_page_15"
    %li.pagination-float
      = link_to 30, '/questions?per_page=30', :id => "per_page_30"
    %li.pagination-float
      = link_to 50, '/questions?per_page=50', :id => "per_page_50"
.clear
:javascript
  $(window).load(function(){
    var sessionPerPage = '#{session[:per_page].blank? ? 15 : session[:per_page]}';
    if (sessionPerPage == '15'){
      $('a#per_page_15').parent().addClass('active').html("15");
      $(this).remove();
    } else if (sessionPerPage == '30'){
      $('a#per_page_30').parent().addClass('active').html("30");
      $(this).remove();
    } else if (sessionPerPage == '50'){
      $('a#per_page_50').parent().addClass('active').html("50");
      $(this).remove();
    }
  });
