-# questions_link = questions_link_for(params[:action])
-# content_for :nav_filters do
  =# render "questions/nav_filters", :questions_link => questions_link

/%section.questions-index
=# render 'shared/posts'

- content_for :title do
  Questions

= image_tag "plus/body_about1.jpg", :class => "body_header"
.alpha.grid_18.body_about{:id => "firstElement"}
  %span{:class => "p_a"}
    Questions
  %span{:class => "p_a1 i3_1"}
    = link_to "Home", "/"
    > Questions
  .sort
    %strong Sort by:
    %select
      %option Active
      %option Newest
      %option Hot
      %option Followers
    %span{:style => "color:#000"}
      %strong Filter:
      %select
        %option All
        %option Unanswered
    %span{:style => "color:#000"}
      %strong View mode:
      %select
        %option Questions
        %option Answers
    .clear
  .bx-wrapper
    %ul{:id => "slider21", :style => "position: relative;"}
      %li{:class => "pager ps1"}
        %ul
          - @questions.each do |question|
            = render "questions/plus_question", :question => question
  = paginate @questions
.grid_6.omega.body1_about{:id => "secondElement"}
  = paginate @questions, :left => 5, :right => 1
  .per_page{:style => "float:right;"}
    = link_to 15, '/questions?per_page=15', :id => "per_page_15"
    = link_to 30, '/questions?per_page=30', :id => "per_page_30"
    = link_to 50, '/questions?per_page=50', :id => "per_page_50"
    per page
.grid_6.omega.body1_about{:id => "secondElement", :style => "top: -43px !important; width: 242px !important"}
  .tagsl1
    %span{:class => "t_l1"} 67
    %br
    %span{:class => "t_l2"} Reputation
    %span{:class => "t_l1_1"} 30
    %br
    %span{:class => "t_l2_1"} Following
    %span{:class => "t_l1_2"} 90
    %br
    %span{:class => "t_l2_2"} View
    %span{:class => "t_l1_3"} 36
    %br
    %span{:class => "t_l2_3"} Followers
  %p.i3_4
    %strong
      Recent Tags
  %ul.tags
    - @tags.each do |tag|
      %li{:style => "float:left; padding-left:0px !important;"}
        %span{:class => "tags1_1"}
          = link_to h(tag.name).html_safe, tag_path(:id => CGI.escape(tag.name))
    .clear
  %p{:class => "about1"}
    %strong
      Latest Users
  %ul{:class => "users"}
    = render :partial => "widgets/plus_users"
  = link_to "<span style='color:#0075ce;padding-left: 30px;text-decoration: none;font-weight: bold;font-family:Arial'>More>></span>".html_safe, users_path
:javascript
  $('#slider211').bxSlider({
    mode: 'vertical',
    auto: false,
    pager: true,
    speed: 900
  });

  $(window).load(function(){
    var sessionPerPage = '#{session[:per_page].blank? ? 15 : session[:per_page]}';
    if (sessionPerPage == '15'){
      $('#per_page_15').addClass('current');
    } else if (sessionPerPage == '30'){
      $('#per_page_30').addClass('current');
    } else if (sessionPerPage == '50'){
      $('#per_page_50').addClass('current');
    }
  });
