- content_for :title do
  = @question.title

- question_body = find_and_preserve(shapado_auto_link(markdown(@question.body.present? ? @question.body : @question.title)))

= image_tag "plus/body_about1.jpg", :class => "body_header"
.alpha.grid_18.body_about{:id => "firstElement"}
  %span{:class => "p_a"}
    Question
  %span{:class => "p_a1 i3_1"}
    = link_to "Home", "/"
    >
  %span{:class => "p_a1 i3_1"}
    = link_to "Questions", "/questions"
    >
    %span.underline-decoration-link
      = link_to "#{h truncate(@question.title, :length => 65)}", question_path(@question),:style => "color: white;"
  .q_height2
    = link_to image_tag("plus/reiting_num1.png"), "#"
    %p{:class => "reiting_num5"}
      456
    = link_to image_tag("plus/reiting_num2.png"), "#", :class => "reiting_num6"
  .grid_14.Fright3
    %span{:class => "s1"}
      = @question.title
    .grid_14.ms_fr
      %span{:class => "s1_q_i"}
        = question_body.html_safe

    / %a{:class => "q_i_tag111", :href => "#"}
    / user image box
    %span{:class => "q_i_tag111", :href => "#",:style => "background-color: #F3F7FA; padding: 5px 0 10px 10px;width:165px; border-style:solid; border-width:1px; border-color:#CFD3D6;"}
      %a{:style=>"color:black; font-size:13px; padding-bottom:5px"}
        Asked
        - if ((Time.now - @question.created_at)/86400).to_i > 1
          = (@question.created_at).strftime("%b %d '%y")
          at 
          = (@question.created_at).strftime("%I:%M")
        - else 
          = time_ago_in_words(@question.created_at)
          Ago
      %br/
      = image_tag avatar_user_path(@question.user),:class=>"info-image", :style=>"height:32px;width:32px;"
      %a{:style=>"color:#00ADEF; font-size:12px; position:relative; top:3px;"}
        = @question.user.name.capitalize
      / user image box
    
  %ul{:class => "tags2 tags9_1"}
    - @question.tags.each do |tag|
      %li
        = link_to tag, "#", :class => "tags2_1"
  %ul{:class => "tags3 tags9_2"}
    %li
      = link_to "<span class='underline-decoration-link'>Flag</span>".html_safe, new_question_flag_path(@question), :class => "q_tag1 tool-tip",:title=>"Flag this question"
      = link_to "<span class='underline-decoration-link'>Follow</span>".html_safe, follow_question_path(@question), :class => "q_tag2 tool-tip",:title=>"Follow this question"
      = link_to "<span class='underline-decoration-link'>Answer</span>".html_safe, question_path(@question, :anchor => "to_answer"), :class => "q_tag3 tool-tip",:title=>"Answer this question"
  .clear
  / questions comments
  %ul.Fright3.line-break
    -@question.comments.each do |comments|
      %li.comments-body
        %span
          = comments.body
        %span.by-user
          ="-"
          =comments.user.name.capitalize

  .clear
  / question comments ends
  .tabs4
    %ul
      %span{:class => "serv_loc1_1"}
        = "#{@question.answers_count} answers"
      %span{:class => "serv_loc1_2", :style => "top:10px"}
        Your Answer
      %div#first.i4_1.serv_loc6
        %li
          %ul
            %div.tabber
              %div.tabbertab
                %h2
                  Newest
                %p.i4_1.serv_loc6{:id => ""} 
                  - @question.answers.order(:created_at => :desc).each do |answer|
                    %ul{:id => "slider21", :class => "i3_2"}
                      %li{:class => "pager ps1"}
                        %ul
                          %li
                            .q_height
                              = link_to image_tag("plus/reiting_num1.png")
                              %p{:class => "reiting_num3"}
                                = answer.votes_count
                              = link_to image_tag("plus/reiting_num2.png"), "#", :class => "reiting_num4"
                            .grid_14.Fright
                              %span{:class => "s1_q_i"}
                                = answer.body.html_safe
                              %a{:class => "q_i_tag2", :href => "#"}
                                = image_tag "plus/q_user_i.jpg"
                              
                        .clear
                        / questions comments
                        %ul.Fright3.line-break
                          -answer.comments.each do |ans|
                            %li.comments-body
                              %span
                                = ans.body
                              %span.by-user
                                ="-"
                                =ans.user.name.capitalize

                        .clear
                        / question comments ends
              %div.tabbertab
                %h2
                  Votes 
                %p.i4_1.serv_loc6{:id => ""} 
                  - @question.answers.order(:votes_up => :desc).each do |answer|
                    %ul{:id => "slider21", :class => "i3_2"}
                      %li{:class => "pager ps1"}
                        %ul
                          %li
                            .q_height
                              = link_to image_tag("plus/reiting_num1.png")
                              %p{:class => "reiting_num3"}
                                = answer.votes_count
                              = link_to image_tag("plus/reiting_num2.png"), "#", :class => "reiting_num4"
                            .grid_14.Fright
                              %span{:class => "s1_q_i"}
                                = answer.body.html_safe
                              %a{:class => "q_i_tag2", :href => "#"}
                                = image_tag "plus/q_user_i.jpg"
                              
                            .clear
              %div.tabbertab
                %h2
                  Oldest
                %p.i4_1.serv_loc6{:id => ""} 
                  - @question.answers.order(:created_at => :ASC).each do |answer|
                    %ul{:id => "slider21", :class => "i3_2"}
                      %li{:class => "pager ps1"}
                        %ul
                          %li
                            .q_height
                              = link_to image_tag("plus/reiting_num1.png")
                              %p{:class => "reiting_num3"}
                                = answer.votes_count
                              = link_to image_tag("plus/reiting_num2.png"), "#", :class => "reiting_num4"
                            .grid_14.Fright
                              %span{:class => "s1_q_i"}
                                = answer.body.html_safe
                              %a{:class => "q_i_tag2", :href => "#"}
                                = image_tag "plus/q_user_i.jpg"
                              
                            .clear
                  
                .clear          
      = form_for([@question,@answer],:method=>:post,:html => {:multipart => true,:name=>'answer_form',:id=>'answer_form'}) do |f|
        %p{:style=>"margin-left:30px;"}
          = f.text_area :body, :class => "wysiwyg_editor",:size=>"50x20"
          / = render :partial => 'shared/rich_text_partial'
        %p
          = link_to "<span class='underline-decoration-link'>Post your Answer</span>".html_safe, "javascript:void(0)", :class => "q_i1_tag1 tool-tip", :title => "Post your Answer",:onclick=>"document.answer_form.submit();"

.grid_6.omega.body1_about.body_qwest1{:id => "secondElement", :style => "width: 242px !important"}
  .clear
  %p{:class => "i3_11"}
    %strong
      Related
  %ul{:class => "tags1"}
    - @relatedQuestion.each do |question|
      %li
        = link_to question.title, "/question/#{question.slug}"
  %p.i3_4
    %strong
      Tagged
      / = @seetags
      / = @tags.to_sentence
  %ul.tags
    - @tags.each do |tag|
      %li{:style => "float:left; padding-left:0px !important;"}
        %span{:class => "tags1_1"}
          = link_to h(tag).html_safe, tag_path(:id => CGI.escape(tag))
          %span
            x
          %span.avoid_link_color{:style=>"font-weight:600"}
            = current_group.questions.where(:tags=>tag).count
    .clear

:javascript
   $(window).load(function(){
    Editor.setup($(".markdown_editor, .wysiwyg_editor"));
    var tabContainers = $('div.tabs4 > div');
      tabContainers.hide().filter(':first').show();
      
      $('div.tabs4 ul.tabNavigation a').click(function () {
        tabContainers.hide();
        tabContainers.filter(this.hash).show();
        $('div.tabs4 ul.tabNavigation a').removeClass('selected');
        $(this).addClass('selected');
        return false;
      }).filter(':first').click();
  });