- content_for :title do
  = @question.title

- question_body = find_and_preserve(shapado_auto_link(markdown(@question.body.present? ? @question.body : @question.title)))

= image_tag "plus/body_about1.jpg", :class => "body_header"
.alpha.grid_18.body_about{:id => "firstElement"}
  %span{:class => "p_a"}
    Questions
  %span{:class => "p_a1 i3_1"}
    = link_to "Home", "/"
    >
    = link_to "Questions", "/questions"
    >
    = @question.title
  .q_height2
    = link_to image_tag("plus/reiting_num1.png"), "#"
    %p{:class => "reiting_num5"}
      456
    = link_to image_tag("plus/reiting_num2.png"), "#", :class => "reiting_num6"
  .grid_14.Fright3
    %span{:class => "s1"}
      = @question.title
    .grid_14.ms_fr
      %span{:class => "s1_q_i"}
        = question_body.html_safe
    %a{:class => "q_i_tag111", :href => "#"}
      = image_tag "plus/q_user_i.jpg"
    
  %ul{:class => "tags2 tags9_1"}
    - @question.tags.each do |tag|
      %li
        = link_to tag, "#", :class => "tags2_1"
  %ul{:class => "tags3 tags9_2"}
    %li
      = link_to "<span>Flag</span>".html_safe, "#", :class => "q_tag1"
      = link_to "<span>Follow</span>".html_safe, "#", :class => "q_tag2"
  .clear
  .tabs4
    %ul{:class => "tabNavigation"}
      %span{:class => "serv_loc1_1"}
        = "#{@question.answers_count} answers"
      %li
        = link_to "Newest", "#first", :class => "selected"
      %li
        = link_to "Votes", "#second"
      %li
        = link_to "Oldest", "#third"
    .i4_1.serv_loc6{:id => "first"}
      %ul{:id => "slider21", :class => "i3_2"}
        %li{:class => "pager ps1"}
          %ul
            - @question.answers.each do |answer|
              %li
                .q_height
                  = link_to image_tag("plus/reiting_num1.png")
                  %p{:class => "reiting_num3"}
                    = answer.votes_count
                  = link_to image_tag("plus/reiting_num2.png"), "#", :class => "reiting_num4"
                .grid_14.Fright
                  %span{:class => "s1_q_i"}
                    = answer.body
                  %a{:class => "q_i_tag2", :href => "#"}
                    = image_tag "plus/q_user_i.jpg"
                  
                .clear
            %span{:class => "serv_loc1_2", :style => "top:10px"}
              Your Answer
            = image_tag "plus/edit_area.jpg", :class => "Fleft", :style => "margin-top:20px"
            %p
              = link_to "<span>Post your Answer</span>".html_safe, "#", :class => "q_i1_tag1", :style => "text-decoration: none;"

.grid_6.omega.body1_about.body_qwest1{:id => "secondElement", :style => "width: 242px !important"}
  .tagsl1
    %span{:class => "t_l1"}
      = @question.flags_count
    %br
    %span{:class => "t_l2"}
      Flagged
    %span{:class => "t_l1_1"}
      = @question.answers_count
    %br
    %span{:class => "t_l2_1"}
      Answers
    %span{:class => "t_l1_2"}
      = @question.views_count
    %br
    %span{:class => "t_l2_2"}
      View
    %span{:class => "t_l1_3"}
      = @question.followers_count
    %br
    %span{:class => "t_l2_3"}
      Followers
  .clear
  %ul{:class => "sp_bg1111", :style => ""}
    %li
      = link_to "Question", "/questions"
  %p{:class => "i3_11"}
    %strong
      Related
  %ul{:class => "tags1"}
    - Question.related_questions(@question).each do |question|
      %li
        = link_to question.title, "/question/#{question.slug}"

:javascript
  $(window).load(function(){

    var tabContainers = $('div.tabs4 > div');
      tabContainers.hide().filter(':first').show();
      
      $('div.tabs4 ul.tabNavigation a').click(function () {
        tabContainers.hide();
        tabContainers.filter(this.hash).show();
        $('div.tabs4 ul.tabNavigation a').removeClass('selected');
        $(this).addClass('selected');
        return false;
      }).filter(':first').click();
    });
  });

