%tr
  %td
    = provider.name
  %td
    = provider.type
  %td
    = provider.contact
  %td
    = provider.languages
  %td
    = provider.address
  %td
    = provider.city
  %td
    = provider.country
  %td
    = provider.telephone
  %td
    = provider.email
  %td
    = provider.url
  %td
    = provider.services
  %td
    = provider.service_category.try(:category_name)
  %td
    .controls.center
      = link_to "<span class='icon12 icomoon-icon-pencil'></span>".html_safe, "#", :class => "tip", :title => "Edit Service Provider", :id => "openDialog#{provider.id}"
      = link_to "<span class='icon12 icomoon-icon-remove'></span>".html_safe, provider_path(:id => provider.id), :method => :delete, :confirm => "Are you sure? This Service Provider will no longer exist", :class => "tip", :title => "Delete Service Provider"
    .dialog{:id => "dialog#{provider.id}", :title => "Edit Service Provider"}
      = form_for provider, :html => {:class => "form", :method => :put} do |form|
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "Name", :class => "form-label span4"
              = form.text_field :name, :class => "span8"
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "Type", :class => "form-label span4"
              = form.text_area :type, :class => "span8"
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "Contact person", :class => "form-label span4"
              = form.text_field :contact, :class => "span8"
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "Languages", :class => "form-label span4"
              = form.text_field :languages, :class => "span8"
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "Address", :class => "form-label span4"
              = form.text_field :address, :class => "span8"
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "City", :class => "form-label span4"
              = form.text_field :city, :class => "span8"
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "Country", :class => "form-label span4"
              = form.text_field :country, :class => "span8"
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "Telephone", :class => "form-label span4"
              = form.text_field :telephone, :class => "span8"
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "Email", :class => "form-label span4"
              = form.text_field :email, :class => "span8"
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "Website", :class => "form-label span4"
              = form.text_field :url, :class => "span8"
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "Services Offered", :class => "form-label span4"
              = form.text_field :services, :class => "span8"
        .form-row.row-fluid
          .span12
            .row-fluid
              = form.label "Category", :class => "form-label span4"
              = form.select :service_category_id, options_from_collection_for_select(@service_categories, :id, :category_name, provider.service_category_id)
        .form-row.row-fluid
          .span12
            .row-fluid
              .span4
                &nbsp;
              = form.submit "Save", :class => "btn nostyle span2", :style => "padding: 4px 10px !important; border-width: 1px !important; border-style: solid !important"









