-last_target_id, last_target_date, owner = question.find_last_target
%li
  .qa-q-list
    #q6739.qa-q-list-item
      .qa-q-item-stats
        #voting_6739.qa-voting.qa-voting-net
          .qa-vote-buttons.qa-vote-buttons-net
            %input.qa-vote-first-button.qa-vote-up-button{:name => "vote_6772_1_q6772", :onclick => "return qa_vote_click(this);", :onmouseout => "this.className='qa-vote-first-button qa-vote-up-button';", :onmouseover => "this.className='qa-vote-first-button qa-vote-up-hover';", :title => "Click to vote up", :type => "submit", :value => "+"}/
            %input.qa-vote-second-button.qa-vote-down-disabled{:disabled => "disabled", :title => "Voting down is only available to some users", :type => "submit", :value => ""}/
          .qa-vote-count.qa-vote-count-net
            %span{:class => "qa-netvote-count"}
              %span{:class => "qa-netvote-count-data"}
                = question.votes_count
              %span{:class => "qa-a-count-pad"} votes
          .qa-vote-clear
      %span{:class =>"qa-a-count"}
        %span{:class => "qa-a-count-data"}
          = question.answers_count
        %span{:class => "qa-a-count-pad"} answers
      %span{:class => "qa-view-count"}
        %span{:class => "qa-view-count-data"}
          = question.countquestions.sum(:qus_count).to_i
        %span{:class =>"qa-a-count-pad"} views
    .qa-q-item-main
      .qa-q-item-title
        %h6
          = link_to truncate(strip_tags(question.title), :length => 47), question_show_experimental_index_path(question)
      %span{:class => "qa-q-item-avatar-meta"}
        %span{:class => "qa-q-item-meta"}
          = truncate(strip_tags(question.body), :length => 60)
        %ul.tags2.tags-experimental
          - question.tags.each do |tag|
            %li{:class => "tags-adj"}
              = link_to h(tag), tag_path(:id => CGI.escape(tag)), :class => "tags2_1 tool-tip", :title => "#{tag}"
  .clear
