.row-fluid
  .span12
    .box
      .title
        %h4
          %span{:class => "icon16 brocco-icon-window"}
          = t(".title")
        %form{:class => "box-form right", :action => "", :style => "margin-top:-27px !important"}
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 4px 10px !important; border-width: 1px !important; border-style: solid !important">
          <span class="icon16 iconic-icon-cog"></span>
          <span class="caret"></span>
          </a>
          %ul{:class => "dropdown-menu"}
            %li
              = link_to "<span class='icon16 brocco-icon-plus'></span>Add new Constrains config".html_safe, "#", :id => "openModalDialog"
        = link_to "Minimize", "#", :class => "minimize"
      .content{:style => "Padding-bottom: 0px !important"}
        / %h1.title
        /   =t("admin.manage.properties.constrains.reputation_constrains_subtitle")

        =render :partial => "admin/manage/properties/subtabs"

        %p.description
          =t("admin.manage.properties.constrains.reputation_constrains_description")

        %ul.admin-nav
          %li
            = link_to t(".current", default: "current"), domain_url(custom: @group.domain, controller: "constrains_configs", action: "index")
          - ConstrainsConfig.where(:group_id => nil).all.each do |mode|
            %li
              = link_to mode.name, domain_url(custom: @group.domain, controller: "constrains_configs", action: "index", mode: mode.id)
         
          - current_group.constrains_configs.all.each do |mode|
            %li
              = link_to mode.name, domain_url(custom: @group.domain, controller: "constrains_configs", action: "index", mode: mode.id)
              = link_to t('scaffold.edit'), domain_url(custom: @group.domain, controller: "constrains_configs", action: "edit", id: mode.id)
              = link_to t('scaffold.destroy'),  constrains_config_url(mode), :metod => :delete, :confirm => t("scaffold.sure", :model => ConstrainsConfig.model_name.human)

          %li   
            = link_to t("scaffold.new", model: ConstrainsConfig.model_name.human), domain_url(custom: @group.domain, controller: "constrains_configs", action: "new")

        = form_for(@group, :html => {:class => "form", :multipart => true}) do |f|
          = f.error_messages
          = hidden_field_tag :source, domain_url(:custom => @group.domain, :controller => "admin/manage", :action => "properties", :tab => @active_subtab)

          = render :partial => "groups/reputation_constrains_form", :object => f
          .form-row.row-fluid
            .span12
              .row-fluid
                .form-actions{:style => "width: 100% !important; margin-left: -10px !important; margin-bottom: -18px !important"}
                  .span9
                    &nbsp;
                  .span3.controls
                    = f.button "Save Changes", :class =>"btn marginR10", :style => "padding: 4px 10px !important; border-width: 1px !important; border-style: solid !important"
                    = link_to "Cancel", admin_dashboard_path, :class => "btn btn-danger", :style => "padding: 5px 10px !important; border-width: 1px !important; border-style: solid !important"