%br.hide-responsive/
.main-content-left
  .post-loop.search-loop
    .ribbon-shadow-left
    .section-wrapper
      .section-header Surveys
    .section-arrow
    - if @surveys.blank?
      %h3
        No Recent  Yet
    - else
      -@surveys.each do |survey|
        = render :partial => "survey", :object => survey
    =# paginate @surveys
    - if @survey1.present?
      = render "survey1"
    - if @survey2.present?
      = render "survey2"
    - if @survey3.present?
      = render "survey3"
    - if @survey4.present?
      = render "survey4"
    - if @survey5.present?
      = render "survey5"
    - if @survey6.present?
      = render "survey6"
    - if @survey7.present?
      = render "survey7"
    %br.clearer/

.sidebar
  = render "experimental/partials/login_box"
  = render "experimental/partials/left_bar"

