%br.hide-responsive/
.main-content-left
	.post-loop.search-loop
		.ribbon-shadow-left
		.section-wrapper
			.section-header Surveys
		.section-arrow
		
		- if @surveys.blank?
			%h3
				No Recent  Yet
		- else
			-@surveys.each do |survey|
				= render :partial => "survey", :object => survey
		=# paginate @surveys
		- if @survey1.present?
			= render "survey1"
		- if @survey2.present?
			= render "survey2"
		- if @survey3.present?
			= render "survey3"
		- if @survey4.present?
			= render "survey4"
		- if @survey5.present?
			= render "survey5"
		- if @survey6.present?
			= render "survey6"
		- if @survey7.present?
			= render "survey7"
		%br.clearer/
	.main-content-left
		.page-content.review.single-post
			%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
			.review-content
				.ribbon-shadow-left
				.section-wrapper
					.section
						.comment-bubble
							
							%a{:href => "/survey#disqus_thread"} Link
						/ making title stronger
						.section-for-header
							Disqus
				.section-arrow 
				.overview-wrapper
				.overview-new
					.left-panel
						#disqus_thread
						:javascript
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'plusbchange'; // required: replace example with your forum shortname

							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
								var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
								dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; 
								(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); 
							})();
						%noscript 
							Please enable JavaScript to view the 
							%a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus
						%a.dsq-brlink{:href => "http://disqus.com"}
							comments powered by
							%span.logo-disqus Disqus
						:javascript
							var disqus_shortname = 'plusbchange'; // required: replace example with your forum shortname
							// required: replace example with your forum shortname
							(function () {
								var s = document.createElement('script'); s.async = true;
								s.type = 'text/javascript';
								s.src = '//'+disqus_shortname+'.disqus.com/count.js';
								(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
							}());
	%br.clearer/		
.sidebar
	- if current_user.nil?
		/login box
		= render "experimental/partials/login_box"
	-else
		/profile box
		= render "experimental/partials/profile_box"
