.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.post-loop
		.ribbon-shadow-left  
		.section-wrapper
			.section
				Announcements (#{@announcements.count})
		.ribbon-shadow-right 
		.section-arrow
		#announcement-ajax-div
			= render :partial => "announcement"
				
			

/side bar
.sidebar
	- if current_user.nil?
		/login box
		= render "experimental/partials/login_box"
	-else
		/profile box
		= render "experimental/partials/profile_box"

	/ social login box
	= render "experimental/partials/social_login_box"
	/ member box
	= render "experimental/partials/member_box"
	/rating box
	= render "experimental/partials/rating_box"
	/rating box
	= render "experimental/partials/rating_box2"
	/ left bar
	/ = render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	= render "experimental/partials/newly_reviewed"
	/popular box
	= render "experimental/partials/popular_box"
	/banner box
	= render "experimental/partials/banner_box"
:javascript
	jQuery(document).ready(function(jQ){
		jQ('#pagination-digg  a').live('click',function(e){
			e.preventDefault();
			jQuery.ajax({
				url:jQ(this).attr('href'),
				dataType:"script"
			})
		})
	})