.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.post-loop
		.ribbon-shadow-left  
		.section-wrapper
			.section
				Announcements
		.ribbon-shadow-right 
		.section-arrow
		- if @announcements.blank?
			%br
			= render "experimental/partials/empty_record_message.html"
		
		-@announcements.each do |announcement|
			- @class = cycle('','right')
			= render :partial => "announcement", :object => announcement
			- if @class == 'right'
				.clearer

				
			

/side bar
.sidebar
	= render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	= render "experimental/partials/newly_reviewed"
	/popular box
	= render "experimental/partials/popular_box"
	/rating box
	= render "experimental/partials/rating_box"
	/banner box
	= render "experimental/partials/banner_box"
