.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section-header
					Announcements
			.section-arrow
			/ post by removed from here
			.content-panel
				.the-content.justify-content			
					.userDescription
						.basicInfo{:style => "margin-left: 10px !important"}
							%h2
								= @announcement.message rescue ""
							%small
								on #{@announcement.starts_at.strftime("%x") rescue ""} 

					= image_tag ("banner-250x250.jpg"), :class => 'gravatar', :style => "margin: 10px", :size=>'500x400'
						
					#service_information{:style => "margin: 10px"}
						= @announcement.message rescue ""
						= link_to "Back", announce_announcements_path
.sidebar
	= render "experimental/partials/left_bar"