.clearer.hide-responsive  
%br.hide-responsive
#flash
.main-content-left
  .page-content.review.single-post
    %link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
    .review-content
      .ribbon-shadow-left
      .section-wrapper
        .section
          .comment-bubble
          / making title stronger
          .section-for-header
            /%i.icon-vcard
            Calculator
      .section-arrow   
    .overview-wrapper
      .overview-new.nopadding-top.padding-about
        .excerpt-new1.justify-content.nopadding-top
          #tool-area
            #top-text
              %p In order to end HIV, more gay men need to get tested more often - once a year is the minimum, even better if it's twice a year, but you may need to test more often. Find out how often to test using the tool below:
            #accordion
            #selections
              #hiv_status
                #hiv_status_title
                  %span What's your HIV status?
                #hiv_options
                  .option{data: "negative"}
                    %span Negative
                  .breaker
                  .option{data: "not_sure"}
                    %span Not Sure
              #partners
                #partners_status_title
                  %span IN THE LAST 6 MONTHS HOW MANY SEXUAL PARTNERS DID YOU HAVE?
                #partners_options
                  .option{data: "0"}
                    %span 0
                  .breaker
                  .option{data: "1"}
                    %span 1
                  .breaker
                  .option{data: "2 - 9"}
                    %span 2 - 9
                  .breaker
                  .option{data: "10+"}
                    %span 10+
              %div{style: "clear:both;"}
            #results
              %p
      



.sidebar
  - if current_user.nil?
    /login box
    = render "experimental/partials/login_box"
  -else
    /profile box
    = render "experimental/partials/profile_box"

  / social login box
  = render "experimental/partials/social_login_box"
  / member box
  /= render "experimental/partials/member_box"
  /rating box
  = render "experimental/partials/rating_box"
  /rating box
  = render "experimental/partials/rating_box2"
  / left bar
  / = render "experimental/partials/left_bar"
  /widget top
  = render "experimental/partials/widget_top"
  / .clearer.hide-responsive
  / %br.clearer/
  / newly reviewd
  /= render "experimental/partials/newly_reviewed"
  /popular box
  = render "experimental/partials/popular_box"
  /banner box
  = render "experimental/partials/banner_box"


:javascript
  var hiv_status = '';
  var partners = '';
  $(document).ready(function(){

    //Gets Data
    $('#calc-frequency').click(function(){
      //$.get('<?php print plugins_url( 'test-frequency-calculator-read.php', __FILE__ ); ?>?partners=' + $('#calc_partners').val() + '&hiv_status=' + $('#calc_hiv_status').val(), function(data){
        //eval('calc_return = ' + data);
        alert(calc_return.response);
      //});
    });

    //Click On Options
    $('#tool-area #selections #hiv_status #hiv_options .option').click(function(){
      $('#tool-area #selections #hiv_status #hiv_options .option').removeClass('selected');
      $(this).addClass('selected');
      hiv_status = $(this).attr('data');
      //alert(hiv_status);
      get_calculation();
    });
    $('#tool-area #selections #partners #partners_options .option').click(function(){
      $('#tool-area #selections #partners #partners_options .option').removeClass('selected');
      $(this).addClass('selected');
      partners = $(this).attr('data');
      get_calculation();
    });

    function get_calculation(){
      
      if(hiv_status =="negative" && partners == "0")
      {
        $('#results').hide();
        //eval('calc_return = ' + data);
        $('#results').html("If you know you are HIV negative and you haven’t had any sex in the 6 months since your last test, then you don’t need to get tested.<br/><br/>In case things change, remember that all sexually active gay men should get tested at least twice a year.");
        $('#results').show();
        $('#results').slideDown();    
      }
      if(hiv_status =="negative" && partners == "1")
      {
        
        $('#results').hide();
        //eval('calc_return = ' + data);
        $('#results').html("Even if you had only 1 sexual partner in the last 6 months, it is recommended that you get tested at least twice a year.<br/><br/>You may be able to get a rapid HIV test. It’s free, easy and gay-friendly, and you get your results within 30 minutes. Find out if rapid HIV tests are available near you ");
        $('#results').show();
        $('#results').slideDown();    
      }
      if(hiv_status =="negative" && partners == "2 - 9")
      {
        
        $('#results').hide();
        //eval('calc_return = ' + data);
        $('#results').html("Based on your answers, you should get tested at least twice a year.<br/><br/>Did you know that now you can get a rapid HIV test? It’s free, quick, easy and gay-friendly. Find out where to get tested here <br/><br/>It can be easy to forget when you last got an HIV test and when it’s time to get the next one. Sign up to the ‘Remind Me’ service to receive e-mail or SMS reminders for your next HIV here.");
        $('#results').show();
        $('#results').slideDown();    
      }
      if(hiv_status =="negative" && partners == "10+")
      {
        
        $('#results').hide();
        //eval('calc_return = ' + data);
        $('#results').html("Based on your answers, you should get tested at least 4 times a year.<br/><br/>Did you know that now you can get a rapid HIV test? It’s free, quick, easy and gay-friendly. Find out where to get tested here.<br/><br/>It can be easy to forget when you last got an HIV test and when it’s time to get the next one. Sign up to the ‘Remind Me’ service to receive e-mail or SMS reminders for your next HIV here.");
        $('#results').show();
        $('#results').slideDown();    
      }
      if(hiv_status =="not_sure" && partners == "0")
      {
        
        $('#results').hide();
        //eval('calc_return = ' + data);
        $('#results').html("If you don’t know your HIV status, it’s very important that you get tested now, even if you didn’t have any sex in the last 6 months.<br/><br/>You can now get a rapid HIV test and get your results during the same appointment. It’s free, quick, easy and gay-friendly. Find out where you can get tested here.<br/><br/>It can be easy to forget when you last got an HIV test and when it’s time to get the next one. Sign up to the ‘Remind Me’ service to receive e-mail or SMS reminders for your next HIV");
        $('#results').show();
        $('#results').slideDown();    
      }
      if(hiv_status =="not_sure" && partners == "1")
      {
        
        $('#results').hide();
        //eval('calc_return = ' + data);
        $('#results').html("If you don’t know your HIV status, it’s very important that you get tested now, even if you had only 1 sex partner in the last 6 months.<br/><br/>You can now get a rapid HIV test and get your results during the same appointment. It’s free, quick, easy and gay-friendly. Find out where you can get tested here.<br/><br/>It can be easy to forget when you last got an HIV test and when it’s time to get the next one. Sign up to the ‘Remind Me’ service to receive e-mail or SMS reminders for your next HI");
        $('#results').show();
        $('#results').slideDown();    
      }
      if(hiv_status =="not_sure" && partners == "2 - 9")
      {
        
        $('#results').hide();
        //eval('calc_return = ' + data);
        $('#results').html("If you don’t know your HIV status, it’s very important that you get tested now. You can now get a rapid HIV test and get your results during the same appointment. It’s free, quick, easy and gay-friendly. Find out where you can get tested here.<br/><br/>Based on your answers, you should also get tested at least twice a year.<br/><br/>It can be easy to forget when you last got an HIV test and when it’s time to get the next one. Sign up to the ‘Remind Me’ service to receive e-mail or SMS reminders for your next HIV here.");
        $('#results').show();
        $('#results').slideDown();    
      }
      if(hiv_status =="not_sure" && partners == "10+")
      {
        
        $('#results').hide();
        //eval('calc_return = ' + data);
        $('#results').html("If you don’t know your HIV status, it’s very important that you get tested now. You can now get a rapid HIV test and get your results during the same appointment. It’s free, quick, easy and gay-friendly. Find out where you can get tested here.<br/><br/>Based on your answers, you should also get tested at least 4 times a year.<br/><br/>It can be easy to forget when you last got an HIV test and when it’s time to get the next one. Sign up to the ‘Remind Me’ service to receive e-mail or SMS reminders for your next HIV here.");
        $('#results').show();
        $('#results').slideDown();    
      }
    
    }

  });