.clearer.hide-responsive
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "../experimental/images/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					.section-for-header
						%i.icon-lock
						Concern about privacy
			.section-arrow

		.overview-wrapper
			.overview-new
				.left-panel
					%h2
						Concerned about privacy? Registering for the first time?
					#lipsum.arrange_concern
						%p
							You have full control over your privacy on BE.
							%br
							None of your data will be shared with other social networking platforms (eg. Facebook, Twitter, etc) or organisations, without your prior consent.
							%br
							The team behind BE are committed to delivering an experience that is user-friendly and easy-to-use.
						%p
							%h3
								To register to for the first-time on BE, you have two options:
							%ul.floatleft.concern-list
								%li
									You can
									%u
										= link_to "Sign Up with Social+ Networks", social_experimental_index_path(:via=>"networks")
									to set-up and regularly login of your new BE account with a few clicks of a mouse; or,
								%li
									You can
									%u
										= link_to " Sign Up with Email", social_experimental_index_path(:via=>"email")
									and type in your email contact details and an email will sent to you confirming your new account.
						%br
						%p
							Regardless of the way that you register for the first time, all BE users must agree to the purpose, values, terms of use and codes of conduct that are explained at the end of the registration process. All users are able to use their full name or choose a user name alias for their profile. In addition, all users will control over the privacy settings of their profile, and can choose to remain anonymous.
						%p
							BE Community Managers are on-duty to ensure that web-app all users adhere to the terms of use and codes of conduct. The Community Manager are also there to facilitate the questions and answers among the users and refer users to assistance if they are in need.
						%p
							%h3
								To
								%u
									= link_to "Sign Up with Social+ Networks", social_experimental_index_path(:via=>"networks")
						%br
						%p
							New users are offered the choice of using their existing social networking, Gmail or Yahoo! Accounts set-up a new account on BE, making the registration process as easy as a few mouse clicks.
						%p
							This also enables the user to use their existing social networking account as a key to re-login after registering for the first time.
						%p
							If you choose to use your social networking account to register on BE, our server will reference your name and email address data from your social networking profile so that it can be inputted automatically into your new BE profile. This is a one-way data transaction. There is no notification on your social networking profile (or among your friends) about your registration on BE.
						%p
							%h3
								To
								%u
									= link_to " Sign Up with Email", social_experimental_index_path(:via=>"email")
						%br
						%p
							You can register on BE by typing in your email contact details and other basic information. Once you submit your contact details, a confirmation email will be sent to your designated address and you can proceed with accessing BE.
						%p
							To re-login in once you have registered, you will need type in your email address and password.
						%p.concern-table
							%table{border: "1px", cellpadding: "7", cellspacing: "0", width: "624"}
								%colgroup
									%col{width: "348"}/
									%col{width: "195"}/
									%col{width: "39"}/
								%tbody
									%tr{valign: "TOP"}
										%td{width: "348"}
											%p
												%font{face: "Cabin, serif"}
													%b Users setting-up accounts via
										%td{width: "195"}
											%p
												%font{face: "Cabin, serif"}
													%b
														Social+ Networks (eg. AOL, Google,
														Yahoo, OpenID, Facebook, Twitter)
										%td{width: "39"}
											%p
												%font{face: "Cabin, serif"}
													%b Email
									%tr
										%td{valign: "TOP", width: "348"}
											%p
												%font{face: "Cabin, serif"}
													Can fully control their privacy
													settings on BE
										%td{width: "195"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
										%td{width: "39"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
									%tr
										%td{valign: "TOP", width: "348"}
											%p
												%font{face: "Cabin, serif"} Can choose a personalised user name
										%td{width: "195"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
										%td{width: "39"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
									%tr
										%td{valign: "TOP", width: "348"}
											%p
												%font{face: "Cabin, serif"}
													Can personalise their BE profile
													(bio-data, profile pictures, etc)
										%td{width: "195"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
										%td{width: "39"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
									%tr
										%td{valign: "TOP", width: "348"}
											%p
												%font{face: "Cabin, serif"} Can choose to remain anonymous
										%td{width: "195"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
										%td{width: "39"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
									%tr
										%td{valign: "TOP", width: "348"}
											%p
												%font{face: "Cabin, serif"}
													Must adhere to user Codes of Conduct,
													Terms of Use and Privacy Policy
										%td{width: "195"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
										%td{width: "39"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
									%tr
										%td{valign: "TOP", width: "348"}
											%p
												%font{face: "Cabin, serif"}
													Can report cases of bullying,
													trolling and any behaviour contrary to the Codes of Conduct and
													Term of Use to Community Managers on-duty.
										%td{width: "195"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
										%td{width: "39"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
									%tr
										%td{valign: "TOP", width: "348"}
											%p
												%font{face: "Cabin, serif"}
													Can “click-through” first-time
													registration and login
										%td{width: "195"}
											%p{align: "CENTER"}
												%font{color: "#00ff00"} ✔
										%td{width: "39"}
											%p{align: "CENTER"}
												%font{color: "#ff0000"}
													%font{face: "Cabin, serif"}
														%font{size: "5"}
															%b X
									%tr
										%td{valign: "TOP", width: "348"}
											%p
												%font{face: "Cabin, serif"}
													Can automatically share profile
													photos and status updates from their social networking accounts
													onto BE
										%td{width: "195"}
											%p{align: "CENTER"}
												%font{color: "#ff0000"}
													%font{face: "Cabin, serif"}
														%font{size: "5"}
															%b X
										%td{width: "39"}
											%p{align: "CENTER"}
												%font{color: "#ff0000"}
													%font{face: "Cabin, serif"}
														%font{size: "5"}
															%b X
									%tr
										%td{valign: "TOP", width: "348"}
											%p
												%font{face: "Cabin, serif"}
													Can automatically notify friends on
													social networking about registration on BE
										%td{width: "195"}
											%p{align: "CENTER"}
												%font{color: "#ff0000"}
													%font{face: "Cabin, serif"}
														%font{size: "5"}
															%b X
										%td{width: "39"}
											%p{align: "CENTER"}
												%font{color: "#ff0000"}
													%font{face: "Cabin, serif"}
														%font{size: "5"}
															%b X

.sidebar
	/login box
	- if current_user.nil?
		/login box
		= render "experimental/partials/login_box"
	-else
		/profile box
		= render "experimental/partials/profile_box"

	/ social login box
	= render "experimental/partials/social_login_box"
	/ member box
	/ = render "experimental/partials/member_box"
	/ left bar
	= render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	/ = render "experimental/partials/newly_reviewed"
	/popular box
	=# render "experimental/partials/popular_box"
	/rating box
	=# render "experimental/partials/rating_box"
	/banner box
	= render "experimental/partials/banner_box"