.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  #content.page-content
    .review-content
      .ribbon-shadow-left
      .section-wrapper
        .section-header
          Dashboard
      .section-arrow
      / post by removed from here
    #item-header.qa-q-item-tags{:role=>"complementary"}
      #item-header-avatar
        %a{:style=>"float:left;"}
          -if @user.use_gravatar?
            = image_tag avatar_user_path(@user),:size=>'140x140',:class => "avatar" 
          -else                       
            = image_tag(default_avatar_url('big'), :class=>"avatar")
      #item-header-content
        %h2
          = link_to "#{user_realname(@user)}", user_path(@user)
        .item-meta
          %span{:class=>"activity"}
            Joined 
            =# t("time.ago", :time => time_ago_in_words(config.joined_at))
        .user-nicename
          Website:
          = link_to @user.website, @user.website
        .user-nicename
          = link_to "<span>HIV Condition: #{user_hiv_condition(@user)}</span>".html_safe, "#", :class => "qwest_tag1"
          =# link_to "<span>Edit Profile</span>".html_safe, settings_path, :class => "qwest_tag15"
        .extra-tags
          - unless @user.profile_tiers.blank?
            = link_to "<span>Sample</span>".html_safe, "#", :class => "qwest_tag12"
          -unless @user.profile_support.nil?
            = link_to "<span>Tier 1</span>".html_safe, "#", :class => "qwest_tag12"
          - for i in 2..7 do
            -unless eval "@user.profile_tier#{i}.nil?"
              = link_to "<span>Tier #{i}</span>".html_safe, "#", :class => "qwest_tag12"
        .a6
          = image_tag "plus/a1.png"
          %span
            Country: 
            = user_country(@user)
          %br
          = image_tag "plus/a2.png"
          %span
            Age: 
            = user_age(@user)
    #item-nav
      #object-nav.item-list-tabs{:id=>"firstElement"}
        %ul
          %li.selected.user-xprofile
            %a{:href=>"javascript:void(0)",:id=>"questions-ajax"}
              Questions
              %span
                0
              .loader
          %li.user-xprofile
            %a{:href=>"javascript:void(0)",:id=>"answer-ajax"}
              answers
              %span
                0
              .loader
          %li.user-following
            %a{:href=>"javascript:void(0)",:id=>"following-ajax"}
              following
              %span
                0
              .loader
          %li.user-xprofile
            %a{:href=>"javascript:void(0)",:id=>"starred-ajax"}
              starred
              %span
                0
              .loader
      #subnav.item-list-tabs.no-ajax{:role => "navigation"}
        %ul
          = render "users/show/user_dashboard_filters"
    #members-dir-list.members.dir-list.content_div
      %ul#members-list.items-list
        = render "users/show/user_#{params[:action]}_content"
    #members-dir-list.members.dir-list.follows_div{:style=>"display:none"}
      %ul#members-list.items-list
        = render "users/show/user_follows_content"
.sidebar
  = render "experimental/partials/user_info"


:javascript
  jQuery("#object-nav_firstElement > ul > li").click(function(){
    jQuery("#object-nav_firstElement > ul > li").removeClass('selected');
    jQuery(this).addClass('selected');
  });
  //ajax-loader
  jQuery(document).ready(function($){
    $("#activity-filter-by").change(function(){
      //alert("asdf");
      //event.preventDefault();
      var valueTaker = $(this).val().split("-");

      $(".dir-list").fadeOut('slow');
      $("#forums-dir-list-"+valueTaker[0]).fadeIn('slow','linear');
      
      
    });
  });
  // ajax function
  Experimental.getAjaxData("click","#answer-ajax","/answers","GET","activity-stream","answer","#answer-ajax .loader");
  Experimental.getAjaxData("click","#questions-ajax","/profile/dashboard","GET","activity-stream","questions","#questions-ajax .loader");
  Experimental.getAjaxData("click","#following-ajax","/users/#{current_user.id}/follows","GET","activity-stream","user_follows_content","#following-ajax .loader");
  
  // jQuery(".user-following").click(function(){
  //   jQuery(".content_div").hide();
  //   jQuery(".follows_div").show();
    
  // });
  // jQuery(".user-xprofile").click(function(){
  //   jQuery(".content_div").show();
  //   jQuery(".follows_div").hide();
    
  // });




/   jQuery(window).load(function (){

/     switch('#{params[:sort]}'){
/       case "oldest":
/         $('#sort_oldest').addClass('active-tab');
/         break;
/       case "views":
/         $('#sort_views').addClass('active-tab');
/         break;
/       case "votes":
/         $('#sort_votes').addClass('active-tab');
/         break;
/       case "questions":
/         $('#question-tab').addClass('active-tab');
/         $('#question1-tab').addClass('active-tab');
/         break;
/       case "answers":
/         $('#answer-tab').addClass('active-tab');
/         break;
/       case "following":
/         $('#following-tab').addClass('active-tab');
/         break;
/       case "followers":
/         $('#followers-tab').addClass('active-tab');
/         break;
/       case "all":
/         $('#all-tab').addClass('active-tab');
/         break;
/       case "users":
/         $('#user-tab').addClass('active-tab');
/         break;
/       case "pages":
/         $('#page-tab').addClass('active-tab');
/         break;
/       default:
/         $('#sort_newest,#question-tab,#all-tab').addClass('active-tab');
/         break;
/     }
/   });
  

