.clearer.hide-responsive  
%br.hide-responsive/
.main-content
  / full slider from here
  = render "experimental/partials/fullslider"
  %br.clearer/
  / spotlight starts from here
  = render "experimental/partials/spotlight"
  .clearer
  %br.clearer/
.main-content-left
  / tabs starts from here
  = render "experimental/partials/tabs_short"
  / trending starts from here
  = render "experimental/partials/trending_short"
  .clearer.hide-responsive
  %br.clearer/
/side bar
.sidebar
  /login box
  - if current_user.nil?
    /login box
    = render "experimental/partials/login_box"
  -else
    /profile box
    = render "experimental/partials/profile_box"

  / social login box
  = render "experimental/partials/social_login_box"
  / member box
  / = render "experimental/partials/member_box"
  / left bar
  = render "experimental/partials/left_bar"
  /widget top
  = render "experimental/partials/widget_top"
  / .clearer.hide-responsive
  / %br.clearer/
  / newly reviewd
  / = render "experimental/partials/newly_reviewed"
  /popular box
  = render "experimental/partials/popular_box"
  /rating box
  = render "experimental/partials/rating_box"
  /banner box
  = render "experimental/partials/banner"
  = link_to_rpx "Sign in", user_session_url

  =javascript_include_rpx(user_session_url)
  / or near sign up form
  = embed_rpx user_session_url





  