.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-160x160.jpg", :rel => "image_src"}/
		.overview-wrapper
			%h1.title= @title.upcase
			.overview
				.arrow-catpanel-bottom  
				.excerpt-new.justify-content
					.dropcap.prociono
						-unless @about.nil?
							= strip_tags(@about.static_content).strip.to(0)
					%p.filter-content-new
						= strip_tags(@about_content[1])

/side bar
.sidebar
	= render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	= render "experimental/partials/newly_reviewed"
	/popular box
	= render "experimental/partials/popular_box"
	/rating box
	= render "experimental/partials/rating_box"
	/banner box
	= render "experimental/partials/banner_box"