#main-wrapper-dark
	/ this is only used for the dark skin since it already uses an image for the background texture and light does not
	.main-content-left
		%br.clearer/
		#spotlight-wrapper
		.page-content.review.single-post
			.ribbon-shadow-left  
			.section-wrapper
				/ spotlight section header
				.section
					.comment-bubble
						%a{:href => "#respond", :title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 0
					= @title.upcase
			.section-arrow  
		.page-content.review
			%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-160x160.jpg", :rel => "image_src"}/
			.overview-wrapper
				/ %h1.title Login
				.overview-new.nopadding-top
					.overview.nopadding-top
						.excerpt-new1.justify-content
							%p.filter-content-new
								.pullquote-wrapper.left
									.pullquote.prociono  Living positively,together
								%p 
									= @about.static_content.html_safe
				.content-panel
					#authorbox
						%h2 Industrial Themes
						.arrow-catpanel-bottom  
						.inner
							.author-image
								%img{:alt => "gravatar", :height => "70", :src => "http://www.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00.png", :width => "70"}/
							.description
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper metus sed est fermentum eget malesuada orci luctus. Integer fringilla venenatis eros, non egestas ligula malesuada sit amet.
								%a{:href => "http://www.google.com"} test link
								test test test.
							%br.clearer/
							%ul.social-links
								%li.twitter
									%a{:href => "http://twitter.com/IndustrialTheme", :title => "Twitter"}  
								%li.facebook
									%a{:href => "http://www.facebook.com/facebook", :title => "Facebook"}  
								%li.linkedin
									%a{:href => "http://www.linkedin.com/in/username", :title => "LinkedIn"}  
								%li.googleplus
									%a{:href => "http://plus.google.com/112286665725634842068", :title => "Google+"}  
								%li.youtube
									%a{:href => "http://www.youtube.com/user/brianmcculloh/", :title => "YouTube"}  
								%li.flickr
									%a{:href => "http://www.flickr.com/photos/brianmcculloh/", :title => "Flickr"}  
								%li.digg
									%a{:href => "http://digg.com/users/digg", :title => "Digg"}  
								%li.email
									%a{:href => "mailto:brianmcculloh@gmail.com", :title => "Email"}  
								%li.url
									%a{:href => "http://www.outerspiceweb.com", :title => "Website"}  
							%br.clearer/
							.more-articles
								More articles by
								%a{:href => "archive-a.html", :rel => "author", :title => "Posts by Brian McCulloh"} Brian McCulloh
								\»		
					/ related partial
					= render "experimental/partials/related_box"

.sidebar
	= render "experimental/partials/login_box"
	= render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	= render "experimental/partials/newly_reviewed"
	/popular box
	= render "experimental/partials/popular_box"
	/rating box
	= render "experimental/partials/rating_box"
	/banner box
	= render "experimental/partials/banner_box"

:javascript
	jQuery.noConflict();
		jQuery(document).ready(function() { 
		
			jQuery('#related > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });
			
		});
