:css
	.class-agree{
		color:#3A423E;
		font-weight:600;
		font-size:15px;
	}
	.class-agree input{
		position:relative;
		top:2px;
	}
	.break-line{
		border-top: 1px solid #E0E0E0;
	}
	.fade-class{
		opacity:0.4;
		cursor:default;
		filter:alpha(opacity=40);
	}

.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					.comment-bubble
						/ %a{:href => "#respond", :title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 0
					/ making title stronger
					.section-for-header
						%i.icon-vcard
						= @title.upcase
			.section-arrow 
			.disclaimer{:style=> "border: 1px solid #E0E0E0;"}
				Disclaimer: This summary is not a part of the Terms of Use and is not a legal document.It is simply a reference for understanding the full terms.
				%small .
			%br 
		/ content area 
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-160x160.jpg", :rel => "image_src"}/
		%br.hide-responsive/
		.overview-wrapper
			.overview-new
				.left-panel
					%h2
						Purpose
					.tags-list-about
						%p
							1. Purpose The aim of PLUS is to enhance connections between gay, bisexual men and transgender people living with HIV
							so that we can help each other and understand that we are not alone. PLUS operates under a Policy of Inclusion where people affected by HIV,
							or interested to learn more about HIV, are welcome to join the discussion once they become registered members. Upon registration,
							it is assumed that all users acknowledge that PLUS is primarily a space for the empowerment of people livin with HIV, led by people living with HIV. 
							%br
							%span.class-agree
								=check_box_tag("check1", value = "1", checked = false, options = {:autocomplete=>"off"})
								Yes, I Agree
			%br.hide-responsive/
			%br.hide-responsive/
			%br.hide-responsive/
			.overview-new
				.left-panel
					%h2
						Values
					.tags-list-about
						%p
							2. Values
							PLUS is being managed under guidance of some core values, which we ask all registered users to acknowledge.
							The core values the PLUS team seeks to upload with the Website and Services are:
							%br
							Cooperation: work to help each other
							Dignity: treat each other with mutual respect
							Diversity: seek to create a vibrant space where multiple, sometimes differing perspectives can thrive.
							Privacy: respect people’s right to private information and freedom from interference.
							Health & Well-being: seek to deliver up-to-date information that supports physical and mental health.
							Fair and Equitable Access: seek to ensure that all people living with HIV or affected by HIV have access to services that support health and well-being, without prejudice.
							Informed Choice: respect people'≈s ability to make their own decisions when they are supplied with relevant information and advice, without duress.
							%br
							%span.class-agree
								=check_box_tag("check2", value = "1", checked = false, options = {:autocomplete=>"off"})
								Yes, I Acknowledge
			%br.hide-responsive/
			%br.hide-responsive/
			%br.hide-responsive/
			.overview-new
				.left-panel
					%h2
						Code of Conduct
					.tags-list-about
						%p
							3. Code of Conduct
							All registered users to PLUS are given access to the basic Website and Services upon acceptance of the Terms of Use that includes a Code of Conduct.
							PLUS registered users agree to act under a Code of Conduct, summarised as follows:
							%br
							Act with responsibility - You take responsibility for your contributions to the Website.
							Act with civility - You support an environment of mutual respect and do not harass other users.
							Do no harm - You do not damage or cause injury to other registered users of the Website or our technology infrastructure.
							Observe the Terms of Use and Policies - You adhere to the below Terms of Use and to the applicable community policies when you visit
							our sites or participate in our communities.
							%br
							Read the full test of the Terms of Use (including Code of Conduct and Privacy Policy).
							%br 
							%span.class-agree
								=check_box_tag("check3", value = "1", checked = false, options = {:autocomplete=>"off"})
								Yes, I Accept
			.contact-section-bottom-button{:style=>"z-index:500; margin-top:0px !important;"} 
				.janrain-sign-up{:style=>"display:none;"}
					= link_to_rpx "Next", user_session_url,:html=>{:title=>"Sign up with Janrain",:class=>"contact-button contact-button-single"}
	
			

			.content-panel.post-loop
				/ authorbox
				= render "experimental/partials/author_box"
				/ related partial
				/ = render "experimental/partials/related_box"
	%br.clearer
.sidebar
	= render "experimental/partials/login_box"
	= render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	= render "experimental/partials/newly_reviewed"
	/popular box
	= render "experimental/partials/popular_box"
	/rating box
	= render "experimental/partials/rating_box"
	/banner box
	= render "experimental/partials/banner_box"

:javascript
	jQuery.noConflict();
		jQuery(document).ready(function() { 
		
			jQuery('#related > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });
			
		});
		var calculateClick = 0;
		jQuery(".class-agree input").click(function(){
			if(jQuery(this).is(":checked")){
				calculateClick+=1;
			}
			else{
				calculateClick-=1;;
			}
			if(calculateClick==3){
				
				jQuery(".janrain-sign-up").fadeIn("slow");
				
			}
			else{
				jQuery(".janrain-sign-up").fadeOut("slow");
				
			}
		});