:css
	.class-agree{
		color:#3A423E;
		font-weight:600;
		font-size:15px;
	}
	.class-agree input{
		position:relative;
		top:2px;
	}
	.break-line{
		border-top: 1px solid #E0E0E0;
	}
	.fade-class{
		opacity:0.4;
		cursor:default;
		filter:alpha(opacity=40);
	}

.clearer.hide-responsive
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "../experimental/images/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					.comment-bubble
						/ %a{:href => "#respond", :title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 0
					/ making title stronger
					.section-for-header
						%i.icon-vcard
						= @title.upcase
			.section-arrow
			.disclaimer{:style=> "border: 1px solid #E0E0E0;"}
				Disclaimer: This summary is not a part of the Terms of Use and is not a legal document.It is simply a reference for understanding the full terms.
				%small .
			%br
		/ content area
		%link{:href => "../experimental/images/movies3-160x160.jpg", :rel => "image_src"}/
		/ %br.hide-responsive/
		.overview-wrapper
			.overview-new
				.left-panel
					%h3
						3-Step First Registration Orientation
						%p.floatleft
							Here is a quick summary of key facts that you need to know as you register for BE.

		.overview-wrapper
			.overview-new
				.left-panel
					%h2
						1. Purpose
					#lipsum.tags-list-about
						%p
							The aim of BE is to support the well-being of young people who are exploring their sexual orientation and gender identity. The service will provide information about the diverse lives of gay, lesbian, bisexual and transgender people, as well as people who are simply curious about sexual orientations and/or gender identities.
						%p
							BE operates under a Policy of Inclusion where people of various sexual orientations, gender identities, ages, ethnicity, socio-economic status and religions are welcome to join the discussion once they become registered members. Upon registration, it is assumed that all users acknowledge that BE is primarily a space for the empowerment of young people who are exploring their sexual orientation and gender identity including, but not limited to, people who identify as gay, lesbian, bisexual and transgender or curious.
							%br
							%span.class-agree
								=check_box_tag("check1", value = "1", checked = false, options = {:autocomplete=>"off"})
								Yes, I Agree
			/ %br.hide-responsive/
			/ %br.hide-responsive/
			/ %br.hide-responsive/
			.overview-new
				.left-panel
					%h2
						2. Values
					#lipsum.tags-list-about
						%p
							BE operates with the guidance of some core values, which we ask all registered users to honour.
						%p
							The core values the BE team seeks to uphold with the Website and Services are:
							%ul.disc
								%li
									Cooperation: work to help each other
								%li
									Dignity: treat each other with mutual respect
								%li
									Diversity: seek to create a vibrant space where multiple, sometimes differing perspectives can thrive.
								%li
									Privacy: respect people’s right to private information and freedom from interference.
								%li
									Health & Well-being: seek to deliver up-to-date information that supports physical and mental health.
								%li
									Fair and Equitable Access: seek to ensure that all people, regardless of sexual orientation, gender identity, age, ethnicity, socio-economic status or religion have access to services that support health and well-being, without prejudice.
								%li
									Informed Choice: respect people’s ability to make their own decisions when they are supplied with relevant information and advice, without compulsion or duress.

							%span.class-agree
								=check_box_tag("check2", value = "1", checked = false, options = {:autocomplete=>"off"})
								Yes, I Acknowledge
			/ %br.hide-responsive/
			/ %br.hide-responsive/
			/ %br.hide-responsive/
			.overview-new
				.left-panel
					%h2
						3. Code of Conduct
					.tags-list-about
						%p
							All registered users to BE are given access to the basic Website and Services upon acceptance of the Terms of Use that includes a Code of Conduct.
						%p
							BE registered users agree to act under a Code of Conduct, summarised as follows:
							%ul.disc
								%li
									Act with responsibility – You take responsibility for your contributions to the Website.
								%li
									Act with respect – You support an environment of mutual respect and do not harass other users.
								%li
									Do no harm (? possible to change to a positive) – You do not damage or cause injury to other registered users of the Website or our technology infrastructure.
								%li
									Observe the Terms of Use and Policies – You adhere to the below Terms of Use and to the applicable community policies when you visit our sites or participate in our communities.

							%span.class-agree
								=check_box_tag("check3", value = "1", checked = false, options = {:autocomplete=>"off"})
								Yes, I Accept
			=# form_tag ('/signup')  do
			- if params[:via]=="email"
				= form_tag('/signup', {:onSubmit => 'return validateForm()'} )do
					/ - if params[:via]=="email"
					.overview-new
						.left-panel
							%h2
								Please Enter Your Invite Code
							%p
								%label{:for => "invite_code"} InviteCode:
								= text_field_tag :invite_code, params[:invite_code], :placeholder => "Enter Invite Code"
					.contact-section-bottom-button.button-margin{:style=>"z-index:500; margin-top:0px !important; display:none"}
						.janrain-sign-up{:style=>"display:none;"}


							%p
								- if params[:via]=="email"

									- session[:signup]="email"
									- if session[:signup]
										= submit_tag "Next", :class=>"contact-button contact-button-single set-button-margin", :id=>"email-button"


			- else

				.overview-new
					.left-panel
						%h2
							Please Enter Your Invite Code
						%p
							%label{:for => "invite_code"} InviteCode:
							= text_field_tag :invite_code, session[:invite_code],:placeholder => "Enter Invite Code"
				.contact-section-bottom-button.button-margin{:style=>"z-index:500; margin-top:0px !important; display:none"}
					.janrain-sign-up{:style=>"display:none;"}
						%p
							= link_to "Next", "#",:title=>"Sign up with Janrain",:class=>"contact-button contact-button-single set-button-margin" ,:id=>"frogen-next"
							/ = link_to_rpx "Next", user_session_url(),:html=>{:style=>"display:none",:title=>"Sign up with Janrain",:class=>"contact-button contact-button-single set-button-margin" ,:id=>"janrain-next"}
			.content-panel.post-loop
				/ authorbox
				= render "experimental/partials/author_box"
				/ related partial
				/ = render "experimental/partials/related_box"



	%br.clearer
.sidebar
	/login box
	- if current_user.nil?
		/login box
		= render "experimental/partials/login_box"
	-else
		/profile box
		= render "experimental/partials/profile_box"

	/ social login box
	= render "experimental/partials/social_login_box"
	/ member box
	/ = render "experimental/partials/member_box"
	/ left bar
	= render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	/ = render "experimental/partials/newly_reviewed"
	/popular box
	/ = render "experimental/partials/popular_box"
	/rating box
	= render "experimental/partials/rating_box"
	/banner box
	= render "experimental/partials/banner_box"
= link_to_rpx "Next", user_session_url(),:html=>{:style=>"display:none",:title=>"Sign up with Janrain",:class=>"contact-button contact-button-single set-button-margin" ,:id=>"janrain-next"}
:javascript
	jQuery.noConflict();
		jQuery(document).ready(function() {

			jQuery('#related > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });

		});
		var calculateClick = 0;
		jQuery(".class-agree input").click(function(){
			if(jQuery(this).is(":checked")){
				calculateClick+=1;
			}
			else{
				calculateClick-=1;;
			}
			if(calculateClick==3){
				jQuery(".contact-section-bottom-button").show()
				jQuery(".janrain-sign-up").fadeIn("slow");

			}
			else{
				jQuery(".janrain-sign-up").fadeOut("slow");

			}
		});

	jQuery("#email-button").click(function(){
		if( $("#invite_code").val().length == 0 ) {
			alert("Please enter Invite Code");
			return false;
		}
	});

	jQuery("#frogen-next").click(function(){

		if(jQuery("#invite_code").val()== ""){
			alert("Please enter Invite Code");
			return false;
		}else{
			$('#janrain-next').click();
		}

	});


