.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					.comment-bubble
						%a{:href => "#respond", :title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 0
					/ making title stronger
					.section-for-header
						%i.icon-vcard
						= @title.upcase
			.section-arrow 
		/ content area 
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-160x160.jpg", :rel => "image_src"}/
		.overview-wrapper
			/ %h1.title Login
			.overview-new.nopadding-top.padding-about
				.excerpt-new1.justify-content.nopadding-top
					%p.filter-content-new
						%h2
							Social plugins
						.pullquote-wrapper.left
							.pullquote.prociono  Living positively,together
						%p 
							/ = @about.static_content.html_safe
			/ Please remove padding bottom class when you furthe use to show content			
			.section-bottom
				.category.qa-q-item-tags
					.catname
						Tags
					.category-arrow  
				.tags-list-about
					%span.tags1_2
						%a{:href => "/tags/technology"} Sample1
						%span
							x
						%span.avoid_link_color{:style => "font-weight:600"}
							0
					&nbsp;&nbsp;
					%span.tags1_2
						%a{:href => "/tags/business"} sample2
						%span
							x
						%span.avoid_link_color{:style => "font-weight:600"}
							1
					&nbsp;&nbsp;
					%span.tags1_2
						%a{:href => "/tags/science"} sample3
						%span
							x
						%span.avoid_link_color{:style => "font-weight:600"}
							2
					%br
			.content-panel.post-loop
				/ authorbox
				= render "experimental/partials/author_box"
				/ related partial
				/ = render "experimental/partials/related_box"

.sidebar
	= render "experimental/partials/login_box"
	= render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	= render "experimental/partials/newly_reviewed"
	/popular box
	= render "experimental/partials/popular_box"
	/rating box
	= render "experimental/partials/rating_box"
	/banner box
	= render "experimental/partials/banner_box"

:javascript
	jQuery.noConflict();
		jQuery(document).ready(function() { 
		
			jQuery('#related > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });
			
		});
