/ content variable
-unless @tos.nil?
  - contentVarible = strip_tags(@tos.static_content)
.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  .page-content.review.single-post
    %link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
    .review-content
      .ribbon-shadow-left  
      .section-wrapper
        / full article header
        .section
          .comment-bubble
            / %a{:href => "#respond", :title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 0
          %span.posted-label 
          %b TERMS OF USE
      .ribbon-shadow-right  
      .section-arrow  
      / %h1.title 
      /   =@title.capitalize
      .content-panel
        .the-content.justify-content
          .dropcap.prociono
          %p 
            -if !@tos.static_content.nil? 
              = @tos.static_content.html_safe
            
          %p
            / the tabs
          .tabs-shortcode
            %ul.tabnav
              %li
                %a.first{:href => "#1"} Details
              %li
                %a{:href => "#2"} Top Critic Reviews
              %li
                %a{:href => "#3"} Full Cast and Crew
              / %li
              /   %a{:href => "#4"} Buy Tickets Online
            .tabdiv-wrapper
              #1.tabdiv
                %h3 Details
                %p
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  %a{:href => "#"}>
                    %img.aligncenter.size-medium.wp-image-458{:alt => "", :height => "300", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music6-300x300.jpg", :title => "music6", :width => "300"}/
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              #2.tabdiv
                %h3 Top Critic Reviews
                %p
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  %a{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3.jpg"}>
                    %img.aligncenter.size-medium.wp-image-445{:alt => "", :height => "211", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-300x211.jpg", :title => "movies3", :width => "300"}/
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              #3.tabdiv
                %h3 Full Cast and Crew
                %p
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  %a{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies1.jpg"}
                    %img.aligncenter.size-medium.wp-image-443{:alt => "", :height => "203", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies1-300x203.jpg", :title => "movies1", :width => "300"}/
          .toggle-box-wrapper
            .toggle-box
              %h3.toggle Read More Details About This Review
              .toggle-content
                %p Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.
                .quote-wrapper
                  .quote Proin sit amet mi non lorem porttitor interdum. In odio diam, pretium sit amet tincidunt a, rutrum vitae est. Nunc cursus hendrerit sem sed elementum. Mauris elit velit, vulputate eu tincidunt sit amet, sodales a dolor.
                %p Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.
                %p Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.
                %p Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.
                .box-wrapper.tip
                  .box.tip Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.
          .signoff-wrapper
            .signoff Did you enjoy this article? If so, we’d love to hear your thoughts in the comments below. It would be great if you subscribed to our RSS feed or signed up for email updates to get more goodness. There’s lots more where this came from!
        .clearer.hide-responsive
        %br.clearer/
  / partial for trending
  = render "experimental/partials/trending_short"

/side bar
.sidebar
  = render "experimental/partials/left_bar"
  /widget top
  = render "experimental/partials/widget_top"
  / .clearer.hide-responsive
  / %br.clearer/
  / newly reviewd
  = render "experimental/partials/newly_reviewed"
  /popular box
  = render "experimental/partials/popular_box"
  /rating box
  = render "experimental/partials/rating_box"
  /banner box
  = render "experimental/partials/banner_box"

:javascript
  jQuery.noConflict();
  jQuery(document).ready(function() { 
  
    jQuery('#related > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });
    // for making first character styled
    Experimental.getMainContent("#{contentVarible}");
    
  });