/ content variable
-unless @tos.nil?
  - contentVarible = strip_tags(@tos.static_content)
.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  .page-content.review.single-post
    %link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
    .review-content
      .ribbon-shadow-left  
      .section-wrapper
        / full article header
        .section
          .comment-bubble
            %a{:href => "#respond", :title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 0
          %span.posted-label Posted
          June 19, 2012 by
          %a{:href => "http://www.industrialthemes.com", :rel => "author external", :title => "Visit Brian McCulloh’s website"} Brian McCulloh
          %span.category-label
            in
            %a{:href => "#"} Blog
      .ribbon-shadow-right  
      .section-arrow  
      %h1.title 
        =@title.capitalize
      .content-panel
        .the-content.justify-content
          .dropcap.prociono
            -unless @tos.nil? 
              = strip_tags(@tos.static_content).strip.to(0).upcase
          %p.filter-content
            /content is pushing by the jquery
          .pullquote-wrapper.left
            .pullquote.prociono
              = current_group.site_slogan.capitalize
          %p Phasellus consectetur feugiat elit, id auctor lectus pellentesque mollis. Donec a tellus a eros laoreet ultrices non non nisi. Nulla et sem nisi. Praesent egestas ultricies feugiat. In hac habitasse platea dictumst. Cras a lacus erat. Aenean tempor nibh non lorem vulputate sodales. Suspendisse erat dui, vestibulum at sagittis sit amet, sodales ut felis. Aenean fermentum ipsum sit amet ante facilisis euismod. Aenean pellentesque scelerisque eros, sit amet convallis arcu imperdiet sed. Donec sit amet nisi orci, vitae suscipit ipsum. Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          %p
            / the tabs
          .tabs-shortcode
            %ul.tabnav
              %li
                %a.first{:href => "#1"} Details
              %li
                %a{:href => "#2"} Top Critic Reviews
              %li
                %a{:href => "#3"} Full Cast and Crew
              %li
                %a{:href => "#4"} Buy Tickets Online
            .tabdiv-wrapper
              #1.tabdiv
                %h3 Details
                %p
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  %a{:href => "#"}>
                    %img.aligncenter.size-medium.wp-image-458{:alt => "", :height => "300", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music6-300x300.jpg", :title => "music6", :width => "300"}/
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              #2.tabdiv
                %h3 Top Critic Reviews
                %p
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  %a{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3.jpg"}>
                    %img.aligncenter.size-medium.wp-image-445{:alt => "", :height => "211", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-300x211.jpg", :title => "movies3", :width => "300"}/
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              #3.tabdiv
                %h3 Full Cast and Crew
                %p
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  %a{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies1.jpg"}
                    %img.aligncenter.size-medium.wp-image-443{:alt => "", :height => "203", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies1-300x203.jpg", :title => "movies1", :width => "300"}/
              #4.tabdiv
                %h3 Buy Tickets Online
                %p
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                  %a{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music9.jpg"}>
                    %img.aligncenter.size-medium.wp-image-461{:alt => "", :height => "295", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music9-300x295.jpg", :title => "music9", :width => "300"}/
                  Donec sollicitudin venenatis mattis. Vestibulum fermentum, risus a luctus fermentum, enim purus aliquet tellus, id interdum nisl velit nec diam. Etiam mauris odio, aliquam a elementum eu, vulputate eu nunc. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          .toggle-box-wrapper
            .toggle-box
              %h3.toggle Read More Details About This Review
              .toggle-content
                %p Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.
                .quote-wrapper
                  .quote Proin sit amet mi non lorem porttitor interdum. In odio diam, pretium sit amet tincidunt a, rutrum vitae est. Nunc cursus hendrerit sem sed elementum. Mauris elit velit, vulputate eu tincidunt sit amet, sodales a dolor.
                %p Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.
                %p Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.
                %p Maecenas faucibus mattis elit, vitae rutrum arcu suscipit et. Sed blandit convallis convallis. Etiam iaculis porttitor massa, quis tincidunt sapien varius at. Quisque sapien lectus, suscipit venenatis sagittis sed, ullamcorper vitae leo. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.
                .box-wrapper.tip
                  .box.tip Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Maecenas adipiscing nibh eu augue ultricies laoreet eu sed eros. Maecenas lectus dui, tristique ut sollicitudin vel, pellentesque quis diam.
          .signoff-wrapper
            .signoff Did you enjoy this article? If so, we’d love to hear your thoughts in the comments below. It would be great if you subscribed to our RSS feed or signed up for email updates to get more goodness. There’s lots more where this came from!
        .clearer
        %br/
        .tags
          %a.hybird{:href => "archive-a.html", :title => "hybird Tag"} hybird
          %a.men{:href => "archive-a.html", :title => "men Tag"} men
          %a.modern{:href => "archive-a.html", :title => "modern Tag"} modern
          %a.old-fashion{:href => "archive-a.html", :title => "old fashion Tag"} old fashion
          %a.prototype{:href => "archive-a.html", :title => "prototype Tag"} prototype
          %a.ready-to-wear{:href => "archive-a.html", :title => "ready to wear Tag"} ready to wear
          %a.red-carpet{:href => "archive-a.html", :title => "red carpet Tag"} red carpet
        .clearer
        #authorbox
          %h2 Industrial Themes
          .arrow-catpanel-bottom  
          .inner
            .author-image
              %img{:alt => "gravatar", :height => "70", :src => "http://www.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00.png", :width => "70"}/
            .description
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper metus sed est fermentum eget malesuada orci luctus. Integer fringilla venenatis eros, non egestas ligula malesuada sit amet.
              %a{:href => "http://www.google.com"} test link
              test test test.
            %br.clearer/
            %ul.social-links
              %li.twitter
                %a{:href => "http://twitter.com/IndustrialTheme", :title => "Twitter"}  
              %li.facebook
                %a{:href => "http://www.facebook.com/facebook", :title => "Facebook"}  
              %li.linkedin
                %a{:href => "http://www.linkedin.com/in/username", :title => "LinkedIn"}  
              %li.googleplus
                %a{:href => "http://plus.google.com/112286665725634842068", :title => "Google+"}  
              %li.youtube
                %a{:href => "http://www.youtube.com/user/brianmcculloh/", :title => "YouTube"}  
              %li.flickr
                %a{:href => "http://www.flickr.com/photos/brianmcculloh/", :title => "Flickr"}  
              %li.digg
                %a{:href => "http://digg.com/users/digg", :title => "Digg"}  
              %li.email
                %a{:href => "mailto:brianmcculloh@gmail.com", :title => "Email"}  
              %li.url
                %a{:href => "http://www.outerspiceweb.com", :title => "Website"}  
            %br.clearer/
            .more-articles
              More articles by
              %a{:href => "archive-a.html", :rel => "author", :title => "Posts by Brian McCulloh"} Brian McCulloh
              \»
        /partial for related item box
        = render "experimental/partials/related_items_box"
        .clearer.hide-responsive
        %br.clearer/
  / partial for trending
  = render "experimental/partials/trending_short"

/side bar
.sidebar
  = render "experimental/partials/left_bar"
  /widget top
  = render "experimental/partials/widget_top"
  / .clearer.hide-responsive
  / %br.clearer/
  / newly reviewd
  = render "experimental/partials/newly_reviewed"
  /popular box
  = render "experimental/partials/popular_box"
  /rating box
  = render "experimental/partials/rating_box"
  /banner box
  = render "experimental/partials/banner_box"

:javascript
  jQuery.noConflict();
  jQuery(document).ready(function() { 
  
    jQuery('#related > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });
    // for making first character styled
    Experimental.getMainContent("#{contentVarible}");
    
  });