-content_for :js do
  = javascript_include_tag(:codemirror)

-content_for :css do
  = stylesheet_link_tag(:codemirror)

.form-row.row-fluid
  .span12
    .row-fluid
      = form.label t('shared.name'),:class=>"form-label span3"
      = form.text_field :name,:class=>"span9 text"

.form-row.row-fluid
  .span12
    .row-fluid  
      = form.label t('shared.description'),:class=>"form-label span3"
      = form.text_area :description,:class=>"span9 textarea-3column"

.form-row.row-fluid
  .span12
    .row-fluid
      = form.label I18n.t('themes.form.fluid_layout'),:class=>"form-label span3"
      %span.checkbox-adjust
        = form.check_box :fluid
.form-row.row-fluid
  .span12
    .row-fluid
      %sapn.span3
      %small
        = I18n.t('themes.form.fluid_layout_legend')
  .clear

%h2
  = I18n.t('themes.form.colors_and_bg')
.form-row.row-fluid
  .span12
    .row-fluid
      %fieldset.theme_colors
        .field.color_field
          = form.label I18n.t('themes.show.bg_color'),:class=>"form-label span3"
          = form.text_field :bg_color, :type => "color", :value => "##{@theme.bg_color.to_s.gsub(/#/, "")}",:class=>"span9 text"
.form-row.row-fluid
  .span12
    .row-fluid
      %sapn.span3
      %small
        = I18n.t('themes.form.bg_color_legend')

  .form-row.row-fluid
    .span12
      .row-fluid
        -if !@theme.new? && @theme.has_bg_image?
          = image_tag(bg_image_path(@theme.group,@theme.id,@theme.version))
          =link_to t("scaffold.destroy"), remove_bg_image_theme_path(@theme)
        = form.label I18n.t('themes.show.bg_image'),:class=>"form-label span3"
        = form.file_field :bg_image

  .form-row.row-fluid
    .span12
      .row-fluid
        %sapn.span3
        %small
          = I18n.t('themes.form.bg_image_legend')

  .form-row.row-fluid
    .span12
      .row-fluid
        = form.label  I18n.t('themes.show.main_color'),:class=>"form-label span3"
        = form.text_field :brand_color, :type => "color", :value => "##{@theme.brand_color.to_s.gsub(/#/, "")}",:class=>"text span9"
  .form-row.row-fluid
    .span12
      .row-fluid
        %sapn.span3
        %small
          = I18n.t('themes.form.main_color_legend')
  .form-row.row-fluid
    .span12
      .row-fluid
        = form.label  I18n.t('themes.show.modules_color'),:class=>"form-label span3"
        = form.text_field :view_bg_color, :type => "color", :value => "##{@theme.view_bg_color.to_s.gsub(/#/, "")}",:class=>"text span9"

  .form-row.row-fluid
    .span12
      .row-fluid
        %sapn.span3
        %small
          = I18n.t('themes.form.modules_color_legend')

  .form-row.row-fluid
    .span12
      .row-fluid
        = form.label I18n.t('themes.show.text_color'),:class=>"form-label span3"
        = form.text_field :fg_color, :type => "color", :value => "##{@theme.fg_color.to_s.gsub(/#/, "")}",:class=>"span9 text"

  .form-row.row-fluid
    .span12
      .row-fluid
        %sapn.span3
        %small
          = I18n.t('themes.form.text_color_legend')

  .form-row.row-fluid
    .span12
      .row-fluid
        = form.label I18n.t('themes.show.topbar_color'),:class=>"form-label span3"
        = form.text_field :topbar_color, :type => "color", :value => "##{@theme.topbar_color.to_s.gsub(/#/, "")}",:class=>"span9 text"

  .form-row.row-fluid
    .span12
      .row-fluid
        %sapn.span3
        %small
          = I18n.t('themes.form.topbar_color_legend')

  .form-row.row-fluid
    .span12
      .row-fluid
        = form.label :custom_css, :class=>"form-label span3"
        = form.text_area :custom_css, :class => "code", :data => {:lang => "css"}, :class=>"span9 text"
  
  .form-row.row-fluid
    .span12
      .row-fluid
        %sapn.span3
        %small
          = I18n.t('themes.form.custom_css_legend')
  -if !@theme.last_error.blank?
    =@theme.last_error

- if current_group.shapado_version.has_custom_themes?
  - if current_group.shapado_version.has_custom_js?
    .field
      = form.label :javascript
      = form.file_field :javascript

      = link_to "edit", "#", class: "show_dialog", data: { target: "javascript" }


  .form-row.row-fluid
    .span12
      .row-fluid
        = form.label :layout_html,:class=>"form-label span3"
        = form.file_field :layout_html,:class=>"span9 text"
        = link_to "edit", "#", class: "show_dialog", data: { target: "layout_html" }
  .form-row.row-fluid
    .span12
      .row-fluid
        %sapn.span3
        %small
          = I18n.t('themes.form.layout_html')

  .form-row.row-fluid
    .span12
      .row-fluid
        = form.label :questions_index_html,:class=>"form-label span3"
        = form.file_field :questions_index_html,:class=>"span9 text"
        = link_to "edit", "#", class: "show_dialog", data: { target: "questions_index_html" }
  .form-row.row-fluid
    .span12
      .row-fluid
        %sapn.span3
        %small
          = I18n.t('themes.form.questions_index_html')

  .form-row.row-fluid
    .span12
      .row-fluid
        = form.label :questions_show_html,:class=>"form-label span3"
        = form.file_field :questions_show_html,:class=>"span9 text"
        = link_to "edit", "#", class: "show_dialog", data: { target: "questions_show_html" }

  .form-row.row-fluid
    .span12
      .row-fluid
        %sapn.span3
        %small
          = I18n.t('themes.form.questions_show_html')

  .form-row.row-fluid
    .span12
      .row-fluid
        .form-actions{:style => "width: 100% !important; margin-left: -10px !important; margin-bottom: -18px !important"}
          .span9
            &nbsp;
          .span3.controls
            = form.button :value => I18n.t('themes.form.submit_update'), :class => "btn marginR10", :style => "padding: 4px 10px !important; border-width: 1px !important; border-style: solid !important"
            = link_to "Cancel", admin_path, :class => "btn btn-danger", :style => "padding: 5px 10px !important; border-width: 1px !important; border-style: solid !important"
    


