%ul
  %li{:style => "padding-bottom:0px !important"}
    .user-info
      %h2{:style => "margin-top: -4px !important;"}
        = poll.poll_title
        %small
          = link_to "Edit", admin_polls_path(:tab=>"new", :id => poll.id)
          |
          = link_to "Delete", manage_poll_path(:id => poll.id), :method => :delete, :confirm => "Are you sure? This news will no longer exist"
      %p.description
        Contributors: #{poll.contributors_count}
      %p.description
        %small
          by #{poll.user.try(:name)}
          at #{poll.created_at.to_datetime.strftime("%d %b %Y - %I:%M %p")}