- content_for :title do
  Tier 5
    
= image_tag "plus/body_about.jpg", :class => "body_header"
.alpha.grid_24.body_about{:id => "firstElement", :style => "margin-bottom: 15px;width: 958px;"}
  %span{:class => "p_a"}
    Tier 5
  %span{:class => "p_a1", :style => "position: absolute !important; left: 25px;"}
    = link_to "Home", "/"
    > Tier 5
  .ask
    = form_for @profile_tier5, :url => {:controller => :tier5, :action => :create}, :method => :post do |f|
      %p{:class => "ask2"}
        %strong
          = label_tag "Occupation"
      .search3
        = f.text_field :occupation, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "Religion"
      .search3
        = f.text_field :religion, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "Drink Alcohol"
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier5", "is_drink_alcohol", true, :disabled => @is_disable)
              Yes
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier5", "is_drink_alcohol", false, :disabled => @is_disable)
              No
      %p{:class => "ask2"}
        %strong
          = label_tag "Smoker"
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier5", "is_smoker", true, :disabled => @is_disable)
              Yes
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier5", "is_smoker", false, :disabled => @is_disable)
              No
      %p{:class => "ask2"}
        %strong
          = label_tag "Music"
      .search3
        = f.text_area :music, :disabled => @is_disable, :rows => 5
      %p{:class => "ask2"}
        %strong
          = label_tag "Books"
      .search3
        = f.text_area :books, :disabled => @is_disable, :rows => 5
      %p{:class => "ask2"}
        %strong
          = label_tag "Movies"
      .search3
        = f.text_area :movies, :disabled => @is_disable, :rows => 5
      %p{:class => "ask2"}
        %strong
          = label_tag "Other interests and hobbies "
      .search3
        = f.text_area :other_interest, :disabled => @is_disable, :rows => 5

      .search3
        - unless @is_disable
          = link_to "<span>Submit</span>".html_safe, "#", :class => "ask_tag2", :id => "ask_question_link", :style => "margin-bottom: 10px;"

:javascript
  $("#ask_question_link").click(function (){
    $("#new_profile_tier5,#edit_profile_tier5").submit();
  });