.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					.section-for-header
						Badges
			.section-arrow
			.overview-wrapper
				.overview-new.nopadding-top.padding-about
					.content-panel
						.the-content
							/ old plus content
							%h2
								= render :partial => "badges/badge", :object => @badge, :locals => {:hide_user => true}
							%p
								= @badge.description
							.counter
								%p
									%b
										=@badges.total_count
									=t(".description")
								-@users.each do |user|
									= render :partial => "user", :object => user, :locals => {:badge => @badge}

							=paginate @badges


/side bar
.sidebar
	- if current_user.nil?
		/login box
		= render "experimental/partials/login_box"
	-else
		/profile box
		= render "experimental/partials/profile_box"

	/ social login box
	= render "experimental/partials/social_login_box"
	/ member box
	= render "experimental/partials/member_box"
	/rating box
	= render "experimental/partials/rating_box"
	/rating box
	= render "experimental/partials/rating_box2"
	/ left bar
	/ = render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	= render "experimental/partials/newly_reviewed"
	/popular box
	= render "experimental/partials/popular_box"
	/banner box
	= render "experimental/partials/banner_box"