.row-fluid
  .span8
    .centerContent
      %ul{:class => "bigBtnIcon"}
        %li
          = link_to "<span class='icon entypo-icon-users'></span><span class='txt'>Users</span>".html_safe, members_path, :class => "tipB"
        %li
          = link_to "<span class='icon icomoon-icon-support'></span><span class='txt'>Support tickets</span>".html_safe, "#"
        %li
          = link_to "<span class='icon icomoon-icon-comments-2'></span><span class='txt'>New Comments</span>".html_safe, "#"
        %li
          = link_to "<span class='icon icomoon-icon-basket'></span><span class='txt'>Orders</span>".html_safe, "#"
        %li
          = link_to "<span class='icon icomoon-icon-history'></span><span class='txt'>Backups</span>".html_safe, "#"
        %li
          = link_to "<span class='icon icomoon-icon-meter-fast'></span><span class='txt'>Site Usage</span>".html_safe, "#"
  .span4
    .centerContent
      .circle-stats
        .circular-item.tipB{:title => "Site overload"}
          %span{:class => "icon icomoon-icon-fire"}
          = text_field_tag "", 62, :class => "redCircle"
        .circular-item.tipB{:title => "Site average load time"}
          %span{:class => "icon icomoon-icon-busy"}
          = text_field_tag "", 12, :class => "blueCircle"
        .circular-item.tipB{:title => "Site overload"}
          %span{:class => "icon icomoon-icon-target"}
          = text_field_tag "", 94, :class => "greenCircle"

.row-fluid
  .span8
    .box.chart.gradient
      .title
        %h4
          %span{:class => "icon16 icomoon-icon-bars"}
          %span
            Visitor Charts
      .content{:style => "padding-bottom:0;"}
        .visitors-chart{:style => "height: 230px; width: 100%; margin-top: 15px; margin-bottom: 15px; padding: 0px; position: relative;"}
        %ul{:class => "chartShortcuts"}
          %li
            = link_to "<span class='head'>Total Visits</span><span class='number'>509</span>".html_safe
          %li
            = link_to "<span class='head'>Unique Visits</span><span class='number'>509</span>".html_safe
          %li
            = link_to "<span class='head'>External Visits</span><span class='number'>509</span>".html_safe
          %li
            = link_to "<span class='head'>Impression</span><span class='number'>509</span>".html_safe

  .span4
    .sparkStats
      %h4
        300 people visited this site
      %ul{:class => "unstyled"}
        %li
          %span{:class => "sparkLine1"}
          Visits:
          %span{:class => "number"}
            500
        %li
          %span{:class => "sparkLine2"}
          Pageviews:
          %span{:class => "number"}
            500
        %li
          %span{:class => "sparkLine3"}
          Duration :
          %span{:class => "number"}
            500
        %li
          %span{:class => "sparkLine4"}
          New Visits:
          %span{:class => "number"}
            500

.row-fluid
  .span4 
    .box.gradient
      .title
        %h4
          %span{:class => "icon16 icomoon-icon-pie"}
          %span
            Visitor overview
      .content
        .pieStats{:style => "height: 240px; width: 100%; padding: 0px; position: relative;"}

  .span4
    .box.gradient
      .title
        %h4
          %span{:class => "icon16 entypo-icon-thumbs-up"}
          %span
            Vital Stats
            %span{:class => "label label-success"}
              %span{:class => "icomoon-icon-arrow-up white"}
                1000
      .content
        %ul{:class => "unstyled"}
          %li
            %span{:class => "icomoon-icon-arrow-up green"}
            80% Clicks
            %span{:class => "pull-right strong"}
              500
            .progress.progress-striped
              .bar{:style => "width: 81%"}
          %li
            %span{:class => "icomoon-icon-arrow-up green"}
            72% Unique Clicks
            %span{:class => "pull-right strong"}
              599
            .progress.progress-success.progress-striped
              .bar{:style => "width: 72%"}
          %li
            %span{:class => "icomoon-icon-arrow-up green"}
            50% Impressions
            %span{:class => "pull-right strong"}
              250
            .progress.progress-warning.progress-striped
              .bar{:style => "width: 50%"}
          %li
            %span{:class => "icomoon-icon-arrow-up green"}
            3% Online Users
            %span{:class => "pull-right strong"}
              50
            .progress.progress-danger.progress-striped
              .bar{:style => "width: 20%"}

  .span4
    .reminder
      %h4
        Notifications
      %ul
        %li{:class => "clearfix"}
          .icon
            %span{:class => "icon32 icomoon-icon-basket gray"}
          %span{:class => "number"}
            7
          %span{:class => "txt"}
            New Users
          = link_to "Go", "#", :class => "btn btn-warning"
        %li{:class => "clearfix"}
          .icon
            %span{:class => "icon32 icomoon-icon-support red"}
          %span{:class => "number"}
            3
          %span{:class => "txt"}
            New Questions
          = link_to "Go", "#", :class => "btn btn-warning"
        %li{:class => "clearfix"}
          .icon
            %span{:class => "icon32 icomoon-icon-comments-4 blue"}
          %span{:class => "number"}
            13
          %span{:class => "txt"}
            New Answers
          = link_to "Go", "#", :class => "btn btn-warning"
        %li{:class => "clearfix"}
          .icon
            %span{:class => "icon32 icomoon-icon-new green"}
          %span{:class => "number"}
            1
          %span{:class => "txt"}
            Invoices
          = link_to "Go", "#", :class => "btn btn-warning"
        %li{:class => "clearfix"}
          .icon
            %span{:class => "icon32 icomoon-icon-cog dark"}
          %span{:class => "number"}
            4
          %span{:class => "txt"}
            Changes
          = link_to "Go", "#", :class => "btn btn-warning"

.row-fluid
  .span8
    .box.calendar.gradient
      .title
        %h4
          %i{:class => "icon16 brocco-icon-calendar"}
          %span
            Calendar
      .content.noPad
        %div{:id => "calendar"}
  .span4
    .todo
      %h4
        To Do List
        = link_to "<span class='icon16 icomoon-icon-plus-2'></span>".html_safe, "#", :class => "icon tip"
      %ul
        %li{:class => "clearfix"}
          .txt
            Fix Bugs
            %span{:class => "by label"}
              admin
            %span{:class => "date badge badge-important"}
              today
          .controls
            = link_to "<span class='icon12 icomoon-icon-pencil'></span>".html_safe, "#", :class => "tip" 
            = link_to "<span class='icon12 icomoon-icon-remove'></span>".html_safe, "#", :class => "tip"
        %li{:class => "clearfix"}
          .txt
            Fix Layout
            %span{:class => "by label"}
              admin
            %span{:class => "date badge badge-success"}
              tomorrow
          .controls
            = link_to "<span class='icon12 icomoon-icon-pencil'></span>".html_safe, "#", :class => "tip" 
            = link_to "<span class='icon12 icomoon-icon-remove'></span>".html_safe, "#", :class => "tip"

  .span4
    .box.gradient
      .title
        %h4
          %span{:class => "icon16 silk-icon-chat"}
          %span
            Message layout
      .content.noPad
        %ul{:class => "messages"}
          %li{:class => "user clearfix"}
            = link_to image_tag('avatar2', :alt => "avatar2"), "#", :class => "avatar"
            .message
              .head.clearfix
                %span{:class => "name"}
                  %strong
                    Me
                  says:
                %span{:class => "time"}
                  10 seconds ago
              %p
                What is this?
          %li{:class => "admin clearfix"}
            = link_to image_tag('avatar3', :alt => "avatar3"), "#", :class => "avatar"
            .message
              .head.clearfix
                %span{:class => "name"}
                  %strong
                    You
                  says:
                %span{:class => "time"}
                  just now
              %p
                ttyl
          %li{:class => "sendMsg"}
            = form_tag "#", :class => "form-horizontal" do
              = text_area_tag :message, "", :class => "elastic", :placeholder => "Enter your message", :style => "width:98%"
              = button_tag "Send Message", :class => "btn btn-info marginT10"

:javascript
  //generate random number for charts
  randNum = function(){
    //return Math.floor(Math.random()*101);
    return (Math.floor( Math.random()* (1+40-20) ) ) + 20;
  }

  var chartColours = ['#88bbc8', '#ed7a53', '#9FC569', '#bbdce3', '#9a3b1b', '#5a8022', '#2c7282'];

  //sparklines (making loop with random data for all 7 sparkline)
  i=1;
  for (i=1; i<8; i++) {
    var data = [[1, 3+randNum()], [2, 5+randNum()], [3, 8+randNum()], [4, 11+randNum()],[5, 14+randNum()],[6, 17+randNum()],[7, 20+randNum()], [8, 15+randNum()], [9, 18+randNum()], [10, 22+randNum()]];
    placeholder = '.sparkLine' + i;
    $(placeholder).sparkline(data, { 
      width: 100,//Width of the chart - Defaults to 'auto' - May be any valid css width - 1.5em, 20px, etc (using a number without a unit specifier won't do what you want) - This option does nothing for bar and tristate chars (see barWidth)
      height: 30,//Height of the chart - Defaults to 'auto' (line height of the containing tag)
      lineColor: '#88bbc8',//Used by line and discrete charts to specify the colour of the line drawn as a CSS values string
      fillColor: '#f2f7f9',//Specify the colour used to fill the area under the graph as a CSS value. Set to false to disable fill
      spotColor: '#467e8c',//The CSS colour of the final value marker. Set to false or an empty string to hide it
      maxSpotColor: '#9FC569',//The CSS colour of the marker displayed for the maximum value. Set to false or an empty string to hide it
      minSpotColor: '#ED7A53',//The CSS colour of the marker displayed for the mimum value. Set to false or an empty string to hide it
      spotRadius: 3,//Radius of all spot markers, In pixels (default: 1.5) - Integer
      lineWidth: 2,//In pixels (default: 1) - Integer
    });
  }

  //sparkline in sidebar area
  var positive = [1,5,3,7,8,6,10];
  var negative = [10,6,8,7,3,5,1];
  var negative1 = [7,6,8,7,6,5,4];


  $(document).ready(function(){
    var divElement = $('div'); //log all div elements

  //circular progrress bar
    $(function () {

      $(".greenCircle").knob({
              'min':0,
              'max':100,
              'readOnly': true,
              'width': 80,
              'height': 80,
              'fgColor': '#9FC569',
              'dynamicDraw': true,
              'thickness': 0.2,
              'tickColorizeValues': true
          })
          $(".redCircle").knob({
              'min':0,
              'max':100,
              'readOnly': true,
              'width': 80,
              'height': 80,
              'fgColor': '#ED7A53',
              'dynamicDraw': true,
              'thickness': 0.2,
              'tickColorizeValues': true
          })
          $(".blueCircle").knob({
              'min':0,
              'max':100,
              'readOnly': true,
              'width': 80,
              'height': 80,
              'fgColor': '#88BBC8',
              'dynamicDraw': true,
              'thickness': 0.2,
              'tickColorizeValues': true
          })

    });

    //------------- Visitor chart -------------//
    $(function () {
      //some data
      var d1 = [[1, 3+randNum()], [2, 6+randNum()], [3, 9+randNum()], [4, 12+randNum()],[5, 15+randNum()],[6, 18+randNum()],[7, 21+randNum()],[8, 15+randNum()],[9, 18+randNum()],[10, 21+randNum()],[11, 24+randNum()],[12, 27+randNum()],[13, 30+randNum()],[14, 33+randNum()],[15, 24+randNum()],[16, 27+randNum()],[17, 30+randNum()],[18, 33+randNum()],[19, 36+randNum()],[20, 39+randNum()],[21, 42+randNum()],[22, 45+randNum()],[23, 36+randNum()],[24, 39+randNum()],[25, 42+randNum()],[26, 45+randNum()],[27,38+randNum()],[28, 51+randNum()],[29, 55+randNum()], [30, 60+randNum()]];
      var d2 = [[1, randNum()-5], [2, randNum()-4], [3, randNum()-4], [4, randNum()],[5, 4+randNum()],[6, 4+randNum()],[7, 5+randNum()],[8, 5+randNum()],[9, 6+randNum()],[10, 6+randNum()],[11, 6+randNum()],[12, 2+randNum()],[13, 3+randNum()],[14, 4+randNum()],[15, 4+randNum()],[16, 4+randNum()],[17, 5+randNum()],[18, 5+randNum()],[19, 2+randNum()],[20, 2+randNum()],[21, 3+randNum()],[22, 3+randNum()],[23, 3+randNum()],[24, 2+randNum()],[25, 4+randNum()],[26, 4+randNum()],[27,5+randNum()],[28, 2+randNum()],[29, 2+randNum()], [30, 3+randNum()]];
      //define placeholder class
      var placeholder = $(".visitors-chart");
      //graph options
      var options = {
          grid: {
            show: true,
              aboveData: true,
              color: "#3f3f3f" ,
              labelMargin: 5,
              axisMargin: 0, 
              borderWidth: 0,
              borderColor:null,
              minBorderMargin: 5 ,
              clickable: true, 
              hoverable: true,
              autoHighlight: true,
              mouseActiveRadius: 20
          },
              series: {
                grow: {
                  active: false,
                  stepMode: "linear",
                  steps: 50,
                  stepDelay: true
                },
                  lines: {
                    show: true,
                    fill: true,
                    lineWidth: 4,
                    steps: false
                    },
                  points: {
                    show:true,
                    radius: 5,
                    symbol: "circle",
                    fill: true,
                    borderColor: "#fff",
                  }
              },
              legend: { 
                position: "ne", 
                margin: [0,-25], 
                noColumns: 0,
                labelBoxBorderColor: null,
                labelFormatter: function(label, series) {
                // just add some space to labes
                return label+'&nbsp;&nbsp;';
             }
            },
              yaxis: { min: 0 },
              xaxis: {ticks:11, tickDecimals: 0},
              colors: chartColours,
              shadowSize:1,
              tooltip: true, //activate tooltip
          tooltipOpts: {
            content: "%s : %y.0",
            shifts: {
              x: -30,
              y: -50
            }
          }
          };   
    
            $.plot(placeholder, [ 

              {
                label: "Visits", 
                data: d1,
                lines: {fillColor: "#f2f7f9"},
                points: {fillColor: "#88bbc8"}
              }, 
              { 
                label: "Unique Visits", 
                data: d2,
                lines: {fillColor: "#fff8f2"},
                points: {fillColor: "#ed7a53"}
              } 

            ], options);
            
      });

    $(function () {
      var data = [
        { label: "%78.75 New Visitor",  data: 78.75, color: "#88bbc8"},
        { label: "%21.25 Returning Visitor",  data: 21.25, color: "#ed7a53"}
      ];
      
      $.plot($(".pieStats"), data, 
      {
        series: {
          pie: { 
            show: true,
            highlight: {
              opacity: 0.1
            },
            stroke: {
              color: '#fff',
              width: 3
            },
            startAngle: 2,
            label: {
              radius:1
            }
          },
          grow: { active: false},
        },
        legend: { 
              position: "ne", 
              labelBoxBorderColor: null
          },
        grid: {
                hoverable: true,
                clickable: true
            },
            tooltip: true, //activate tooltip
        tooltipOpts: {
          content: "%s : %y.1",
          shifts: {
            x: -30,
            y: -50
          }
        }
      });
    });  

  });

:javascript
  //------------- Full calendar  -------------//
  $(function () {
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    
    //front page calendar
    $('#calendar').fullCalendar({
      //theme: true,
      header: {
        left: 'title,today',
        center: 'prev,next',
        right: 'month,agendaWeek,agendaDay'
      },
      buttonText: {
            prev: '<span class="icon24 icomoon-icon-arrow-left"></span>',
            next: '<span class="icon24 icomoon-icon-arrow-right"></span>'
        },
      editable: true,
      events: [
        {
          title: 'All Day Event',
          start: new Date(y, m, 1)
        },
        {
          title: 'Long Event',
          start: new Date(y, m, d-5),
          end: new Date(y, m, d-2)
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: new Date(y, m, d-3, 16, 0),
          allDay: false
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: new Date(y, m, d+4, 16, 0),
          allDay: false
        },
        {
          title: 'Meeting',
          start: new Date(y, m, d, 10, 30),
          allDay: false
        },
        {
          title: 'Lunch',
          start: new Date(y, m, d, 12, 0),
          end: new Date(y, m, d, 14, 0),
          allDay: false,
          color: '#9FC569'
        },
        {
          title: 'Birthday Party',
          start: new Date(y, m, d+1, 19, 0),
          end: new Date(y, m, d+1, 22, 30),
          allDay: false,
          color: '#ED7A53'
        },
        {
          title: 'Click for Google',
          start: new Date(y, m, 28),
          end: new Date(y, m, 29),
          url: 'http://google.com/'
        }
      ]
    });
  });
