.row-fluid
  .span12
    .box
      .title
        %h4
          %span{:class => "icon16 brocco-icon-home"}
          Site Config
        = link_to "Minimize", "#", :class => "minimize"
      .content{:style => "Padding-bottom: 0px !important"}
        = form_for(@group, :html => {:class => "form-horizontal", :multipart => true}) do |f|

          = f.error_messages

          =hidden_field_tag :source, domain_url(:custom => @group.domain, :controller => "admin/manage", :action => "properties", :tab => @active_subtab)
          -if @active_subtab.eql? "general"
            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label 'name', :class => "form-label span3"
                  = f.text_field :name, :class => "span9"

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label 'URL', :class => "form-label span3"
                  .input-append
                    .add-on
                      = request.protocol
                    = f.text_field :subdomain, :class => "span3"
                    .add-on
                      = ".#{request.domain}"

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label 'domain', :class => "form-label span3"
                  .input-prepend
                    .add-on
                      = request.protocol
                    = f.text_field :domain, :class => "span3"

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label 'description', :class => "form-label span3", :for => 'textarea'
                  = f.text_area :description, :class => "span9 uniform"
                  .help-block.blue.span8
                    You have 400 characters to describe the group. 
            / site slogan added feild
            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :site_slogan, "Site Slogan", :class => "form-label span3"
                  = f.text_field :site_slogan, :value => @group.site_slogan, :class => "span9"
                  .help-block.blue.span8
                    You have 50 characters for site slogan.
            / site slogan added feild
            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label " ", :class => "form-label span3", :for => "checkboxes"
                  .span8.controls
                    .left.marginT5
                      = f.check_box :isolate, :class => "styled"
                      Isolate the group from other groups

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label " ", :class => "form-label span3"
                  .span8.controls
                    .left.marginT5
                      = f.check_box :has_custom_analytics, :class => "styled"
                      Allow custom analytics
                  .help-block.blue.span8
                    The group will be able to use its own tracking code  

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label 'layout', :class => "form-label span3", :for => "checkboxes"
                  .span8.controls
                    = f.select :layout, [['Default', 'application'], ['2-Columns', 'classic']]

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label 'Analitycs engine', :class => "form-label span3", :for => "checkboxes"
                  .span8.controls
                    = select("group", "analytics_vendor", [['Google Analytics', 'googlean']])

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label 'Website Analitycs Id', :class => "form-label span3"
                  = f.text_field :analytics_id, :class => "span9"

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :wysiwyg_editor, " ", :class => "form-label span3"
                  .span8.controls
                    .left.marginT5
                      = f.check_box :wysiwyg_editor, :class => "styled"
                      = t('wysiwyg_editor', :scope => "activerecord.attributes.group")


            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :enable_latex, " ", :class => "form-label span3"
                  .span8.controls
                    .left.marginT5
                      = f.check_box :enable_latex, :class => "styled"
                      = t('enable_latex', :scope => "activerecord.attributes.group")

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :enable_mathjax, " ", :class => "form-label span3"
                  .span8.controls
                    .left.marginT5
                      = f.check_box :enable_mathjax, :class => "styled"
                      = t('enable_mathjax', :scope => "activerecord.attributes.group")

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :fb_button, " ", :class => "form-label span3"
                  .span8.controls
                    .left.marginT5
                      = f.check_box :fb_button, :class => "styled"
                      = t('fb_button', :scope => "activerecord.attributes.group")

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :track_users, " ", :class => "form-label span3"
                  .span8.controls
                    .left.marginT5
                      = f.check_box :track_users, :class => "styled"
                      = t('track_users', :scope => "activerecord.attributes.group")

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :legend, t('legend', :scope => "activerecord.attributes.group"), :class => "form-label span3"
                  = f.text_field :legend, :class => "span9"
                  .help-block.blue.span8
                    It will be used in the header. You have 40 characters. 

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :default_tags, t('default_tags', :scope => "activerecord.attributes.group"), :class => "form-label span3"
                  = f.text_field :default_tags, :value => @group.default_tags.join(", "), :class => "span9"
                  .help-block.blue.span8
                    Separate tags by commas. Only 10 default tags allowed. 

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :per_page_limit, "Per Page Limit", :class => "form-label span3"
                  = f.text_field :custom_pagination_length, :value => @group.custom_pagination_length, :class => "span9"

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :block_one_header, :class => "form-label span3"
                  = f.text_field :block_one_header, :value => @group.block_one_header, :class => "span9"

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :block_one_info, :class => "form-label span3"
                  = f.text_area :block_one_info, :value => @group.block_one_info, :class => "textarea"

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :block_two_header, :class => "form-label span3"
                  = f.text_field :block_two_header, :value => @group.block_two_header, :class => "span9"

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :block_two_info,  :class => "form-label span3"
                  = f.text_area :block_two_info, :value => @group.block_two_info, :class => "textarea"

            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :block_three_header, :class => "form-label span3"
                  = f.text_field :block_three_header, :value => @group.block_three_header, :class => "span9"
            / .form-row.row-fluid
            /   .span12
            /     .row-fluid
            /       = f.label :slogan_long_sign, "Slogan Long Signup", :class => "form-label span3"
            /       = f.text_field :slogan_long_sign, :value => @group.slogan_long_sign, :class => "span9"
            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :block_three_info, :class => "form-label span3"
                  = f.text_area :block_three_info, :value => @group.block_three_info, :class => "textarea"
            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :footer_content, :class => "form-label span3"
                  = f.text_area :footer_content, :value => @group.footer_content, :class => "textarea"
            .form-row.row-fluid
              .span12
                .row-fluid
                  = f.label :enable_mobile, "Enable mobile layout", :class => "form-label span3"
                  .span8.controls
                    .left.marginT5
                      = f.check_box :mobile_layout, :class => "styled"

            .form-row.row-fluid
              .span12
                .row-fluid
                  .form-actions{:style => "width: 100% !important; margin-left: -10px !important; margin-bottom: -18px !important"}
                    .span9
                      &nbsp;
                    .span3.controls
                      = f.button "Save Changes", :class => "btn marginR10", :style => "padding: 4px 10px !important; border-width: 1px !important; border-style: solid !important"
                      = link_to "Cancel", admin_config_path, :class => "btn btn-danger", :style => "padding: 5px 10px !important; border-width: 1px !important; border-style: solid !important"
          -else
            =render :partial => "admin/manage/properties/#{@active_subtab||'general'}", :locals => {:f => f}
            
          = yield :after_form



