- content_for :title do
  Terms of Service

= image_tag "plus/body_about.jpg", :class => "body_header"
.alpha.grid_19.body_about
  %span{:class => "p_a"}
    Terms of Service
  %span{:class => "p_a1"}
    = link_to "Home", "/"
    > Terms of Service
  %h2
    Terms of Service
  %div{:class => "about"}
    = @tos.static_content.html_safe rescue ""
.grid_5.omega.body1_about
  %p{:class => "about"}
    %strong
      About Plus
  %ul{:class => "sp_bg"}
    %li
      = link_to "Knowledgebase", "#"
    %li
      = link_to "Service locator", "/service_providers"
    %li
      = link_to "Terms of service", "/terms_of_service"
    %li
      = link_to "Privacy policy", "/privacy_policy"
    %li
      = link_to "EULA", "/eula"
  %p{:class => "about1"}
    %strong
      Follow Us
  .soc_icon1
    = link_to image_tag("plus/twitter1.png"), "http://www.twitter.com", :target => "blank"
    = link_to image_tag("plus/facebook1.png"), "http://www.facebook.com", :target => "blank"