:css
	.standard-form input[type="text"] {
		width: 87%;
	}
= form_for (@user),:url=>{:action => "update"}, :html => {:class => "standard-form", :multipart => true, :id => "edit-user-form"} do |f|
	.overview-wrapper
		.overview-new
			.left-panel
				#basic-details-section.register-section
					= f.label :name, "Name*"
					= f.text_field :name,:placeholder=>"Please Enter Name",:id=>"signup_username"
					= f.label "Login*"
					= f.text_field :login,:placeholder=>"Please Enter Company Name"
					= f.label "Website"
					= f.text_field :name,:placeholder=>"Please Enter Website"
					= f.label "Date"
					= f.date_select :user_age, :start_year => 1950
				#profile-details-section.register-section
					= f.label "Country"
					= f.text_field :country_name,:placeholder=>"Please Enter Country"
					= f.label "HIV"
					= f.select :hiv_condition, ["Negative","Positive"],{:selected => @user.hiv_condition}, :class => "select-class1"
					= f.label "Bio"
					= f.text_area :bio, :style => "width: 250px",:placeholder=>"Please Enter Comment"
		.contact-section-bottom
			= f.submit "Save", :class=>"contact-button",:style=>"float:right; margin-right:10px;"