.clearer.hide-responsive
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "../experimental/images/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section-header Profile Settings
			.section-arrow
		.overview-wrapper
			.overview-new
				.left-panel#set-margin-item-tags
					#item-header.qa-q-item-tags{:role=>"complementary"}
						#item-header-avatar
							%a{:style=>"float:left;"}
								-if @user.use_gravatar?
									= image_tag avatar_user_path(@user),:size=>'140x140',:class => "avatar"
								-else
									= image_tag(default_avatar_url('big'), :class=>"avatar")
						#item-header-content
							%h2
								= link_to "#{user_realname(@user)}", user_path(@user)

							/ .item-meta
							/   %span{:class=>"activity"}
							/     Joined
							/   = t("time.ago", :time => time_ago_in_words(@user.created_at))
							/ .user-nicename
							/ 	Website:
							/ 	= link_to @user.website, @user.website
							/ .user-nicename
							/ 	%span
							/ 		HIV Status: #{user_hiv_condition(@user)}

							.a6
								= image_tag "plus/a1.png", :class=> "shift-left-margin"
								%span
									Country:
									= user_country(@user)
								%br
								= image_tag "plus/a2.png", :class=> "shift-left-margin"
								%span
									Age:
									-if @user.birthday.present?
										= (Date.today.year)-(@user.birthday.year)
										year
									-else
										= user_age(@user)
										-unless user_age(@user)=="unknown"
											year


		-if params[:tab] == "1"
			#item-nav
				#object-nav.item-list-tabs{:id=>"firstElement"}
					%ul
						%li
							%a#user-activity{:href=>"javascript:void(0)", :class=>"loader-adjust-set"}
								Activity
								%span
									= (@resources.blank?)? 0 : @resources.count
								.loader.show-inline
						%li
							%a#user-xprofile{:href=>"javascript:void(0)",:data_send=>"profile",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Profile
								.loader.show-inline
						%li.selected
							%a#user-profile{:href=>"javascript:void(0)",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Privacy
								.loader.show-inline
						%li
							%a#user-social-profile{:href=>"javascript:void(0)",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Social
								.loader.show-inline
						%li
							%a#user-tier-profile{:href=>"/profile/tiers",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Tiers
								.loader.show-inline

			#subtabs
				.activity_sub
					= render "users/activity_subtabs"
				.profile_sub
					= render "users/profile_subtabs"
			#activity_tab1
				#members-dir-list.members.dir-list#activity_tab{:style =>"display:none"}
					%ul#members-list.items-list
						= render "users/show/user_activity_content"
				.review-content#user_profile_tab
					= render "experimental/partials/users/user_privacy"
					/ %h1{:style=>"background:none; border:none"}
					/   = link_to @user.display_name, user_path(@user)

			%br.clearer/
		-elsif params[:tab] == "2"
			#item-nav
				#object-nav.item-list-tabs{:id=>"firstElement"}
					%ul
						%li
							%a#user-activity{:href=>"javascript:void(0)", :class=>"loader-adjust-set"}
								Activity
								%span
									= (@resources.blank?)? 0 : @resources.count
								.loader.show-inline
						%li
							%a#user-xprofile{:href=>"javascript:void(0)",:data_send=>"profile",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Profile
								.loader.show-inline
						%li
							%a#user-profile{:href=>"javascript:void(0)",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Privacy
								.loader.show-inline
						%li.selected
							%a#user-social-profile{:href=>"javascript:void(0)",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Social
								.loader.show-inline
						%li
							%a#user-tier-profile{:href=>"/profile/tiers",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Tiers
								.loader.show-inline
			#subtabs
				.activity_sub
					= render "users/activity_subtabs"
				.profile_sub
					= render "users/profile_subtabs"
			#activity_tab1
				#members-dir-list.members.dir-list#activity_tab{:style =>"display:none"}
					%ul#members-list.items-list
						= render "users/show/user_activity_content"
				.review-content#user_profile_tab
					= render "experimental/partials/users/user_social"
					/ %h1{:style=>"background:none; border:none"}
					/   = link_to @user.display_name, user_path(@user)

			%br.clearer/
		-else
			#item-nav
				#object-nav.item-list-tabs{:id=>"firstElement"}
					%ul
						%li
							%a#user-activity{:href=>"javascript:void(0)", :class=>"loader-adjust-set"}
								Activity
								%span
									= (@resources.blank?)? 0 : @resources.count
								.loader.show-inline
						%li.selected
							%a#user-xprofile{:href=>"javascript:void(0)",:data_send=>"profile",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Profile
								.loader.show-inline
						%li
							%a#user-profile{:href=>"javascript:void(0)",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Privacy
								.loader.show-inline
						%li
							%a#user-social-profile{:href=>"javascript:void(0)",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Social
								.loader.show-inline
						%li
							%a#user-tier-profile{:href=>"/profile/tiers",:user_id=>"#{@user.id}", :class=>"loader-adjust-profile"}
								Tiers
								.loader.show-inline
			#subtabs
				.activity_sub
					= render "users/activity_subtabs"
				.profile_sub
					= render "users/profile_subtabs"
			#activity_tab1
				#members-dir-list.members.dir-list#activity_tab{:style =>"display:none"}
					%ul#members-list.items-list
						= render "users/show/user_activity_content"
				.review-content#user_profile_tab
					= render "users/edit"
					/ %h1{:style=>"background:none; border:none"}
					/   = link_to @user.display_name, user_path(@user)

	%br.clearer/
/side bar
.sidebar
	- if current_user.nil?
		/login box
		= render "experimental/partials/login_box"
	-else
		/profile box
		= render "experimental/partials/profile_box"

	/ social login box
	= render "experimental/partials/social_login_box"
	/ member box
	/ = render "experimental/partials/member_box"
	/rating box
	=# render "experimental/partials/rating_box"
	/rating box
	=# render "experimental/partials/rating_box2"
	/ left bar
	/ = render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	/ = render "experimental/partials/newly_reviewed"
	/popular box
	=# render "experimental/partials/popular_box"
	/banner box
	= render "experimental/partials/banner_box"


:javascript

	jQuery("#object-nav_firstElement > ul > li").click(function(){
		jQuery("#object-nav_firstElement > ul > li").removeClass('selected');
		jQuery(this).addClass('selected');
	});
	// ajax function
	Experimental.getAjaxData("click","#user-activity,#activities_pagination .pagination-ajax","/profile/settings","GET","activity_tab1","users/user_activity_content","#user-activity .loader","subtabs","users/activity_subtabs","yes");

	Experimental.getAjaxData("click","#user-xprofile","/profile/settings","GET","activity_tab1","users/edit","#user-xprofile .loader","subtabs","users/profile_subtabs","");

	Experimental.getAjaxData("click","#user-profile","/profile/settings","GET","activity_tab1","users/user_privacy","#user-profile .loader","subtabs","users/privacy_subtabs","");

	Experimental.getAjaxData("click","#user-social-profile","/profile/settings","GET","activity_tab1","users/user_social","#user-social-profile .loader","subtabs","users/social_subtabs","");

	jQuery(document).ready(function(jQ){
		jQ('#pagination-digg a').live('click',function(e){
			e.preventDefault();
		})
	})

	jQuery('#item-header-avatar').click(function(){
		jQuery('#user_avatar').click();
	});

	jQuery(function() {
		jQuery( "#datepicker" ).datepicker({
			dateFormat: "dd-mm-yy",
			changeMonth: true,
			changeYear: true,
			yearRange: '1960:'+(new Date).getFullYear()
		});
	});