- content_for :title do
  Community

= image_tag "plus/body_com.jpg", :class => "body_header"
.alpha.grid24.body_about{:style => "margin-bottom: 20px !important; width: 959px;"}
  %span{:class => "p_a"}
    Community
  %span{:class => "p_a1", :style => "position: relative !important; left: -169px;"}
    = link_to "Home", "/"
    > Community
  .tabs2
    %div.tabber
      %div.tabbertab
        %h2
          Reputation
        .tab-reputation.alltabs{:style => "display:block"}
          %ul{:class => "slider22", :style => "position:relative;"}
            %li{:class => "pager", :style => "width: 960px; overflow: hidden; list-style: none; outside: none;color:#000;"}
              %ul
                -@reputation.each do |membership|
                  = render "users/plus_membership", :membership => membership
              = paginate @reputation
      %div.tabbertab
        %h2
          New Users
        .tab-reputation.alltabs{:style => "display:block"}
          %ul{:class => "slider22", :style => "position:relative;"}
            %li{:class => "pager", :style => "width: 960px; overflow: hidden; list-style: none; outside: none;color:#000;"}
              %ul
                -@membersNew.each do |membership|
                  = render "users/plus_membership", :membership => membership
              = paginate @membersNew
      %div.tabbertab
        %h2
          Oldest
        .tab-reputation.alltabs{:style => "display:block"}
          %ul{:class => "slider22", :style => "position:relative;"}
            %li{:class => "pager", :style => "width: 960px; overflow: hidden; list-style: none; outside: none;color:#000;"}
              %ul
                -@membersOld.each do |membership|
                  = render "users/plus_membership", :membership => membership
              = paginate @membersOld
      %div.tabbertab
        %h2
          Name
        .tab-reputation.alltabs{:style => "display:block"}
          %ul{:class => "slider22", :style => "position:relative;"}
            %li{:class => "pager", :style => "width: 960px; overflow: hidden; list-style: none; outside: none;color:#000;"}
              %ul
                -@membersName.each do |membership|
                  = render "users/plus_membership", :membership => membership
              = paginate @membersName

      %div.tabbertab
        %h2
          Nearby
        .tab-reputation.alltabs{:style => "display:block"}
          %ul{:class => "slider22", :style => "position:relative;"}
            %li{:class => "pager", :style => "width: 960px; overflow: hidden; list-style: none; outside: none;color:#000;"}
              %ul
                -@membersName.each do |membership|
                  = render "users/plus_membership", :membership => membership
              = paginate @membersName