.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  / .page-content.review
  .page-content.review.single-post
    %link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
    .ribbon-shadow-left  
    .section-wrapper
      .section
        404 - Page Not Found
    
    .section-arrow 
  .page-content.review
    .overview-new
      .left-panel 
        .content-panel#set-page
          %h1.error That just happened.
          %p
            We could not find the page that you requested. It is possible that it was deleted since the last time you viewed it, or that you typed in the wrong URL. In any case, we want you to find what you are looking for, so we offer you the following options:
          %p
          .home
            1. Go back to the
            %a{:href => "/"} Home
            and start your journey over.
          .menu 2. Use the menu above to locate the section you wish to view.
          .search 3. Search our site:
          %br/
          .searchform
            / SEARCH
            %form#search404{:action => "/routing_error", :method => "get"}
              %input#s{:name => "query", :onblur => "if (this.value == '') {this.value = 'search';}", :onfocus => "if (this.value == 'search') {this.value = '';}", :type => "text", :value => "search"}/
          .note
            Enter keyword(s) and press enter
    - if @routes!=nil && @routes!="empty"
      = render 'experimental/partials/all_urls'
    - if @routes!=nil && @routes.count==0
      = render "experimental/partials/empty_record_message.html"
    
  %br/
.sidebar
  /profile box
  = render "experimental/partials/profile_box"
  / left bar
  = render "experimental/partials/left_bar"
  /widget top
  = render "experimental/partials/widget_top"
  / .clearer.hide-responsive
  / %br.clearer/
  / newly reviewd
  = render "experimental/partials/newly_reviewed"
  /popular box
  = render "experimental/partials/popular_box"

/ .clearer.hide-responsive  
/ %br.hide-responsive/
/ #main-wrapper-dark
/ .main-content-left
/   .page-content.review.single-post
/     %link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
/     .ribbon-shadow-left  
/     .section-wrapper
/       .section
/         404 - Page Not Found
/     .section-arrow  
/   .page-content.review
/     .overview-wrapper
/       .overview-new
/         .left-panel
/           .content-panel

/             %h1.error That just happened.
/             %p
/               We could not find the page that you requested. It is possible that it was deleted since the last time you viewed it, or that you typed in the wrong URL. In any case, we want you to find what you are looking for, so we offer you the following options:
/             %p
/             .home
/               1. Go back to the
/               %a{:href => "index.html"} home page
/               and start your journey over.
/             .menu 2. Use the menu above to locate the section you wish to view.
/             .search 3. Search our site:
/             .searchform
/               / SEARCH
/               %form#search404{:action => "#", :method => "get"}
/                 %input#s{:name => "s", :onblur => "if (this.value == '') {this.value = 'search';}", :onfocus => "if (this.value == 'search') {this.value = '';}", :type => "text", :value => "search"}/
/             .note
/               Enter keyword(s) and press enter
