.module.clearfix.widget.block
  %h3
    Navigation

  %aside
    .markdown
      %ul.list
        %li.item
          = link_to "Home", "/"
        %li.item
          = link_to "About", about_path
        %li.item
          = link_to "Tier Sample", "/tier-sample"
        %li.item
          = link_to "Tier1", tier1_index_path
        %li.item
          = link_to "Tier2", tier2_index_path
        %li.item
          = link_to "Tier3", tier3_index_path
        %li.item
          = link_to "Tier4", tier4_index_path
        %li.item
          = link_to "Tier5", tier5_index_path
        %li.item
          = link_to "Tier6", tier6_index_path
        %li.item
          = link_to "Tier7", tier7_index_path

