.module.clearfix.widget.block
  %h3
    Navigation

  %aside
    .markdown
      %ul.list
        %li.item
          = link_to "Home", "/"
        %li.item
          = link_to "FAQ", faq_path
        %li.item
          = link_to "News", news_index_path
        %li.item
          = link_to "Polls", polls_path
        %li.item
          = link_to "About", about_path
        %li.item
          = link_to "Tier Sample", "/tier-sample"
        %li.item
          = link_to "Tier1", tier1_index_path
        %li.item
          = link_to "Tier2", tier2_index_path
        %li.item
          = link_to "Tier3", tier3_index_path

