.top
  %h1
    Tier 7
  %br
= form_for @profile_tier7, :url => {:controller => :tier7, :action => :create}, :method => :post do |f|
  .field
    = label_tag "(first diagnosis) Who was the first person you spoke to after you received your initial positive test result? Why did you choose to tell this person?"
    = f.text_area :first_diagnosis, :disabled => @is_disable, :rows => 5
  .field
    = label_tag "(sex & HIV) How has your HIV status affected your sex life?"
    = f.text_area :sex_hiv, :disabled => @is_disable, :rows => 5
  .field
    = label_tag "(relationships & HIV) How has it affected love and relationships?"
    = f.text_area :relationship_hiv, :disabled => @is_disable, :rows => 5
  .field
    = label_tag "(disclosure) How do you decide whether to tell someone your HIV status?"
    = f.text_area :disclosure, :disabled => @is_disable, :rows => 5
  .field
    = label_tag "(relationships & HIV) Has your relationship with your family and friends changed or evolved after you found out you are HIV-positive? If so, how?"
    = f.text_area :family_hiv, :disabled => @is_disable, :rows => 5
  .field
    = label_tag "(work & HIV) How has living with HIV affected your current work?"
    = f.text_area :work_hiv, :disabled => @is_disable, :rows => 5
  .field
    = label_tag "(discrimination) Have you ever experienced discrimination on the basis of your HIV status from government agencies (eg. police, health workers, schools, employment officials, immigration agencies) or other areas (employers, businesses, clubs, etc). If so, please tell us what happened"
    = f.text_area :discrimination, :disabled => @is_disable, :rows => 5
  .field
    = label_tag "(disclosure, stigma) What needs to happen in order for people living with HIV to feel more comfortable about telling people about their status?"
    = f.text_area :disclosure_stigma, :disabled => @is_disable, :rows => 5
  .field
    = label_tag "(acceptance) Stigma and discrimination against people living with HIV is often quite challenging for everyone. What is one simple thing that people could do to encourage more acceptance in the community?"
    = f.text_area :acceptance, :disabled => @is_disable, :rows => 5
  .field
    = label_tag "(treatment) How do you feel about antiretrovial treatment?"
    = f.text_area :treatment, :disabled => @is_disable, :rows => 5
  .field
    = label_tag "Can you share one humorous or odd thing about your life with HIV?"
    = f.text_area :humorous_odd, :disabled => @is_disable, :rows => 5
  .field 
    = label_tag "How do you feel about your future?"
    = f.text_area :future_life, :disabled => @is_disable, :rows => 5

  - unless @is_disable
    .buttons
      = submit_tag("submit", :class => "save")