- content_for :title do
  Home
- content_for :slider_content do
  .slider-bg
    .slider-wrapper
      .slider
        %ul{:class => "items"}
          %li
            = link_to image_tag("plus/image1.jpg"), "#"
            .banner.my_banner
              .par_s1
                =h current_group.slogan_short_ask
              .par_s2
                =h current_group.slogan_long_ask
              = link_to "<span>Ask Now</span>".html_safe, "/questions", :class => "mms"
          %li
            = link_to image_tag("plus/image2.jpg"), "#"
            .banner.my_banner
              .par_s1
                =h current_group.slogan_short_location
              .par_s2
                =h current_group.slogan_long_location
              = link_to "<span>Locate Now</span>".html_safe, "/services-map", :class => "mms1"
          %li
            = link_to image_tag("plus/image3.jpg"), "#"
            .banner.my_banner
              .par_s1
                =h current_group.slogan_short_sign
              .par_s2
                =h current_group.slogan_long_sign
              = link_to "<span>Sign Up Now</span>".html_safe, "/users/login", :class => "mms2"
        = link_to "prev", "#", :class => "prev"
        = link_to "next", "#", :class => "next"
      .clear

.alpha.grid_16
  .center_text
    PLUS aims to enhance connections between gay, bisexual men and transgender people living with HIV so that we can help each other and understand that we are not alone.
  %br
  = image_tag "plus/arr1.jpg", :class => "arr1"
  %h3{:class => "p3"}
    Getting Started
  = image_tag "plus/arr1.jpg", :class => "arr2"
  .wrap_center
    .grid_5
      = image_tag "plus/banner1.png"
      %p{:style => "font-size:18px;font-family:'Calibri';color:#0075ce;font-weigth:bold;padding-top:10px"}
        Know The Basics: Living with HIV (Knowledge Base)
      %p{:class => "p12_1"}
        Weather you’re newly diagnosed, or you’ve been living with HIV for years, it’s important to know the basics and stay up-to-date with breakthroughs in health and living well with HIV. 
    .grid_5
      = link_to (image_tag "plus/banner2.png"),service_providers_path
      %p{:style => "font-size:18px;font-family:'Calibri';color:#0075ce;font-weigth:bold;padding-top:10px"}
        = link_to("Search the Service Map",service_providers_path,:class=>"front_link_style")
      %p{:class => "p12_1"}
        Do you know the HIV health specialists in your local areas? Do you know what other options are available? How would you describe the quality of service you received? Check out our map of services available near you. Leave feedback about the services that are available. And help us map more services that other people living with HIV should know about.
    .grid_5
      = link_to (image_tag "plus/banner3.png"),"/questions/ask-a-question"
      %p{:style => "font-size:18px;font-family:'Calibri';color:#0075ce;font-weigth:bold;padding-top:10px"}
        = link_to("Ask a Question","/questions/ask-a-question",:class=>"front_link_style")
      %p{:class => "p12_1"}
        Have you ever wanted to know how others cope with their HIV diagnosis? Do you want to learn how others found a way to disclose their status to the people they love? How about questions about sex? Now is your chance to ask and answer questions from people just like you - people who want to live, laugh, love, have fun and stay healthy, positively. 
.grid_8.omega
  .bxslider1_2
    %ul{:class => "bxslider1 bg_s"}
      %li
        .slide12{:style => "color:#202020"}
          Latest Questions
        - firstLimit = 0
        - @collectionAll.each do |item|
          - if firstLimit < @firstLimit
            .slide13
              = link_to truncate(strip_tags(item.title), :length => 200), question_path(item),:class => "avoid_link_color"
              %br{:style => "color:#000"}
                %span.colors
                  = time_ago_in_words(item.created_at)
                  Ago
              = image_tag "plus/l1.jpg", :class => "ms1"
          - firstLimit+=1
      %li
        .slide12{:style => "color:#202020"}
          Latest Questions
        - secondLimit = 0
        - @collectionAll.each do |item|
          - if secondLimit >= @firstLimit && secondLimit < @secondLimit
            .slide13
              = link_to truncate(strip_tags(item.title), :length => 200), question_path(item),:class => "avoid_link_color"
              %br{:style => "color:#000"}
                %span.colors
                  = time_ago_in_words(item.created_at)
                  Ago
              = image_tag "plus/l1.jpg", :class => "ms1"
          - secondLimit+=1
      %li
        .slide12{:style => "color:#202020"}
          Latest Questions
        - thirdLimit = 0
        - @collectionAll.each do |item|
          - if thirdLimit >= @secondLimit
            .slide13
              = link_to truncate(strip_tags(item.title), :length => 200), question_path(item),:class => "avoid_link_color"
              %br{:style => "color:#000"}
                %span.colors
                  = time_ago_in_words(item.created_at)
                  Ago
              = image_tag "plus/l1.jpg", :class => "ms1"
          - thirdLimit+=1
    = link_to(image_tag("plus/view.jpg"),questions_path)
:javascript
  $('#home_nav').addClass('active');


