- content_for :slider_content do
  .slider-bg
    .slider-wrapper
      .slider
        %ul{:class => "items"}
          %li
            = image_tag "plus/image1.jpg"
          %li
            = image_tag "plus/image2.jpg"
          %li
            = image_tag "plus/image3.jpg"
        = link_to "prev", "#", :class => "prev"
        = link_to "next", "#", :class => "next"  
      .clear

.alpha.grid_16
  = image_tag "plus/arr1.jpg", :class => "arr1"
  %h3{:class => "p3"}
    Getting Started
  = image_tag "plus/arr1.jpg", :class => "arr2"
  .wrap_center
    .grid_5
      = image_tag "plus/banner1.png"
      %p{:style => "font-size:18px;font-family:'Calibri';color:#0075ce;font-weigth:bold;padding-top:10px"}
        Knowledge Base
      %p{:class => "p12_1"}
        Lorem ipsum dolor sitmet
        %br
        consectetur hahaprtsff
    .grid_5
      = image_tag "plus/banner2.png"
      %p{:style => "font-size:18px;font-family:'Calibri';color:#0075ce;font-weigth:bold;padding-top:10px"}
        Questions
      %p{:class => "p12_1"}
        Ut enim ad minim venia, quis
        %br nostrud uis nostrud
    .grid_5
      = image_tag "plus/banner3.png"
      %p{:style => "font-size:18px;font-family:'Calibri';color:#0075ce;font-weigth:bold;padding-top:10px"}
        Services
      %p{:class => "p12_1"}
        Sed ut perspiciatis unde
        %br omnis iste natus error

  .grid_12.bg_bxslider
    %ul{:class => "bxslider"}
      %li
        .grid_14.body_s11
          %span{:class => "s11"}
            Sed ut perspiciatis unde omnis iste natus error
            %br sit voluptatem
          %p{:class => "p11"}
            Lorem ipsum dolor sit ame amet, consectetur adipisicing elit, sedo
            %br eiusmod tempor incididunt ut labore t, consectetur adipisicing elit,
            %br sed do eiusmod tempor incididunt ut labore et dolore magna aliq-
            %br cididuntu tempor incididunt ut labore.
          %p{:style => "color:#616161;font-size:11px;margin-left:10px;"}
            31 Dec 2012
          = link_to "<span style='margin-left: 10px;color:#0075ce;text-decoration: none;font-weight: bold;font-family:Arial;position:relative; top:-10px;'>Read More<img style='bottom: 1px;left: 71px;position: absolute;' src='plus/more1.jpg'></span>".html_safe, "#"
        .clear
      %li
        .grid_14.body_s11
          %span{:class => "s11"}
            Sed ut perspiciatis unde omnis iste natus error
            %br sit voluptatem
          %p{:class => "p11"}
            Lorem ipsum dolor sit ame amet, consectetur adipisicing elit, sedo
            %br eiusmod tempor incididunt ut labore t, consectetur adipisicing elit,
            %br sed do eiusmod tempor incididunt ut labore et dolore magna aliq-
            %br cididuntu tempor incididunt ut labore.
          %p{:style => "color:#616161;font-size:11px;margin-left:10px;"}
            31 Dec 2012
          = link_to "<span style='margin-left: 10px;color:#0075ce;text-decoration: none;font-weight: bold;font-family:Arial;position:relative; top:-10px;'>Read More<img style='bottom: 1px;left: 71px;position: absolute;' src='plus/more1.jpg'></span>".html_safe, "#"
        .clear
      %li
        .grid_14.body_s11
          %span{:class => "s11"}
            Sed ut perspiciatis unde omnis iste natus error
            %br sit voluptatem
          %p{:class => "p11"}
            Lorem ipsum dolor sit ame amet, consectetur adipisicing elit, sedo
            %br eiusmod tempor incididunt ut labore t, consectetur adipisicing elit,
            %br sed do eiusmod tempor incididunt ut labore et dolore magna aliq-
            %br cididuntu tempor incididunt ut labore.
          %p{:style => "color:#616161;font-size:11px;margin-left:10px;"}
            31 Dec 2012
          = link_to "<span style='margin-left: 10px;color:#0075ce;text-decoration: none;font-weight: bold;font-family:Arial;position:relative; top:-10px;'>Read More<img style='bottom: 1px;left: 71px;position: absolute;' src='plus/more1.jpg'></span>".html_safe, "#"
        .clear
  = image_tag "plus/bann.jpg", :class => "bann"
.grid_8.omega
  .bxslider1_2
    %ul{:class => "bxslider1 bg_s"}
      %li
        .slide12
          Latest Questions
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#000"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
      %li
        .slide12
          Latest Questions
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#000"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
      %li
        .slide12
          Latest Questions
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#000"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
        .slide13
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem.
          %br{:style => "color:#919191"}
            9s ago
          = image_tag "plus/l1.jpg", :class => "ms1"
    = link_to image_tag "plus/view.jpg", :class => "view"

:javascript
  $('#home_nav').addClass('active');