
.q_ff-for-image
  - if news.has_news_image?
    = image_tag news_image_path(news,"small"), :height => 130,:width=>160, :alt => news.slug
.grid_14.Fright2
  %span.s1
    = link_to truncate(strip_tags(news.news_title.capitalize),:length=>64), news_path(news.slug),:class=>"avoid_link_color"
  .news_block
    .small
      %strong
        By #{news.user.name} on #{news.created_at.strftime("%d %b %Y - %I:%M %p")}
    = truncate(strip_tags(news.news_body), :length => 300)
  .news_block2
    %span.i3_3
      = link_to "Continue Reading >",news_path(news.slug),:class=>"avoid_link_color"
  .news_block
.clear