.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  .post-loop
    .ribbon-shadow-left  
    .section-wrapper
      .section
        News
    .ribbon-shadow-right 
    .section-arrow
    - if @news.blank?
      No Recent News Yet
    -@news.each do |news|
      - @class = cycle('','right')
      = render :partial => "news", :object => news
      - if @class == 'right'
        .clearer
        
      = paginate @news

/side bar
.sidebar
  = render "experimental/partials/left_bar"
  /widget top
  = render "experimental/partials/widget_top"
  / .clearer.hide-responsive
  / %br.clearer/
  / newly reviewd
  = render "experimental/partials/newly_reviewed"
  /popular box
  = render "experimental/partials/popular_box"
  /rating box
  = render "experimental/partials/rating_box"
  /banner box
  = render "experimental/partials/banner_box"

