.content-panel
	.the-content
		#bbpress-forums
			%ul#topic-1343-replies.forums.bbp-replies
				%li.bbp-body
					#post-1343.bbp-reply-header
						.bbp-meta
							%span.bbp-reply-post-date Posted On: #{answer.created_at.to_datetime.strftime("%d %b %Y - %I:%M %p")}
							/ %a.bbp-reply-permalink{:href => "http://www.industrialthemes.com/made/bbpress/topic/super-sticky-topic-inside-bbpress-forum/#post-1343", :title => "Super Sticky Topic Inside bbPress Forum"} #1343
						/ .bbp-meta
					/ #post-1343
					.post-1343.topic.type-topic.status-publish.odd.bbp-parent-forum-1322.bbp-parent-topic-1343.bbp-reply-position-1.user-id-494.topic-author
						.bbp-reply-author
							%a.bbp-author-avatar
								- if answer.user.use_gravatar?
									=link_to image_tag avatar_user_path(answer.user),:size=>'65x65'
								- else
									%img.avatar.user-1227-avatar.avatar-50.photo{:alt => "Profile picture of zicrainnyRV", :height => "50", :src => "http://gravatar.com/avatar/5a0a1a5e96f190c339221f66d7b09b00?d=http://www.industrialthemes.com/made/wp-content/plugins/buddypress/bp-core/images/mystery-man.jpg&s=50&r=G", :width => "50"}/
							%br/
							%a.bbp-author-name
								Posted By: #{answer.user.login}
							%br/
							/ .bbp-author-role Keymaster
						/ .bbp-reply-author
						.bbp-reply-content
							%p
								%h6.title  
									Re: #{@title.upcase} 
								= answer.body.html_safe
						/ .bbp-reply-content
					/ .reply
/ .overview1.nopadding-top
/   .excerpt-new.justify-content
/     %p.filter-content-new
/       %table{:style=>"width:45%;"}
/         %tbody
/           %tr
/             %td
/               - if answer.user.use_gravatar?
/                 =link_to image_tag avatar_user_path(answer.user),:size=>'65x65'
/               - else
/                 %img.avatar.user-1227-avatar.avatar-50.photo{:alt => "Profile picture of zicrainnyRV", :height => "50", :src => "http://gravatar.com/avatar/5a0a1a5e96f190c339221f66d7b09b00?d=http://www.industrialthemes.com/made/wp-content/plugins/buddypress/bp-core/images/mystery-man.jpg&s=50&r=G", :width => "50"}/
/               / = link_to image_tag("to_vote_up.png")
/               / %p.reiting_num3{:style => "padding-left:10px;"}
/               /   = answer.votes_count
/               / = link_to image_tag("to_vote_down.png"), "#", :class => "reiting_num4"
/             %td
/               %h6
/                 Re: #{@title.upcase} 
/               %p 
/                 Posted By: #{answer.user.login}
/               %p
/                 Posted On: #{answer.created_at.to_datetime.strftime("%d %b %Y - %I:%M %p")}
/     %p
/       %ul{:id => "slider22", :class => "i3_2"}
/         %li.pager.ps2
/           %ul.page
/             %li
/               .grid_14.Fright1{:style => "margin: 10px !important;"}
/                 %span{:class => "s1_q_i"}
/                   = answer.body.html_safe
								
						
								
/           .clear
/ questions comments
/ %ul.Fright3.line-break
/   -answer.comments.each do |ans|
/     %li.comments-body{:style => "text-align: right;"}
/       %span
/         = ans.body
/       %span.by-user
/         ="-"
/         =ans.user.name.capitalize
/   %li.comments-body
/     .panel-link-comment{:id => "answer-comment-panel-link-#{answer.id}"}
/       = link_to "Comment","javascript:void(0)", :class => "ask_tag5", :id => "question-comment-link",:title => "Post your Answer", :style => "font-family: arial; font-size: 13px; color: white; padding: 5px; margin-bottom:20px; text-transform: none !important;", :onclick => "showAnswerComment('#{answer.id}')"

/ .clear
/ / question comments ends

/ .panel-comments{:id => "answer-comment-panel-#{answer.id}", :style => "display: none;"}
/   = form_for [answer.question, answer, comment ||= Comment.new], remote: true, html: {class: "answer_comment_form", data: {commentable: answer.id, editor: current_group.wysiwyg_editor ? 'wysiwyg_editor' : 'markdown_editor', "login-required" => true}} do |f|
/     %p
/       = f.text_area :body, :size=>"10x10", :style => "margin: 10px; width: 540px;"
/     %p{:style => "margin-left: 325px;"}
/       = submit_tag t("comments.shared.comment_submit"),:class=>"button-style-change comment-check","data-tag"=>answer.id,"data-type"=>"answer"
/       =# "&nbsp; &nbsp;".html_safe
/       = link_to t('scaffold.cancel'), 'javascript:void(0)', :class => 'button-style-change', :onclick => "hideAnswerComment('#{answer.id}')"