:css
	.profile_tabs{
		(-bracket-:hack;
		  width:auto;
		);
		}
	.chrome_loader{
		(-bracket-:hack;
		  margin:-20px 0px 0px 108px;
		);
	}
.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					.comment-bubble
						%a{:title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 
							= @answers.count
					/ making title stronger
					.section-for-header
						/%i.icon-vcard
						Answers  
			.section-arrow 
	#content.page-content
		%form#content-form
			#members-directory-form.dir-form{:action => "", :method => "post"}
				/ %h3 Questions
				#members-dir-search.dir-search{:role => "search"}
					%label
						%input#members_search{:name => "answer_search", :placeholder => "Search Answers...", :type => "text",:value=>params[:answer_search]}/
					%input#members_search_submit{:name => "members_search_submit", :type => "submit", :value => "Search"}/
					%input#members_search_submit{:name => "members_search_submit", :type => "reset", :value => "x", :style=>"opacity:1;"}/
			.item-list-tabs.activity-type-tabs{:role => "navigation"}
				%ul
					%li#members-order-select.selected
						%a{:href => "", :title => "The public activity for everyone on this site."}
							All Answers
							%span= @answers.count rescue ""
							.loader.chrome_loader
			#subnav.item-list-tabs{:role => "navigation"}
				%ul
					%li#members-order-select.last.filter
						%label{:for => "members-order-by"} Order By:
						%select#activity-filter-by.activity-filter
							%option{:value => "newest"} Newest
							%option{:value => "hot"} Hot 
							%option{:value => "featured"} Featured
							%option{:value => "votes"} Votes
							%option{:value => "unanswerd"} Unanswered
							%option{:value => "xxx"} XXX
		/ #forums-dir-list-newest.dir-list
		/   #pag-top.pagination
		/     #member-dir-count-top.pag-count
		/       Viewing questions #{@answers.options[:skip]} to #{@answers.options[:skip]+@answers.options[:limit]} (of #{@answers.count} active members)
		/     #members-dir-list.members.dir-list1
		/       = paginate @answers
		#return-data-ajax
			/ partial for answer
			=render 'experimental/partials/answer',:question => @question

.sidebar
	- if current_user.nil?
		/login box
		= render "experimental/partials/login_box"
	-else
		/profile box
		= render "experimental/partials/profile_box"
	/= render "experimental/partials/recent_tags"
	= render "experimental/partials/left_bar"
	/widget top
	=# render "experimental/partials/widget_top"
	/recent tags

	/popular box
	=# render "experimental/partials/popular_box"
	/rating box
	=# render "experimental/partials/rating_box"
	/banner box
	=# render "experimental/partials/banner_box"

:javascript

	// ajax function
	// Experimental.getAjaxData("change","#activity-filter-by","/answers","GET","return-data-ajax","answer",".loader","","","");
	//pagination_ajax
	// Experimental.getAjaxData("click","#answers_pagination .pagination-ajax","/answers","GET","return-data-ajax","answer",".loader","","","yes","#activity-filter-by");
	
	jQuery(document).ready(function(jQ){

		jQ("#content-form").submit(function(e){	
			jQuery(".loader").addClass("ajax-loader");		
			e.preventDefault()
			jQuery.ajax({     
				url:'/answers_tab',
				data: jQ('form#content-form').serialize(),
				dataType:"script",				
				success:function(successObject){
					jQuery(".loader").removeClass("ajax-loader");
				}
			});
		})

		jQ("#activity-filter-by").change(function(){
			valueTaker= jQuery("#activity-filter-by").val();
			jQuery(".loader").addClass("ajax-loader");
			jQuery.ajax({     
				url:'/answers_tab',
				data: { value: valueTaker},
				dataType:"script",				
				success:function(successObject){
					jQuery(".loader").removeClass("ajax-loader");
				}
			});
		})

		jQ('#pagination-digg  a').live('click',function(e){
			e.preventDefault();
			jQuery.ajax({url:jQ(this).attr('href'),dataType:"script"})
		})

		jQuery('#members_search').keypress(function(e) {
						
			if (e.which == '13') {
				jQuery('#members_search_submit').click();
			}
		});
	})

