.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					.comment-bubble
						%a{:href => "#respond", :title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 0
					/ making title stronger
					.section-for-header
						/%i.icon-vcard
						Questions and Answers  
			.section-arrow 
	#content.page-content
		%form#members-directory-form.dir-form{:action => "", :method => "post"}
			%h3 Questions
			#members-dir-search.dir-search{:role => "search"}
				%label
					%input#members_search{:name => "s", :placeholder => "Search Questions...", :type => "text"}/
				%input#members_search_submit{:name => "members_search_submit", :type => "submit", :value => "Search"}/
				%input#members_search_submit{:name => "members_search_submit", :type => "reset", :value => "x", :style=>"opacity:1;"}/
		.item-list-tabs.activity-type-tabs{:role => "navigation"}
			%ul
				%li#members-order-select.selected
					%a{:href => "http://www.industrialthemes.com/made/activity/", :title => "The public activity for everyone on this site."}
						All Answers
						%span= @answers.count rescue ""
						.loader
		#subnav.item-list-tabs{:role => "navigation"}
			%ul
				%li#members-order-select.last.filter
					%label{:for => "members-order-by"} Order By:
					%select#activity-filter-by
						%option{:value => "newest"} Newest
						%option{:value => "hot"} Hot 
						%option{:value => "featured"} Featured
						%option{:value => "votes"} Votes
						%option{:value => "unanswerd"} Unanswered
						%option{:value => "xxx"} XXX
		#forums-dir-list-newest.dir-list
			#pag-top.pagination
				#member-dir-count-top.pag-count
					Viewing questions #{@answers.options[:skip]} to #{@answers.options[:skip]+@answers.options[:limit]} (of #{@answers.count} active members)
				#members-dir-list.members.dir-list1
					= paginate @answers
		.activity{:role=>"admin"}
			/ partial for answer
			=render 'experimental/partials/answer',:question => @question
		
	 


.sidebar
	/= render "experimental/partials/recent_tags"
	= render "experimental/partials/left_bar"
	/widget top
	=# render "experimental/partials/widget_top"
	/recent tags

	/popular box
	=# render "experimental/partials/popular_box"
	/rating box
	=# render "experimental/partials/rating_box"
	/banner box
	=# render "experimental/partials/banner_box"



:javascript
	jQuery(document).ready(function($){
		$("#activity-filter-by").change(function(){
			//alert("asdf");
			//event.preventDefault();
			var valueTaker = $(this).val().split("-");

			$(".dir-list").fadeOut('slow');
			$("#forums-dir-list-"+valueTaker[0]).fadeIn('slow','linear');
			
			
		});
	});
	// ajax function
	Experimental.getAjaxData("change","#activity-filter-by","/answers","GET","activity-stream","answer",".loader");
