- content_for :title do
  Tier 1
    
= image_tag "plus/body_about.jpg", :class => "body_header"
.alpha.grid_24.body_about{:id => "firstElement", :style => "margin-bottom: 15px;width: 958px;"}
  %span{:class => "p_a"}
    Tier 1
  %span{:class => "p_a1", :style => "position: absolute !important; left: 25px;"}
    = link_to "Home", "/"
    > Tier 1
  .ask
    = form_for @profile_support, :url => {:controller => :tier1, :action => :create}, :method => :post do |f|
      %p{:class => "ask2"}
        %strong
          = label_tag "About Me"
      .search3
        = f.text_area :about_me, :disabled => @is_disable, :rows => 5
      %p{:class => "ask2"}
        %strong
          = label_tag "Country"
      .search3
        = f.text_field :location_country, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "State/Province"
      .search3
        = f.text_field :location_state, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "City"
      .search3
        = f.text_field :location_city, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "Country Birth Place"
      .search3
        = f.text_field :birth_place_country, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "State/Province Birth Place"
      .search3
        = f.text_field :birth_place_state, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "City Birth Place"
      .search3
        = f.text_field :birth_place_city, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "Race"
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "race", "Asian", :disabled => @is_disable) 
              Asian
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "race", "Caucasian", :disabled => @is_disable) 
              Caucasian
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "race", "African", :disabled => @is_disable) 
              African
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "race", "Latino", :disabled => @is_disable) 
              Latino
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "race", "Pasific Islander", :disabled => @is_disable) 
              Pasific Islander
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "race", "Middle Eastern", :disabled => @is_disable)
              Middle Eastern
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "race", "Mixed", :disabled => @is_disable) 
              Mixed
        
      %p{:class => "ask2"}
        %strong
          = label_tag "Gender"
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "gender", "Male", :disabled => @is_disable) 
              Male 
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "gender", "Female", :disabled => @is_disable)
              Female 
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "gender", "FTM", :disabled => @is_disable) 
              FTM 
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "gender", "MTF", :disabled => @is_disable) 
              MTF 
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "gender", "Intersex", :disabled => @is_disable) 
              Intersex 

      %p{:class => "ask2"}
        %strong
          = label_tag "Date of birth"
      .seach3   
        = date_select("profile_support", "birth_date", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable)
      %p{:class => "ask2"}
        %strong
          = label_tag "Hide my age"
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "show_age", true, :disabled => @is_disable)
              yes
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_support", "show_age", false, :disabled => @is_disable)
              no

      %p{:class => "ask2"}
        %strong
          = label_tag "Interested In"
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[interested_in][]", "Men", false, :class=> "text_field", :disabled => @is_disable)
              Men 
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[interested_in][]", "Women", false, :class=> "text_field", :disabled => @is_disable)
              Women
      %table
        %tr
          %td
            .checkbox 
              = check_box_tag("profile_support[interested_in][]", "FTM", false, :class=> "text_field", :disabled => @is_disable)
              FTM
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[interested_in][]", "MTF", false, :class=> "text_field", :disabled => @is_disable) 
              MTF
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[interested_in][]", "Intersex", false, :class=> "text_field", :disabled => @is_disable) 
              Intersex 

      %p{:class => "ask2"}
        %strong
          = label_tag "Languages you read and write"
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[languages][]", "بية", false, :class=> "text_field", :disabled => @is_disable)
              بية
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[languages][]", "中文(简体)", false, :class=> "text_field", :disabled => @is_disable)
              中文(简体)   
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[languages][]", "中文(香港)", false, :class=> "text_field", :disabled => @is_disable)
              中文(香港) 
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[languages][]", "中文(台灣)", false, :class=> "text_field", :disabled => @is_disable)
              中文(台灣) 
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[languages][]", "Nederlands ", false, :class=> "text_field", :disabled => @is_disable)
              Nederlands 
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[languages][]", "English", false, :class=> "text_field", :disabled => @is_disable)
              English 
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[languages][]", "Filipino", false, :class=> "text_field", :disabled => @is_disable)
              Filipino 
      %table
        %tr
          %td
            .checkbox
              = check_box_tag("profile_support[languages][]", "Français", false, :class=> "text_field", :disabled => @is_disable)
              Français

      .search3
        - unless @is_disable
          = link_to "<span>Submit</span>".html_safe, "#", :class => "ask_tag2", :id => "ask_question_link", :style => "margin-bottom: 10px;"

:javascript
  $("#ask_question_link").click(function (){
    $("#new_profile_support").submit();
  });