- unless @about_user.nil?
  #authorbox
    %h2= @about_user.login.capitalize
    .arrow-catpanel-bottom  
    .inner
      .author-image
        - if @about_user.use_gravatar?
          = image_tag avatar_user_path(@about_user),:size=>'70x70',:class => "avatar"   
        - else
          %img{:alt => "gravatar", :height => "70", :src => "http://www.gravatar.com/avatar/8a567031a8d520b2f97089e715b64e00.png", :width => "70"}/
      .description
        = @about_user.bio
        / Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper metus sed est fermentum eget malesuada orci luctus. Integer fringilla venenatis eros, non egestas ligula malesuada sit amet.
        / %a{:href => "http://www.google.com"} test link
        / test test test.
      %br.clearer/
      %ul.social-links
        %li.twitter
          - if @about_user. twitter_profile_url.present?
            %a{:href => "#{@about_user. twitter_profile_url}", :title => "Twitter"}  
          -else
            %a{:href => "http://twitter.com/", :title => "Twitter"}
        %li.facebook
          - if @about_user.facebook_profile_url.present?
            %a{:href => "#{@about_user.facebook_profile_url}", :title => "Facebook"}  
          -else
            %a{:href => "http://www.facebook.com/", :title => "Facebook"}  
        %li.linkedin
          - if @about_user.linkedin_profile_url.present?
            %a{:href => "#{@about_user.linkedin_profile_url}", :title => "LinkedIn"}  
          - else
            %a{:href => "http://www.linkedin.com/", :title => "LinkedIn"}
        %li.googleplus
          - if @about_user.google_plus_profile_url.present?
            %a{:href => "#{@about_user.google_plus_profile_url}", :title => "google+"}  
          -else
            %a{:href => "https://plus.google.com/", :title => "google+"}  
        %li.youtube
          - if @about_user.youtube_profile_url.present?
            %a{:href => "#{@about_user.youtube_profile_url}", :title => "YouTube"} 
          - else 
            %a{:href => "http://www.youtube.com/user/brianmcculloh/", :title => "YouTube"}
        %li.flickr
          - if @about_user.flickr_profile_url.present?
            %a{:href => "#{@about_user.flickr_profile_url}", :title => "Flickr"} 
          -else
            %a{:href => "http://www.flickr.com/photos/brianmcculloh/", :title => "Flickr"} 
        %li.digg
          - if @about_user.digg_profile_url.present?
            %a{:href => "#{@about_user.digg_profile_url}", :title => "Digg"}
          - else
            %a{:href => "http://digg.com/users/digg", :title => "Digg"}     
        - if @about_user.url_profile_url.present?
          %li.url
            %a{:href => "#{@about_user.url_profile_url}", :title => "Website"}  
      %br.clearer/
      .more-articles
        More articles by
        %a{:href => "archive-a.html", :rel => "author", :title => "Posts by Brian McCulloh"}= @about_user.name
        \»    
    