%div#search-container
	%span.text-style-drop
		No result found!
#dontmiss-bar
	.ribbon-shadow-left  
	#dontmiss-header Ask Now!
	#dontmiss-arrow  
	#dontmiss.dontmiss
		/ / condition is temporary for ticket #1048
		/ - unless (params[:action]== "index_experimental" && params[:controller]== "experimental/experimental")
		/ 	.panel
		/ 		.image
		/ 			%a{:href => "single-review-numbers.html"}
		/ 				%img{:alt => "restaurants7", :height => "40", :src => "#{local_path_experimental}restaurants7-40x40.jpg", :width => "40"}/
		/ 		.title
		/ 			%a{:href => "single-review-numbers.html"}
		/ 				A Sandwich a Day: Fried Scallops from Brucie
		/ 	.panel
		/ 		.image
		/ 			%a{:href => "single-review-numbers.html"}
		/ 				%img{:alt => "fashion4", :height => "40", :src => "#{local_path_experimental}fashion4-40x40.jpg", :width => "40"}/
		/ 		.title
		/ 			%a{:href => "single-review-numbers.html"}
		/ 				Yohji Yamamoto Autumn (Fall) / Winter 2012 men's
		/ 	.panel
		/ 		.image
		/ 			%a{:href => "single-review-numbers.html"}
		/ 				%img{:alt => "music1", :height => "40", :src => "#{local_path_experimental}music1-40x40.jpg", :width => "40"}/
		/ 		.title
		/ 			%a{:href => "single-review-numbers.html"}
		/ 				Gotye – Mirrors
		/ 	.panel
		/ 		.image
		/ 			%a{:href => "single-review-numbers.html"}
		/ 				%img{:alt => "movies3", :height => "40", :src => "#{local_path_experimental}movies3-40x40.jpg", :width => "40"}/
		/ 		.title
		/ 			%a{:href => "single-review-numbers.html"}
		/ 				The Hobbit: An Unexpected Journey
		/ 	.panel
		/ 		.image
		/ 			%a{:href => "single-review-numbers.html"}
		/ 				%img{:alt => "products4", :height => "40", :src => "#{local_path_experimental}products4-40x40.jpg", :width => "40"}/
		/ 		.title
		/ 			%a{:href => "single-review-numbers.html"}
		/ 				Klipsch Gallery G-17 iPad speaker
		/ - else
		.bg2_1
			= form_tag "#{question_search_path}",:id => "search" do
				= text_field_tag "search_ajax", "What is your question?", :class => "search-tag",:alt => "What is your question?",:autocomplete=>"off","data-show"=>"What is your question?"
				= hidden_field_tag "hidden_keys"
				= button_tag "search",:class=>"search-btn"
	#dontmiss-email.signup
		%h3 Get Our Newsletter
		%form#feedburner_subscribe.subscribe{:action => "http://feedburner.google.com/fb/a/mailverify", :method => "post", :onsubmit => "window.open('http://feedburner.google.com/fb/a/mailverify?uri=brianmcculloh/dtMq', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true", :target => "popupwindow"}
			.email-wrapper
				%input{:name => "email", :type => "text"}/
				%input{:name => "uri", :type => "hidden", :value => "brianmcculloh/dtMq"}/
				%input{:name => "loc", :type => "hidden", :value => "en_US"}/
			%input.btn{:onclick => "document.feedburner_subscribe.submit();", :src => "/assets/experimental/images/signup.png", :title => "You will receive a daily email with new content from our website.", :type => "image"}/
		%br.clearer/
	%br.clearer/

:javascript 
	jQuery(document).ready(function(){
		// on focus action
		var varValueTaker;
		jQuery(".search-tag").focus(function(){
			varValueTaker = jQuery(this).val();
			var varTakeAlt = jQuery(this).attr("data-show");
			if(varValueTaker==varTakeAlt){
				jQuery("#search-container").fadeOut("slow");
				jQuery(this).val("");
			}
		});
		// on blur action
		jQuery(".search-tag").blur(function(){
			var varValueTakerBlur = jQuery(this).val();
			var varTakeAlt = jQuery(this).attr("data-show");
			if(varValueTakerBlur==""){
				if(varValueTaker==varValueTaker)
					jQuery(this).val(varTakeAlt);
					jQuery("#search-container").fadeOut("slow");
			} 

		});
		// action runs at the time of key press
		jQuery(".search-tag").keypress(function(){
			jQuery("#search-container").fadeIn("slow");
			// set time out function to get exact search keyword
			setTimeout(function(){
				var ajaxValueData = jQuery("#search_ajax").val();
				// ajax action
				jQuery.ajax({
					method:"GET",
					data:"q="+ajaxValueData,
					url:"/search_ajax",
					success:function(successArray){
						var evalArray = eval(successArray);
						// if condition in case of null values
						if(evalArray.length != 0){
							var stringPassed='';
							var stringKeyId='';
							jQuery.each(evalArray,function(key,value){
								jQuery.each(evalArray[key],function(key1,value1){
									if(key1=="title")
										stringPassed+="<span class='text-style-drop'><a href='javascript:void(0)' alt='"+evalArray[key]._id+"' class='my-drop'>"+value1+"</a></span></br>";
									if(key1=="_id")
										stringKeyId+=value1+","
								});
							});

							jQuery("#search-container").html(stringPassed).fadeIn("slow");
							jQuery("#hidden_keys").val(stringKeyId);
							jQuery(this).bind("click");
						}
						// to show result not found
						else{
							jQuery("#search-container").html("<span class='text-style-drop'>No result found!</span>");
						}
					}
				});
				// if condition for null ends here
			},400);
			
		});
		// event to select search result from the drop down
		jQuery(".my-drop").live("click",function(){
			var valueTaker = jQuery(this).html();
			jQuery("#search_ajax").val(valueTaker);
			var altTagTaker = jQuery(this).attr("alt");
			jQuery("#hidden_keys").val(altTagTaker+",");
			jQuery("#search-container").html("").fadeOut('fast','linear');
			jQuery("#search").submit();
		});

	});
