/ .widget-wrapper
/   .widget
/     #tabbed-reviews.complex-list
/       %ul.tabnav
/         %li
/           %a.first{:href => "#tabs-os_movie-"} Movie
/         %li
/           %a{:href => "#tabs-os_music-"} Music
/         %li
/           %a{:href => "#tabs-os_fashion-"} Fashion
/         %li
/           %a{:href => "#tabs-os_restaurant-"} Restaurant
/       %br.clearer/
/       .tabdiv-wrapper
/         #tabs-os_movie-.tabdiv
/           %ul
/             %li
/               .floatleft
/                 %a.thumbnail.darken.video.small{:href => "#", :title => "The Hobbit: An Unexpected Journey"}
/                   %img{:alt => "movies3", :height => "70", :src => "#{local_path_experimental}movies3-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "The Hobbit: An Unexpected Journey"} The Hobbit: An Unexpected Journey
/                 %br.clearer/
/                 .icon
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png", :width => "16"}/
/                   %font{:size=>4}
/                     %i.icon-video
/                 .rating-wrapper.small
/                   .number.color5 88%
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "The Bourne Legacy"}
/                   %img{:alt => "movies2", :height => "70", :src => "#{local_path_experimental}movies2-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "The Bourne Legacy"} The Bourne Legacy
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-video
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .number.color3 42%
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.video.small{:href => "#", :title => "Total Recall"}
/                   %img{:alt => "Planet earth", :height => "70", :src => "#{local_path_experimental}photodune-2102679-planet-earth-s-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Total Recall"} Total Recall
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-video
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .number.color4 79%
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "Django Unchained"}
/                   %img{:alt => "Broken window glass", :height => "70", :src => "#{local_path_experimental}photodune-1040342-broken-window-glass-s-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Django Unchained"} Django Unchained
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-video
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .number.color4 69%
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.video.small{:href => "#", :title => "The Amazing Spiderman"}
/                   %img{:alt => "Sign", :height => "70", :src => "#{local_path_experimental}photodune-2540921-sign-s-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "The Amazing Spiderman"} The Amazing Spiderman
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-video
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .number.color2 34%
/               %br.clearer/
/             %li.more{:title => "View all Movie reviews"}
/               %a{:href => "#"} More
/             %li.last  
/         #tabs-os_music-.tabdiv
/           %ul
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "Gotye – Mirrors"}
/                   %img{:alt => "rock concert", :height => "70", :src => "#{local_path_experimental}photodune-277307-rock-concert-s-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Gotye – Mirrors"} Gotye – Mirrors
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-music
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .number.color4 7.4
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.video.small{:href => "#", :title => "Skrillex – Bangarang"}
/                   %img{:alt => "music3", :height => "70", :src => "#{local_path_experimental}music3-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Skrillex – Bangarang"} Skrillex – Bangarang
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-music
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .number.color5 8.2
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "Cold War Kids – Mine Is Yours"}
/                   %img{:alt => "photodune-216844-young-female-jazz-singer-holding-an-retro-microphone--s", :height => "70", :src => "#{local_path_experimental}photodune-216844-young-female-jazz-singer-holding-an-retro-microphone-s-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Cold War Kids – Mine Is Yours"} Cold War Kids – Mine Is Yours
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-music
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .number.color1 1.9
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.video.small{:href => "#", :title => "Florence And The Machine – Ceremonials"}
/                   %img{:alt => "photodune-499133-concert-lights-s", :height => "70", :src => "#{local_path_experimental}photodune-499133-concert-lights-s-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Florence And The Machine – Ceremonials"} Florence And The Machine – Ceremonials
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-music
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .number.color5 8.8
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "The Head And The Heart – The Head And The Heart"}
/                   %img{:alt => "Studio microphone", :height => "70", :src => "#{local_path_experimental}photodune-2327463-studio-microphone-s-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "The Head And The Heart – The Head And The Heart"} The Head And The Heart – The Head And The Heart
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-music
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .number.color4 6.8
/               %br.clearer/
/             %li.more{:title => "View all Music reviews"}
/               %a{:href => "#"} More
/             %li.last  
/         #tabs-os_fashion-.tabdiv
/           %ul
/             %li
/               .floatleft
/                 %a.thumbnail.darken.video.small{:href => "#", :title => "Yohji Yamamoto Autumn (Fall) / Winter 2012 men's"}
/                   %img{:alt => "fashion4", :height => "70", :src => "#{local_path_experimental}fashion4-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Yohji Yamamoto Autumn (Fall) / Winter 2012 men's"} Yohji Yamamoto Autumn (Fall) / Winter 2012 men's
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-bag
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .letter.color4 B+
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "Art Deco fashion: the new take"}
/                   %img{:alt => "fashion2", :height => "70", :src => "#{local_path_experimental}fashion2-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Art Deco fashion: the new take"} Art Deco fashion: the new take
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-bag
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .letter.color2 D-
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "5 Colorful Watches From Zappos for under $50"}
/                   %img{:alt => "fashion3", :height => "70", :src => "#{local_path_experimental}fashion3-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "5 Colorful Watches From Zappos for under $50"} 5 Colorful Watches From Zappos for under $50
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-bag
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .letter.color3 C
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.video.small{:href => "#", :title => "Ami by Alexandre Mattiussi Autumn (Fall) / Winter 2012 men's"}
/                   %img{:alt => "fashion7", :height => "70", :src => "#{local_path_experimental}fashion7-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Ami by Alexandre Mattiussi Autumn (Fall) / Winter 2012 men's"} Ami by Alexandre Mattiussi Autumn (Fall) / Winter 2012 men's
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-bag
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .letter.color4 B+
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "Tom Ford: New Women’s Plus A Change In Tack"}
/                   %img{:alt => "fashion6", :height => "70", :src => "#{local_path_experimental}fashion6-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Tom Ford: New Women’s Plus A Change In Tack"} Tom Ford: New Women’s Plus A Change In Tack
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-bag
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .letter.color2 D-
/               %br.clearer/
/             %li.more{:title => "View all Fashion reviews"}
/               %a{:href => "#"} More
/             %li.last  
/         #tabs-os_restaurant-.tabdiv
/           %ul
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "A Sandwich a Day: Fried Scallops from Brucie"}
/                   %img{:alt => "restaurants7", :height => "70", :src => "#{local_path_experimental}restaurants7-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "A Sandwich a Day: Fried Scallops from Brucie"} A Sandwich a Day: Fried Scallops from Brucie
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-cup
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .stars.yellow
/                     .star.full  
/                     .star.full  
/                     .star  
/                     .star  
/                     .star  
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.video.small{:href => "#", :title => "Coffee Common: Bringing Coffee Power to the People"}
/                   %img{:alt => "restaurants9", :height => "70", :src => "#{local_path_experimental}restaurants9-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Coffee Common: Bringing Coffee Power to the People"} Coffee Common: Bringing Coffee Power to the People
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-cup
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .stars.yellow
/                     .star.full  
/                     .star.full  
/                     .star.full  
/                     .star.full  
/                     .star.half  
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "NYC Food Events for the Weekend and Beyond"}
/                   %img{:alt => "restaurants4", :height => "70", :src => "#{local_path_experimental}restaurants4-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "NYC Food Events for the Weekend and Beyond"} NYC Food Events for the Weekend and Beyond
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-cup
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .stars.yellow
/                     .star.full  
/                     .star.full  
/                     .star.full  
/                     .star.full  
/                     .star  
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "First Look: Blue Smoke Battery Park City"}
/                   %img{:alt => "restaurants10", :height => "70", :src => "#{local_path_experimental}restaurants10-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "First Look: Blue Smoke Battery Park City"} First Look: Blue Smoke Battery Park City
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-cup
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .stars.yellow
/                     .star.full  
/                     .star.full  
/                     .star.full  
/                     .star.full  
/                     .star.half  
/               %br.clearer/
/             %li
/               .floatleft
/                 %a.thumbnail.darken.small{:href => "#", :title => "Behind The Scenes: Making Dim Sum At Nom Wah Tea Parlor"}
/                   %img{:alt => "restaurants1", :height => "70", :src => "#{local_path_experimental}restaurants1-70x70.jpg", :width => "70"}/
/               .floatleft
/                 %a.post-title{:href => "#", :title => "Behind The Scenes: Making Dim Sum At Nom Wah Tea Parlor"} Behind The Scenes: Making Dim Sum At Nom Wah Tea Parlor
/                 %br.clearer/
/                 .icon
/                   %font{:size=>4}
/                     %i.icon-cup
/                   / %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png", :width => "16"}/
/                 .rating-wrapper.small
/                   .stars.yellow
/                     .star.full  
/                     .star  
/                     .star  
/                     .star  
/                     .star  
/               %br.clearer/
/             %li.more{:title => "View all Restaurant reviews"}
/               %a{:href => "#"} More
/             %li.last  