.complex-list.all_reviews
  .widget-wrapper
    .widget
      .section-wrapper
        .section
          Newly Reviewed
      %ul
        %li.first
          .floatleft
            %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "A Sandwich a Day: Fried Scallops from Brucie"}
              %img{:alt => "restaurants7", :height => "70", :src => "#{local_path_experimental}restaurants7-70x70.jpg", :width => "70"}/
          .floatleft
            %a.post-title{:href => "single-review-numbers.html", :title => "A Sandwich a Day: Fried Scallops from Brucie"} A Sandwich a Day: Fried Scallops from Brucie
            %br.clearer/
            .icon
              %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png", :width => "16"}/
            .rating-wrapper.small
              .stars.yellow
                .star.full  
                .star.full  
                .star  
                .star  
                .star  
          %br.clearer/
        %li
          .floatleft
            %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "Yohji Yamamoto Autumn (Fall) / Winter 2012 men's"}
              %img{:alt => "fashion4", :height => "70", :src => "#{local_path_experimental}06/fashion4-70x70.jpg", :width => "70"}/
          .floatleft
            %a.post-title{:href => "single-review-numbers.html", :title => "Yohji Yamamoto Autumn (Fall) / Winter 2012 men's"} Yohji Yamamoto Autumn (Fall) / Winter 2012 men's
            %br.clearer/
            .icon
              %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-dark.png", :width => "16"}/
            .rating-wrapper.small
              .letter.color4 B+
          %br.clearer/
        %li
          .floatleft
            %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Gotye – Mirrors"}
              %img{:alt => "rock concert", :height => "70", :src => "#{local_path_experimental}photodune-277307-rock-concert-s-70x70.jpg", :width => "70"}/
          .floatleft
            %a.post-title{:href => "single-review-numbers.html", :title => "Gotye – Mirrors"} Gotye – Mirrors
            %br.clearer/
            .icon
              %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-music-dark.png", :width => "16"}/
            .rating-wrapper.small
              .number.color4 7.4
          %br.clearer/
        %li
          .floatleft
            %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "The Hobbit: An Unexpected Journey"}
              %img{:alt => "movies3", :height => "70", :src => "#{local_path_experimental}movies3-70x70.jpg", :width => "70"}/
          .floatleft
            %a.post-title{:href => "single-review-numbers.html", :title => "The Hobbit: An Unexpected Journey"} The Hobbit: An Unexpected Journey
            %br.clearer/
            .icon
              %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-dark.png", :width => "16"}/
            .rating-wrapper.small
              .number.color5 88%
          %br.clearer/
        %li
          .floatleft
            %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "Coffee Common: Bringing Coffee Power to the People"}
              %img{:alt => "restaurants9", :height => "70", :src => "#{local_path_experimental}restaurants9-70x70.jpg", :width => "70"}/
          .floatleft
            %a.post-title{:href => "single-review-numbers.html", :title => "Coffee Common: Bringing Coffee Power to the People"} Coffee Common: Bringing Coffee Power to the People
            %br.clearer/
            .icon
              %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-dark.png", :width => "16"}/
            .rating-wrapper.small
              .stars.yellow
                .star.full  
                .star.full  
                .star.full  
                .star.full  
                .star.half  
          %br.clearer/
        %li
          .floatleft
            %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Art Deco fashion: the new take"}
              %img{:alt => "fashion2", :height => "70", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion2-70x70.jpg", :width => "70"}/
          .floatleft
            %a.post-title{:href => "single-review-numbers.html", :title => "Art Deco fashion: the new take"} Art Deco fashion: the new take
            %br.clearer/
            .icon
              %img{:alt => "icon", :height => "16", :src => "http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-dark.png", :width => "16"}/
            .rating-wrapper.small
              .letter.color2 D-
          %br.clearer/
        %li.last  
        / easiest way to hide the last border - i know, it's hacky