- tags = (@tags_experimental.map(&:name) - @random_tags_experimental.first(3))

.widget-wrapper
  .widget
    #tabbed-reviews-compact.complex-list.compact
      %ul.tabnav
        %li
          %a{:href => "#tabs-compact-tag3"} #{tags[0]}
        %li
          %a{:href => "#tabs-compact-tag4"} #{tags[1]}
        %li
          %a{:href => "#tabs-compact-tag5"} #{tags[2]}
      %br.clearer/
      .tabdiv-wrapper
        #tabs-compact-tag3.tabdiv
          %ul
            - get_questions_from_tag(tags[0]).first(8).each do |title|
              %li
                .rating-wrapper.small
                  .number.color4 7.4
                = link_to "#{title}",question_path(title.downcase.gsub(" ","-"))
                %br.clearer/
              %li.last
        #tabs-compact-tag4.tabdiv
          %ul
            - get_questions_from_tag(tags[1]).first(8).each do |title|
              %li
                .rating-wrapper.small
                  .number.color4 7.4
                = link_to "#{title}",question_path(title.downcase.gsub(" ","-")) 
                %br.clearer/
              %li.last
        #tabs-compact-tag5.tabdiv
          %ul
            - get_questions_from_tag(tags[2]).first(8).each do |title|
              %li
                .rating-wrapper.small
                  .number.color4 7.4
                = link_to "#{title}",question_path(title.downcase.gsub(" ","-")) 
                %br.clearer/
              %li.last
