.complex-list.all_reviews
  .widget-wrapper
    .widget
      .section-wrapper
        .section{:style=>"background-color:#FAFAFA;"}
          Question Tags
      .tags-list
        - @tags.each do |tag|
          %span{:class => "tags1_2_3 floatleft", :title => "#{tag.name}"}
            = link_to h(tag.name).html_safe, tag_path(:id => CGI.escape(tag.name))
            %span
              x
            %span.avoid_link_color{:style=>"font-weight:600"}
              = current_group.questions.where(:tags=>tag.name).count
      .tabdiv
        %li.more{:title => "View all Tags"}
          = link_to "More", tags_path
        %li.last 
.complex-list.all_reviews
  .widget-wrapper
    .widget
      .section-wrapper
        .section{:style=>"background-color:#FAFAFA;"}
          Question Tags
      .tags-list
        - @tags.each do |tag|
          %span{:class => "tags1_3_1", :title => "#{tag.name}", :id=>"tag#{tag.name}"}
            = link_to h(tag.name).html_safe, tag_path(:id => CGI.escape(tag.name)),:class=>"abc"
            :javascript
              (function($) {
                jQuery.rand = function(arg) {
                    if ($.isArray(arg)) {
                        return arg[$.rand(arg.length)];
                    } else if (typeof arg === "number") {
                        return Math.floor(Math.random() * arg);
                    } else {
                        return 4;  // chosen by fair dice roll
                    }
                };
              })(jQuery);
              var items = [9, 12, 14, 16];
              var item = jQuery.rand(items);
              jQuery(".abc").css("font-size", item);
  
              jQuery('.abc').attr('class', item);
              jQuery("."+item).removeClass("abc");
          %span
            ="&nbsp;".html_safe         
      .tabdiv
        %li.more{:title => "View all Tags"}
          = link_to "More", tags_path
        %li.last 

