- if params[:dataSend]== "newest"
	- @newest_member.each do |newest_member| 
		%li.vcard
			.item-avatar
				- if newest_member.use_gravatar?
					= image_tag avatar_user_path(newest_member),:width => "50",:class=>"avatar"
				- else
					= image_tag("http://gravatar.com/avatar/020403d3680a44dc4a50635be23918d6?d=http://www.industrialthemes.com/made/wp-content/plugins/buddypress/bp-core/images/mystery-man.jpg&s=50&r=G",:width => "50",:class=>"avatar") 
			.item
				.item-title.fn
					= newest_member.name
				.item-meta
					%span.activity
						= newest_member.current_sign_in_at
- elsif params[:dataSend]== "active"
	- @active_member.each do |active_member| 
		%li.vcard
			.item-avatar
				= image_tag("http://gravatar.com/avatar/020403d3680a44dc4a50635be23918d6?d=http://www.industrialthemes.com/made/wp-content/plugins/buddypress/bp-core/images/mystery-man.jpg&s=50&r=G",:width => "50",:class=>"avatar") 
			.item
				.item-title.fn
					= active_member.display_name
				.item-meta
					%span.activity
						= active_member.joined_at
- else
	- @popular.each do |popular| 
		%li.vcard
			.item-avatar
				- if popular.use_gravatar?
					= image_tag avatar_user_path(popular),:width => "50",:class=>"avatar"
				- else
					= image_tag("http://gravatar.com/avatar/020403d3680a44dc4a50635be23918d6?d=http://www.industrialthemes.com/made/wp-content/plugins/buddypress/bp-core/images/mystery-man.jpg&s=50&r=G",:width => "50",:class=>"avatar") 
			.item
				.item-title.fn
					= popular.display_name
				.item-meta
					%span.activity
						= popular.current_sign_in_at