.main-content
  %br.clearer/
  #spotlight-wrapper
    .ribbon-shadow-left  
    .section-wrapper
      / spotlight section header
      .section
        %i.icon-flashlight
        In The Spotlight
    .ribbon-shadow-right  
    .section-arrow  
    .spotlight
      #spotlight-slider
        / begin spotlight slider
        %ul{:style=>"height:555px;"}
          %li
            .post-panel
              .category
                .ribbon-shadow-left  
                / .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-movie-light.png) no-repeat 0px 0px;"}  
                .catname
                  ="<i class='icon-help'></i>Question & Answer".html_safe
                .category-arrow  
              %a.darken{:href => "/questions"}
                %img{:alt => "Question & Answer",:title=>"Question & Answer", :height => "170", :src => "/assets/experimental/images/questions.jpg", :width => "300"}/
              .inner
                %h2
                  %a{:href => "/questions"}
                  -unless current_group.block_one_header.blank?
                    = current_group.block_one_header.html_safe rescue ""
                .excerpt.full-align-style
                  = current_group.block_one_info.html_safe rescue "" 
              .more-bar
                .arrow-catpanel-top  
                / .rating-wrapper.small
                /   .number.color3 42%
                .comments
                  %a #{show_counts("questions_index")} Views
                .more
                  %a{:href => questions_path} More
          %li
            .post-panel.right
              .category
                .ribbon-shadow-left  
                / .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-fashion-light.png) no-repeat 0px 0px;"}  
                .catname
                  ="<i class='icon-location'></i>Services Map".html_safe
                .category-arrow  
              %a.darken{:href => service_providers_path}
                %img{:alt => "Services Map",:title=>"Services Map", :height => "170", :src => "/assets/experimental/images/services_maps.jpg", :width => "300"}/
              .inner
                %h2
                  %a{:href => service_providers_path}
                    =current_group.block_two_header.html_safe rescue ""
                .excerpt.full-align-style
                  = current_group.block_two_info.html_safe rescue ""
              .more-bar
                .arrow-catpanel-top  
                / .rating-wrapper.small
                /   .letter.color3 C
                .comments
                  %a  #{show_counts("service_providers_index")} Views
                .more
                  %a{:href => service_providers_path} More
            .clearer
          %li
            .post-panel
              .category
                .ribbon-shadow-left  
                / .icon{:style => "background:url(http://www.industrialthemes.com/made/wp-content/themes/made/images/review-restaurant-light.png) no-repeat 0px 0px;"}  
                .catname
                  ="<i class='icon-circled-help'></i>Knowledge Base".html_safe
                .category-arrow  
              %a.darken{:href => "http://plus-us.net/wiki/Main_Page"}
                %img{:alt => "Knowledge Base",:title=>"Knowledge Base", :height => "170", :src => "/assets/experimental/images/knowledge_based.jpg", :width => "300"}/
              .inner
                %h2
                  %a{:href => "http://plus-us.net/wiki/Main_Page"} 
                    =current_group.block_three_header.html_safe rescue ""
                .excerpt.full-align-style
                  =current_group.block_three_info.html_safe rescue ""
              .more-bar
                .arrow-catpanel-top  
                / .rating-wrapper.small
                /   .stars.yellow
                /     .star.full  
                /     .star.full  
                /     .star.half  
                /     .star  
                /     .star  
                .comments
                  %a #{show_counts("ask_question")} Views
                .more
                  %a{:href => "http://plus-us.net/wiki/Main_Page"} More
            .clearer