#tabs-frontpage
  %ul.tabnav
    %li
      %a{:href => "#Announcements"} Announcements
    %li
      %a{:href => "#News"} News
    %li
      %a{:href => "#Blog"} Blog
    / %li
    /   %a{:href => "#Commentary"} Commentary
  %br.clearer/
  .tabdiv-wrapper
    #Announcements.tabdiv
      .panel
        .rating-wrapper.small
          .number.color4 7.4
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Gotye – Mirrors"}
          %img{:alt => "rock concert", :height => "109", :src => "#{local_path_experimental}photodune-277307-rock-concert-s-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Gotye – Mirrors"} Gotye – Mirrors
      .panel
        .rating-wrapper.small
          .letter.color2 D-
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Art Deco fashion: the new take"}
          %img{:alt => "fashion2", :height => "109", :src => "#{local_path_experimental}fashion2-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Art Deco fashion: the new take"} Art Deco fashion: the new take
      .panel.right
        .rating-wrapper.small
          .number.color3 42%
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "The Bourne Legacy"}
          %img{:alt => "movies2", :height => "109", :src => "#{local_path_experimental}movies2-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "The Bourne Legacy"} The Bourne Legacy
      .clearer.hide-responsive
      .panel
        .rating-wrapper.small
          .number.color1 1.9
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Cold War Kids – Mine Is Yours"}
          %img{:alt => "photodune-216844-young-female-jazz-singer-holding-an-retro-microphone--s", :height => "109", :src => "#{local_path_experimental}photodune-216844-young-female-jazz-singer-holding-an-retro-microphone-s-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Cold War Kids – Mine Is Yours"} Cold War Kids – Mine Is Yours
      .panel
        .rating-wrapper.small
          .stars.yellow
            .star.full  
            .star.full  
            .star.full  
            .star.half  
            .star  
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Daily Veg: Wok-Fried Kangkong at Fatty Crab"}
          %img{:alt => "restaurants3", :height => "109", :src => "#{local_path_experimental}restaurants3-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Daily Veg: Wok-Fried Kangkong at Fatty Crab"} Daily Veg: Wok-Fried Kangkong at Fatty Crab
      .panel.right
        .rating-wrapper.small
          .number.color5 84%
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Abraham Lincoln: Vampire Hunter"}
          %img{:alt => "Industrial furnace", :height => "109", :src => "#{local_path_experimental}photodune-833131-industrial-furnace-s-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Abraham Lincoln: Vampire Hunter"} Abraham Lincoln: Vampire Hunter
      .clearer.hide-responsive
      %br.clearer/
    #News.tabdiv
      .panel
        .rating-wrapper.small
          .stars.yellow
            .star.full  
            .star.full  
            .star.full  
            .star.full  
            .star.half  
        %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "Coffee Common: Bringing Coffee Power to the People"}
          %img{:alt => "restaurants9", :height => "109", :src => "#{local_path_experimental}restaurants9-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Coffee Common: Bringing Coffee Power to the People"} Coffee Common: Bringing Coffee Power to the People
      .panel
        .rating-wrapper.small
          .number.color5 8.2
        %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "Skrillex – Bangarang"}
          %img{:alt => "music3", :height => "109", :src => "#{local_path_experimental}music3-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Skrillex – Bangarang"} Skrillex – Bangarang
      .panel.right
        .rating-wrapper.small
          .number.color3 42%
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "The Bourne Legacy"}
          %img{:alt => "movies2", :height => "109", :src => "#{local_path_experimental}movies2-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "The Bourne Legacy"} The Bourne Legacy
      .clearer.hide-responsive
      .panel
        .rating-wrapper.small
          .letter.color3 C
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "5 Colorful Watches From Zappos for under $50"}
          %img{:alt => "fashion3", :height => "109", :src => "#{local_path_experimental}fashion3-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "5 Colorful Watches From Zappos for under $50"} 5 Colorful Watches From Zappos for under $50
      .panel
        .rating-wrapper.small
          .number.color5 8.8
        %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "Florence And The Machine – Ceremonials"}
          %img{:alt => "photodune-499133-concert-lights-s", :height => "109", :src => "#{local_path_experimental}photodune-499133-concert-lights-s-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Florence And The Machine – Ceremonials"} Florence And The Machine – Ceremonials
      .panel.right
        .rating-wrapper.small
          .number.color4 69%
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Django Unchained"}
          %img{:alt => "Broken window glass", :height => "109", :src => "#{local_path_experimental}photodune-1040342-broken-window-glass-s-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Django Unchained"} Django Unchained
      .clearer.hide-responsive
      %br.clearer/
    #Blog.tabdiv
      .panel
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Made Magazine Is 2 Years In The Making!"}
          %img{:alt => "misc3", :height => "109", :src => "#{local_path_experimental}misc3-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Made Magazine Is 2 Years In The Making!"} Made Magazine Is 2 Years In The Making!
      .panel
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Built On The Swagger Framework, Made Is Rock-Solid"}
          %img{:alt => "misc2", :height => "109", :src => "#{local_path_experimental}misc2-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Built On The Swagger Framework, Made Is Rock-Solid"} Built On The Swagger Framework, Made Is Rock-Solid
      .panel.right
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Made Magazine Is The First Responsive Theme Released By IndustrialThemes"}
          %img{:alt => "misc1", :height => "109", :src => "#{local_path_experimental}misc1-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} Made Magazine Is The First Responsive Theme Released By IndustrialThemes
      .clearer.hide-responsive
      .panel
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Standard Non-Review Post Example"}
          %img{:alt => "misc4", :height => "109", :src => "#{local_path_experimental}misc4-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Standard Non-Review Post Example"} Standard Non-Review Post Example
      .panel
        .rating-wrapper.small
          .stars.yellow
            .star.full  
            .star.full  
            .star.full  
            .star.full  
            .star.half  
        %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "Coffee Common: Bringing Coffee Power to the People"}
          %img{:alt => "restaurants9", :height => "109", :src => "#{local_path_experimental}restaurants9-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Coffee Common: Bringing Coffee Power to the People"} Coffee Common: Bringing Coffee Power to the People
      .panel.right
        .rating-wrapper.small
          .letter.color2 D-
        %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "Art Deco fashion: the new take"}
          %img{:alt => "fashion2", :height => "109", :src => "#{local_path_experimental}fashion2-163x109.jpg", :width => "163"}/
        %a.post-title{:href => "single-review-numbers.html", :title => "Art Deco fashion: the new take"} Art Deco fashion: the new take
      .clearer.hide-responsive
      %br.clearer/
    / #Commentary.tabdiv
    /   .panel
    /     .rating-wrapper.small
    /       .stars.yellow
    /         .star.full  
    /         .star.full  
    /         .star  
    /         .star  
    /         .star  
    /     %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "A Sandwich a Day: Fried Scallops from Brucie"}
    /       %img{:alt => "restaurants7", :height => "109", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants7-163x109.jpg", :width => "163"}/
    /     %a.post-title{:href => "single-review-numbers.html", :title => "A Sandwich a Day: Fried Scallops from Brucie"} A Sandwich a Day: Fried Scallops from Brucie
    /   .panel
    /     .rating-wrapper.small
    /       .number.color5 88%
    /     %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "The Hobbit: An Unexpected Journey"}
    /       %img{:alt => "movies3", :height => "109", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-163x109.jpg", :width => "163"}/
    /     %a.post-title{:href => "single-review-numbers.html", :title => "The Hobbit: An Unexpected Journey"} The Hobbit: An Unexpected Journey
    /   .panel.right
    /     .rating-wrapper.small
    /       .number.color5 8.2
    /     %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "Skrillex – Bangarang"}
    /       %img{:alt => "music3", :height => "109", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/music3-163x109.jpg", :width => "163"}/
    /     %a.post-title{:href => "single-review-numbers.html", :title => "Skrillex – Bangarang"} Skrillex – Bangarang
    /   .clearer.hide-responsive
    /   .panel
    /     .rating-wrapper.small
    /       .letter.color3 C
    /     %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "5 Colorful Watches From Zappos for under $50"}
    /       %img{:alt => "fashion3", :height => "109", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/fashion3-163x109.jpg", :width => "163"}/
    /     %a.post-title{:href => "single-review-numbers.html", :title => "5 Colorful Watches From Zappos for under $50"} 5 Colorful Watches From Zappos for under $50
    /   .panel
    /     .rating-wrapper.small
    /       .number.color4 6.8
    /     %a.thumbnail.darken.small{:href => "single-review-numbers.html", :title => "The Head And The Heart – The Head And The Heart"}
    /       %img{:alt => "Studio microphone", :height => "109", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/07/photodune-2327463-studio-microphone-s-163x109.jpg", :width => "163"}/
    /     %a.post-title{:href => "single-review-numbers.html", :title => "The Head And The Heart – The Head And The Heart"} The Head And The Heart – The Head And The Heart
    /   .panel.right
    /     .rating-wrapper.small
    /       .stars.yellow
    /         .star.full  
    /         .star.full  
    /         .star.half  
    /         .star  
    /         .star  
    /     %a.thumbnail.darken.video.small{:href => "single-review-numbers.html", :title => "Sugar Rush: Banana Stracciatella Gelato from Eataly"}
    /       %img{:alt => "restaurants6", :height => "109", :src => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/restaurants6-163x109.jpg", :width => "163"}/
    /     %a.post-title{:href => "single-review-numbers.html", :title => "Sugar Rush: Banana Stracciatella Gelato from Eataly"} Sugar Rush: Banana Stracciatella Gelato from Eataly
    /   .clearer.hide-responsive
    /   %br.clearer/
    