#top-menu-wrapper
	/ begin top menu
	.ribbon-shadow-left  
	#top-menu
		.container.mid
			.menu
				%ul#menu-top-menu
					%li
						%a{:href => public_about_experimental_index_path,:title=>"About Plus",:alt=>"About Plus"} About Plus
					%li
						%a{:href => questions_experimental_index_path,:title=>"Questions",:alt=>"Questions"} Questions 
					%li
						%a{:href => service_providers_show_experimental_index_path,:title=>"Services Map",:alt=>"Services Map"} Services map
					%li
						%a{:href => contact_path,:title=>"Contact",:alt=>"Contact"} Contact
					/ %li
					/ 	%a{:href => partners_experimental_index_path,:title=>"Partners",:alt=>"Partners"} Partners
					%li
						%a{:href => '/questions/ask-a-question',:title=>"Ask a Question",:alt=>"Ask a Question"} Ask a Question
					%li
						- if current_user.nil?
							%a{:href => '/login',:title=>"Sign in",:alt=>"Sign in"}  Login in / Sign Up 
						-else
							= link_to "Login as #{h(current_user.login)}","#",:style=>"color:#027DB2;"
							%ul
								%li
									= link_to "Profile Settings", user_path(current_user)
								%li
									= link_to t('.connect'), social_connect_path
								%li
									= link_to t('.following'), follows_user_path(current_user)
								%li
									= link_to t('.followers'), follows_user_path(current_user)+"?sort=followers"
								%li
									= link_to t("layouts.application.logout"), destroy_user_session_path
								
			%select#select-menu-top-menu
				%option Page Navigation
				%option{:value => "page-jquery-extras.html"} jQuery Extras
				%option{:value => "page-jquery-extras.html"}      Sliders
				%option{:value => "page-jquery-extras.html"}      Toggles
				%option{:value => "page-jquery-extras.html"}      Tabs
				%option{:value => "page-fancy-boxes.html"} Styled Goodies
				%option{:value => "page-fancy-boxes.html"}      Fancy Boxes
				%option{:value => "page-styled-lists.html"}      Styled Lists
				%option{:value => "page-buttons.html"}      Buttons
				%option{:value => "page-columns.html"}      Columns
				%option{:value => "page-styled-html-elements.html"}      More HTML Elements
				%option{:value => "404.html"} Custom 404 Page
				%option{:value => "page-full-width.html"} Full-Width Page
				%option{:value => "page-contributors.html"} Contributors Listing
		#top-widget
			.top-social
				%a.rss{:href => rss_feed_experimental_index_path}  
				%a.facebook{:href =>"javascript:void(0)",:onclick=>"fb_share()"}  
				%a.twitter{:href =>"javascript:void(0)",:onclick=>"twitter_twit()"}  
				
		#search
			.wrapper
				.inner
					/ SEARCH
					%form#searchformtop{:action => "search.html", :method => "get"}
						%input#s{:name => "s", :onblur => "if (this.value == '') {this.value = 'search';}", :onfocus => "if (this.value == 'search') {this.value = '';}", :type => "text", :value => "search"}/
		%br.clearer/
	.ribbon-shadow-right 