#trending-wrapper
  .ribbon-shadow-left  
  .section-wrapper
    / spotlight section header
    .section
      %i.icon-bag
      trending
  .ribbon-shadow-right  
  .section-arrow  
  #trending-scroller
    %a.trending-prev{:href => "single-review-numbers.html"}  
    #trending.trending
      / begin trending
      %ul
        %li
          .rating-wrapper.small
            .stars.yellow
              .star.full  
              .star.full  
              .star.full  
              .star.full  
              .star.half  
          %a.darken.small.video{:href => "single-review-numbers.html"}
            %img{:alt => "restaurants9", :height => "70", :src => "#{local_path_experimental}restaurants9-105x70.jpg", :width => "105"}/
          %a.title{:href => "single-review-numbers.html"} Coffee Common: Bringing Coffee Power to the People
          .icon
            / %img{:alt => "icon", :src => "#{local_path_experimental}review-restaurant-dark.png"}/
            = image_tag("/assets/experimental/images/review-restaurant-dark.png",:alt => "icon") 
        %li
          .rating-wrapper.small
            .stars.yellow
              .star.full  
              .star.full  
              .star.full  
              .star.half  
              .star  
          %a.darken.small{:href => "single-review-numbers.html"}
            %img{:alt => "restaurants3", :height => "70", :src => "#{local_path_experimental}restaurants3-105x70.jpg", :width => "105"}/
          %a.title{:href => "single-review-numbers.html"} Daily Veg: Wok-Fried Kangkong at Fatty Crab
          .icon
            / %img{:alt => "icon", :src => "#{local_path_experimental}review-restaurant-dark.png"}/
            = image_tag("/assets/experimental/images/review-restaurant-dark.png",:alt => "icon") 
        %li
          .rating-wrapper.small
            .letter.color4 B+
          %a.darken.small{:href => "single-review-numbers.html"}
            %img{:alt => "fashion11", :height => "70", :src => "#{local_path_experimental}fashion11-105x70.jpg", :width => "105"}/
          %a.title{:href => "single-review-numbers.html"} On The Street… Via Tortona, Milan
          .icon
            / %img{:alt => "icon", :src => "#{local_path_experimental}review-fashion-dark.png"}/
            = image_tag("/assets/experimental/images/review-fashion-dark.png",:alt => "icon")
        %li
          .rating-wrapper.small
            .number.color3 5.3
          %a.darken.small{:href => "single-review-numbers.html"}
            %img{:alt => "music7", :height => "70", :src => "#{local_path_experimental}music7-105x70.jpg", :width => "105"}/
          %a.title{:href => "single-review-numbers.html"} Grace Potter and the Nocturnals – The Lion The Beast The Beat
          .icon
            / %img{:alt => "icon", :src => "#{local_path_experimental}review-music-dark.png"}/
            = image_tag("/assets/experimental/images/review-restaurant-dark.png",:alt => "icon",:class=>"avatar")
        %li
          .rating-wrapper.small
            .number.color5 84%
          %a.darken.small{:href => "single-review-numbers.html"}
            %img{:alt => "Industrial furnace", :height => "70", :src => "#{local_path_experimental}photodune-833131-industrial-furnace-s-105x70.jpg", :width => "105"}/
          %a.title{:href => "single-review-numbers.html"} Abraham Lincoln: Vampire Hunter
          .icon
            / %img{:alt => "icon", :src => "#{local_path_experimental}review-movie-dark.png"}/
            = image_tag("/assets/experimental/images/review-movie-dark.png",:alt => "icon")
        %li
          .rating-wrapper.small
            .number.color3 59%
          %a.darken.small.video{:href => "single-review-numbers.html"}
            %img{:alt => "Carnival mask of Venice", :height => "70", :src => "#{local_path_experimental}photodune-606038-carnival-mask-of-venice-s-105x70.jpg", :width => "105"}/
          %a.title{:href => "single-review-numbers.html"} Prometheus
          .icon
            / %img{:alt => "icon", :src => "#{local_path_experimental}review-movie-dark.png"}/
            = image_tag("/assets/experimental/images/review-movie-dark.png",:alt => "icon")
        %li
          .rating-wrapper.small
            .letter.color3 C-
          %a.darken.small.video{:href => "single-review-numbers.html"}
            %img{:alt => "fashion5", :height => "70", :src => "#{local_path_experimental}fashion5-105x70.jpg", :width => "105"}/
          %a.title{:href => "single-review-numbers.html"} Alexander McQueen: Victorian Beauties
          .icon
            / %img{:alt => "icon", :src => "#{local_path_experimental}review-fashion-dark.png"}/
            = image_tag("/assets/experimental/images/review-fashion-dark.png",:alt => "icon")
        %li
          .rating-wrapper.small
            .number.color2 3.1
          %a.darken.small{:href => "single-review-numbers.html"}
            %img{:alt => "photodune-714916-winter-scene-with-spectrum-light-bokeh-s", :height => "70", :src => "#{local_path_experimental}photodune-714916-winter-scene-with-spectrum-light-bokeh-s-105x70.jpg", :width => "105"}/
          %a.title{:href => "single-review-numbers.html"} Metric – Synthetica
          .icon
            / %img{:alt => "icon", :src => "#{local_path_experimental}review-music-dark.png"}/
            = image_tag("/assets/experimental/images/review-music-dark.png",:alt => "icon")
    %a.trending-next{:href => "single-review-numbers.html"}  
/ responsive version
#trending-responsive.trending
  / begin trending
  %ul
    %li
      .rating-wrapper.small
        .stars.yellow
          .star.full  
          .star.full  
          .star.full  
          .star.full  
          .star.half  
      %a.darken.small.video{:href => "single-review-numbers.html"}
        %img{:alt => "restaurants9", :height => "70", :src => "#{local_path_experimental}restaurants9-105x70.jpg", :width => "105"}/
      %a.title{:href => "single-review-numbers.html"} Coffee Common: Bringing Coffee Power to the People
      .icon
        %img{:alt => "icon", :src => "#{local_path_experimental}review-restaurant-dark.png"}/
    %li
      .rating-wrapper.small
        .stars.yellow
          .star.full  
          .star.full  
          .star.full  
          .star.half  
          .star  
      %a.darken.small{:href => "single-review-numbers.html"}
        %img{:alt => "restaurants3", :height => "70", :src => "#{local_path_experimental}restaurants3-105x70.jpg", :width => "105"}/
      %a.title{:href => "single-review-numbers.html"} Daily Veg: Wok-Fried Kangkong at Fatty Crab
      .icon
        %img{:alt => "icon", :src => "#{local_path_experimental}review-restaurant-dark.png"}/
    %li
      .rating-wrapper.small
        .letter.color4 B+
      %a.darken.small{:href => "single-review-numbers.html"}
        %img{:alt => "fashion11", :height => "70", :src => "#{local_path_experimental}fashion11-105x70.jpg", :width => "105"}/
      %a.title{:href => "single-review-numbers.html"} On The Street… Via Tortona, Milan
      .icon
        %img{:alt => "icon", :src => "#{local_path_experimental}review-fashion-dark.png"}/
    %li
      .rating-wrapper.small
        .number.color3 5.3
      %a.darken.small{:href => "single-review-numbers.html"}
        %img{:alt => "music7", :height => "70", :src => "#{local_path_experimental}music7-105x70.jpg", :width => "105"}/
      %a.title{:href => "single-review-numbers.html"} Grace Potter and the Nocturnals – The Lion The Beast The Beat
      .icon
        %img{:alt => "icon", :src => "#{local_path_experimental}review-music-dark.png"}/