.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					.comment-bubble
						%a{:title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 0
					/ making title stronger
					.section-for-header
						Polls
						=# @title.upcase
			.section-arrow 
		/ content area 
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-160x160.jpg", :rel => "image_src"}/
		.overview-wrapper
			/ %h1.title Login
			.overview-new.nopadding-top.padding-about
				.excerpt-new1.justify-content.nopadding-top
					%p.filter-content-new
						= succeed ":" do
							%span.taxName Poll 
						%span.taxContent
							- if @poll
								= @poll.poll_title
						
.sidebar
	= render "experimental/partials/login_box"
	= render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	= render "experimental/partials/newly_reviewed"
	/popular box
	= render "experimental/partials/popular_box"
	/rating box
	= render "experimental/partials/rating_box"
	/banner box
	= render "experimental/partials/banner_box"

