- if "#{params[:ques]}"=="tag_questions"  
  - tag_table.each do |tag|
    %span.tags1_2_3
      %a{:href => "/tags/#{tag.name}"} 
        =tag.name.gsub(/[_]/, ' ')
        %span
          x
        %span.avoid_link_color#weight-font
          = Question.where(:tags=>"#{tag.name.downcase}").count.to_i
        &nbsp;&nbsp;
    /#additional_info       
    / -@paginator = @tags 
    / = render :partial =>"pagination/pagination",:locals => {:paginationType=>"tags"}         
-else
  = tag_table.each_slice(4) do |tags|
    - tags.each do |tag|   
      %span.tags1_2_3
        %a{:href => "/tags/#{tag.name}"} 
          =tag.name.gsub(/[_]/, ' ')
        %span
          x
        %span.avoid_link_color#weight-font
          = Question.where(:tags=>"#{tag.name.downcase}").count.to_i
        &nbsp;&nbsp;
    /#additional_info
    / -@paginator = @tags 
    / = render :partial =>"pagination/pagination",:locals => {:paginationType=>"tags"}
:css
  .pagination{
    margin-bottom: -46px;
  }
  #additional_info{
    margin-bottom: -46px;
  }