%h2
  = tag.name.capitalize rescue ""
  -if local_assigns[:show_counter]
    (#{@questions.count})
.tools
  -if logged_in? && current_user.mod_of?(current_group)
    = link_to "<i class='icon-pencil'></i>edit".html_safe, edit_tag_path(tag)
    = link_to "<i class='icon-cross'></i>Delete".html_safe, tag_path(tag), :method => :delete, :sure => t("scaffold.sure", :model => "tag")
  = follow_tag_link(tag)