.clearer.hide-responsive  
%br.hide-responsive/
#main-wrapper-dark
	.main-content-left
		.page-content.review.single-post
			%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
			.review-content
				.ribbon-shadow-left
				.section-wrapper
					.section
						.section-for-header
							/%i.icon-vcard
							Tags
				.section-arrow 
			.overview-wrapper

				/ %h1.title Login
				%br
				%br
				#members-dir-search.dir-search{:role => "search"}
					%label
						%input#tag_search.search_textbox_height{:name => "s", :placeholder => "Search Tags...", :type => "text"}/
					/ %input#members_search_submit{:name => "members_search_submit", :type => "submit", :value => "Search"}/
					%input#tag_search_submit.clear_up_text{:name => "members_search_submit", :type => "reset", :value => "x", :style=>"opacity:1;"}/
					%br
				.overview-new.nopadding-top.padding-about
					.excerpt-new1.justify-content.nopadding-top
						%p.filter-content-new
							%h2.title
							/ 	= t('activerecord.models.tags')
							/ = form_tag "/questions/tags", :class => "exp-contact-form-new", :id => "filter_tags", :method => "get" do
							/ 	%p
							/ 		= text_field_tag "q", params[:q], placeholder: t(".filter"), :class=>"input-class-new"
							/ 	= button_tag("<i class='icon-cycle'></i>filter".html_safe, :class => "floatright")
							-if logged_in? && current_user.mod_of?(current_group)
								.add-a-new-tag
									= link_to "<i class='icon-tag'></i>Add Tag".html_safe, new_tag_url,:class=>"extra-buttons"
							%br
							#tag_table
								= render(:partial => "tag_table", :locals => {:tag_table => @tags})
				%br
				%br
				#members-dir-search.dir-search{:role => "search"}
					%label
						%input#tag_bottom_search.search_textbox_height{:name => "s", :placeholder => "Search Tags...", :type => "text"}/
					/ %input#members_search_submit{:name => "members_search_submit", :type => "submit", :value => "Search"}/
					%input#tag_search_submit_bottom.clear_bottom_text{:name => "members_search_submit", :type => "reset", :value => "x", :style=>"opacity:1;"}/	
		%br.clearer/
		.main-content-left
			.page-content.review.single-post
				%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
				.review-content
					.ribbon-shadow-left
					.section-wrapper
						.section
							.comment-bubble
								%a{:href => tags_path(:anchor => "disqus_thread")} Link
							/ making title stronger
							.section-for-header
								Disqus
					.section-arrow 
					.overview-wrapper
						.overview-new
							.left-panel
								#disqus_thread
								:javascript
									/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
									var disqus_shortname = 'plusbchange'; // required: replace example with your forum shortname

									/* * * DON'T EDIT BELOW THIS LINE * * */
									(function() {
										var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
										dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; 
										(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); 
									})();
								%noscript 
									Please enable JavaScript to view the 
									%a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus
								%a.dsq-brlink{:href => "http://disqus.com"}
									comments powered by
									%span.logo-disqus Disqus
								:javascript
									var disqus_shortname = 'plusbchange'; // required: replace example with your forum shortname
									// required: replace example with your forum shortname
									(function () {
										var s = document.createElement('script'); s.async = true;
										s.type = 'text/javascript';
										s.src = '//'+disqus_shortname+'.disqus.com/count.js';
										(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
									}());
		%br.clearer/


/ .clearer.hide-responsive  
/ %br.hide-responsive/
/ .main-content-left
/ 	%br.clearer/
/ 	#spotlight-wrapper
/ 		.ribbon-shadow-left  
/ 		.section-wrapper
/ 			/ spotlight section header
/ 			.section
/ 				Contact
/ 		.ribbon-shadow-right  
/ 		.section-arrow  
/ 	.page-content.review
/ 		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-160x160.jpg", :rel => "image_src"}/
/ 		.overview-wrapper
/ 			.overview-new
/ 				.left-panel
/ 					/ old plus content
/ 					%h2.title
/ 						= t('activerecord.models.tags')
/ 					= form_tag "/questions/tags", :class => "exp-contact-form-new", :id => "filter_tags", :method => "get" do
/ 						%p
/ 							= text_field_tag "q", params[:q], placeholder: t(".filter"), :class=>"input-class-new"
/ 						= button_tag("<i class='icon-cycle'></i>filter".html_safe, :class => "floatright")
/ 					-if logged_in? && current_user.mod_of?(current_group)
/ 						.add-a-new-tag
/ 							= link_to "<i class='icon-tag'></i>Add Tag".html_safe, new_tag_url,:class=>"extra-buttons"
/ 					%br
/ 					#tag_table
/ 						= render(:partial => "tag_table", :locals => {:tag_table => @tags})
/ 		/ .overview-wrapper

				
/side bar
.sidebar
	/login box
	= render "experimental/partials/login_box"
	/ member box
	= render "experimental/partials/member_box"
	/ left bar
	= render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	= render "experimental/partials/newly_reviewed"
	/popular box
	= render "experimental/partials/popular_box"
	/rating box
	= render "experimental/partials/rating_box"
	/banner box
	= render "experimental/partials/banner_box"

:javascript
	jQuery(document).ready(function(jQ){
		jQuery('#tag_search,#tag_bottom_search').on('keyup',function(e) {
			if ((e.which)!=32){				
				var v = jQuery(this).val();
				var ques_search =jQuery.trim(v);
				e.preventDefault();
				jQuery(".loader").addClass("ajax-loader");
				jQuery.ajax({           
					url:'/tags',
				    data:{ type: ques_search,ques:"tag_questions",idLoad: "tag_table",page:""},
					error:function(errorObject){    
				
					},
					success:function(successObject){
					jQuery(".loader").removeClass("ajax-loader");
					 
					}
				});
			}
		})
		jQuery('.clear_up_text').click(function(){
			jQuery('#tag_search').val('');
		})
		jQuery('.clear_bottom_text').on('click',function(){
			jQuery('#tag_bottom_search').val('');
			
		})
		jQuery('#tag_search_submit_bottom,#tag_search_submit').on('click',function(e) {
			e.preventDefault();
			jQuery(".loader").addClass("ajax-loader");
			jQuery.ajax({           
				url:'/tags',
			    data:{ type: "",ques:"tag_questions",idLoad: "tag_table",page:""},
				error:function(errorObject){    
			
				},
				success:function(successObject){
				jQuery(".loader").removeClass("ajax-loader");
				 
				}
			});
		})
		jQuery('#tag_search').val('');
		jQuery('#tag_bottom_search').val('');
	});