/ content variable
.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  .page-content.review
    %link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-160x160.jpg", :rel => "image_src"}/
    .overview-wrapper
      %h1.title Tags
      .overview
        .arrow-catpanel-bottom  
        .excerpt-new
          -feed_url = url_for(:format => "atom", :tags => @tag_names.join("+"))
          -content_for :rss do
            %link{:rel=>"alternate", :type=>"application/atom+xml", :title => "atom", :href=> feed_url}
          .add-a-new-tag
            -@tags.each do |tag|
              .each
                = render "tag", :tag => tag, :show_counter => true
                -if tag.has_icon?
                  = image_tag tag_icon_path(current_group,tag.name)
                %p
                  = tag.description
            -if @questions.empty?
              %article.question
                %li.highlight
                = t(".empty")
          .bx-wrapper{:style=>"margin-left:-15px;"}
            %ul#slider21
              %li.pager.ps1
                %ul
                  -@questions.each do |question|
                    = render "experimental/partials/questions/plus_question", :question => question

                = paginate @questions
