%li{:class => "grid_12 serv_loc4"}
  %span{:class => "s1"}
    = provider.name
  %p{:class => "srv_loc2"}
    = provider.description
    %br
    = "Phone: #{provider.telephone}"
    %br
    Email:
    = link_to provider.email, "mailto:#{provider.email}"
  - unless provider.address.blank?
    = image_tag "plus/gmap_icon.png"
    = link_to "View on map", "#"