.s_listing.i_clinic
  %div
    =link_to "#{provider.name}",service_map_provider_path(provider.country.downcase, provider.slug),:class=>"title-clinic"
  - unless provider.address.blank?
    .s_listing_address
      %span.icon
      %span.clinic-content
        = provider.address
  - unless provider.description.blank?
    .s_listing_text 
      %span.icon
      %span.clinic-content-desc
        = provider.description
    .details_bar
      %span.width-adjust
        %span.bubble.clinic-comment
          =3
        %span.text-recommendations
          ="Comments"
      %span.width-adjust
        %span.bubble.clinic-recommendation
          =3
        %span.text-recommendations
          ="Comments"
      
/ %li{:class => "grid_12 serv_loc4"}
/   %span{:class => "s1"}
/     = provider.name
/   %p{:class => "srv_loc2"}
/     = provider.description
/     %br
/     = "Phone: #{provider.telephone}"
/     %br
/     Email:
/     = link_to provider.email, "mailto:#{provider.email}"
/   - unless provider.address.blank?
/     = image_tag "plus/gmap_icon.png"
/     = link_to "View on map", "#"