%script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyBmJE9KrYdmPiW16lAHDJOiCvS1Fwen7BU&sensor=true"}

.clearer.hide-responsive  
%br.hide-responsive/
#main-holder.main-content-left
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					/ .comment-bubble
					/ 	%a{:href => "#respond", :title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 0
					/ making title stronger
					.section-for-header
						%i.icon-numbered-list
						= @service_provider.name
			.section-arrow 
	#tabs-frontpage
		%ul.tabnav.ui-tabs-nav
			%li.ui-tabs-selected
				%a{:href => "#Profile",:id=>"profile-tab"} Profile
			%li
				%a{:href => "#TreatmentPrices"} Treatment & Prices
			%li
				%a{:href => "#Staff"} Staff
			%li
				%a{:href => "#Review"} Review
			%li
				%a{:href => "#Map" ,:id => "map-tab"} Map
			- unless current_user.nil?
				%li
					%a{:href => "#Validate" ,:id => "validate-tab", :class=>"fancybox", "data-reveal-id"=>"myModalShow"} Validate
		/ top contact bar
		= render "service_providers/partials/contact_bar"
		.tabdiv-wrapper
			#Profile.tabdiv.nopadding.ui-tabs-panel{:style => ""}
				= render "service_providers/partials/tab_overview"
			#TreatmentPrices.tabdiv.ui-tabs-panel.nopadding.ui-tabs-hide{:style => ""}
				= render "service_providers/partials/tab_treatment_price"
			#Staff.tabdiv.ui-tabs-panel.nopadding.ui-tabs-hide{:style => ""}
				= render "service_providers/partials/tab_staff"
			#Review.ui-tabs-panel.nopadding.ui-tabs-hide{:style => ""}
				= render "service_providers/partials/tab_review"
			#Map.tabdiv.ui-tabs-panel.nopadding.ui-tabs-hide{:style => ""}
				= render :partial => "service_providers/partials/tab_map"
		= render "service_providers/partials/contact_bar"
		= render "service_providers/partials/validated_bar"
		/ bottom contact bar
		= render "service_providers/partials/footer_bar"

- unless current_user.nil?
	#myModalShow.reveal-modal.show-box1
		/ %h1 Modal Title
		#validate-box
			.service-name-box
				Please give your valuable feedback on #{@service_provider.name.titleize}
			= form_for @service_provider_validate, :url => provider_validate_path do |f|
				.service-form-validate
					.valid-service
						Is this a valid place?
						%br.clearer
						%span
							= f.label "Yes"
							= f.radio_button :valid_provider,1
							= f.label "No"
							= f.radio_button :valid_provider,0
						%br
						%br
					.correct-service
						Are the services correct? 
						%br.clearer
						%span
							= f.label "Yes"
							= f.radio_button :correct_provider,1
							= f.label "No"
							= f.radio_button :correct_provider,0
						%br
						%br
					.prices-service
						Are the prices correct? 
						%br.clearer
						%span
							= f.label "Yes"
							= f.radio_button :valid_prices_provider,1
							= f.label "No"
							= f.radio_button :valid_prices_provider,0
						%br
				= hidden_field_tag :service_provider_id,@service_provider.slug
				%br
				%br
				.service-validate-submit
					= f.submit "Submit", :html=>{:title=>"Submit",:class=>"tool-tip"}
				
		%a.close-reveal-modal#close-box1
			%img{:alt => "close", :src => "http://cdn.rpxnow.com/rel/img/43f137c98b7a6562f6ad5f076fce376b.png", :style => "width: 34px; top: -22px; right: -25px; position: absolute; height: 34px; cursor: pointer;"}/
				
/side bar
.sidebar
	- if current_user.nil?
		/login box
		= render "experimental/partials/login_box"
	-else
		/profile box
		= render "experimental/partials/profile_box"
	/ social login box
	= render "experimental/partials/social_login_box"
	/ member box
	= render "experimental/partials/member_box"
	/rating box
	= render "experimental/partials/rating_box"
	/rating box
	= render "experimental/partials/rating_box2"
	/ left bar
	/ = render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	= render "experimental/partials/newly_reviewed"
	/popular box
	= render "experimental/partials/popular_box"
	/banner box
	= render "experimental/partials/banner_box"

:javascript
	jQuery(document).ready(function($){
		$("#tab_overview").show();		
		$(".ui-tabs-nav li").click(function(){
			var thisVar = $(this);
			var idTaker = thisVar.attr("data-find");
			// removing all active tabs
			$(".ui-tabs-nav li").removeClass("ui-tabs-active"); 
			// adding active class
			$("."+idTaker).addClass("ui-tabs-active");
			$(".class-hide").hide();
			$("#"+idTaker).show();
		});		
		// click function ends here

		$("#validate-tab").click(function(){
			$("#myModalShow").show();
		})

		var geocoder;
		var map;
		var markersArray = [];
		var bounds;
		var infowindow =  new google.maps.InfoWindow({
				content: ''
		});

		//plot initial point using geocode instead of coordinates (works just fine)
		function initialize() {
				geocoder = new google.maps.Geocoder();
				bounds = new google.maps.LatLngBounds ();
				var myOptions = {
						zoom: 2, 
						mapTypeControl:false,
						mapTypeId: google.maps.MapTypeId.ROADMAP,
						zoomControlOptions: {
				    style: google.maps.ZoomControlStyle.LARGE
				  }

					
				};
			
				map = new google.maps.Map(document.getElementById("services_map_2"), myOptions);

				plotMarkers();
		}
		
		var locationsArray = [['#{escape_javascript @service_provider.name.gsub(",","")}','#{escape_javascript @service_provider.telephone}' + " " + '#{escape_javascript @service_provider.email}','#{escape_javascript @service_provider.address.gsub(",","")}']]
		function plotMarkers(){
				var i;
				for(i = 0; i < locationsArray.length; i++){
						codeAddresses(locationsArray[i]);
				}
		}
		function codeAddresses(address){
				geocoder.geocode( { 'address': address[2]}, function(results, status) { 
						if (status == google.maps.GeocoderStatus.OK) {
								marker = new google.maps.Marker({
										map: map,
										position: results[0].geometry.location
								});

								google.maps.event.addListener(marker, 'click', function() {

										var formattedAddress =  "<b>" + address[0] + "</b> <br/>" + address[1] ;
										infowindow.setContent(formattedAddress);
										infowindow.open(map, this);
								});

								bounds.extend(results[0].geometry.location);

								markersArray.push(marker); 
						}
						else{
								//alert("Geocode was not successful for the following reason: " + status);
						}
						map.fitBounds(bounds);
						map.setZoom(12)
				});
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	});
	
	
	
	
	