%script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyBmJE9KrYdmPiW16lAHDJOiCvS1Fwen7BU&sensor=true"}

.clearer.hide-responsive  
%br.hide-responsive/
#main-holder.main-content-left
	.page-content.review.single-post
		%link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					/ .comment-bubble
					/ 	%a{:href => "#respond", :title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 0
					/ making title stronger
					.section-for-header
						%i.icon-numbered-list
						= @service_provider.name
			.section-arrow 
	#tabs-frontpage
		%ul.tabnav.ui-tabs-nav
			%li.ui-tabs-selected
				%a{:href => "#Profile",:id=>"profile-tab"} Profile
			%li
				%a{:href => "#TreatmentPrices"} Treatment & Prices
			%li
				%a{:href => "#Staff"} Staff
			%li
				%a{:href => "#Review"} Review
			%li
				%a{:href => "#Map" ,:id => "map-tab"} Map
		/ top contact bar
		= render "service_providers/partials/contact_bar"
		.tabdiv-wrapper
			#Profile.tabdiv.nopadding.ui-tabs-panel{:style => ""}
				= render "service_providers/partials/tab_overview"
			#TreatmentPrices.tabdiv.ui-tabs-panel.nopadding.ui-tabs-hide{:style => ""}
				= render "service_providers/partials/tab_treatment_price"
			#Staff.tabdiv.ui-tabs-panel.nopadding.ui-tabs-hide{:style => ""}
				= render "service_providers/partials/tab_staff"
			#Review.ui-tabs-panel.nopadding.ui-tabs-hide{:style => ""}
				= render "service_providers/partials/tab_review"
			#Map.tabdiv.ui-tabs-panel.nopadding.ui-tabs-hide{:style => ""}
				= render :partial => "service_providers/partials/tab_map"
		= render "service_providers/partials/contact_bar"
		/ bottom contact bar
		= render "service_providers/partials/footer_bar"
				
/side bar
.sidebar
	= render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	= render "experimental/partials/login_box2"
	= render "experimental/partials/login_box2"
	= render "experimental/partials/login_box2"







/ = image_tag "plus/body_about1.jpg", :class => "body_header"
/ .alpha.grid_18.body_about{:id => "firstElement",:style=>"background-color:#F0EFEA; width:750px"}
/ 	%span{:class => "p_a"}
/ 		= truncate(strip_tags(@service_provider.name), :length => 45)
/ 	%span{:class => "p_a1 i3_1", :style => "position: absolute !important; left: 20px !important;"}
/ 		= link_to "Home", "/"
/ 		>
/ 		= link_to "Service Providers",'/services-map'
/ 		>
/ 		%span.underline-decoration-link
/ 			= link_to "#{h truncate(@service_provider.name, :length => 95)}", "#",:style => "color: white;"
/ 	.header-title-clinic
/ 		%span
/ 			= @service_provider.name
/ 		%span.clinic-title-desc
/ 			= truncate(@service_provider.description,:length=>50)
/ 	#tabsmenu
/ 		%ul.ui-tabs-nav
/ 			%li.tab_overview.ui-tabs-active{"data-find"=>"tab_overview"}
/ 				%a.ui-tabs-anchor{:href => "javascript:void(0)",  :title => "Overview"}
/ 					%span.icon
/ 					Profile
/ 			%li.tab_prices{"data-find"=>"tab_prices"}
/ 				%a.ui-tabs-anchor{:href => "javascript:void(0)",  :title => "Treatment & Prices"}
/ 					%span.icon
/ 					Treatment & Prices
/ 			%li.tab_staff{"data-find"=>"tab_staff"}
/ 				%a.ui-tabs-anchor{:href => "javascript:void(0)",  :title => "Staff"}
/ 					%span.icon
/ 					Staff
/ 			%li.tab_reviews{"data-find"=>"tab_reviews"}
/ 				%a.ui-tabs-anchor{:href => "javascript:void(0)",  :title => "Review"}
/ 					%span.icon
/ 					Review
/ 			%li.tab_map{"data-find"=>"tab_map"}
/ 				%a.ui-tabs-anchor{:href => "javascript:void(0)", :title => "Map"}
/ 					%span.icon
/ 					Map
/ 	#main-holder
/ 		/ top contact bar
/ 		= render "service_providers/partials/contact_bar"
/ 		#tab_overview.class-hide
/ 			= render "service_providers/partials/tab_overview"
/ 			/ bw ends here


/ 		/ tab overview ends here
/ 		#tab_prices.class-hide
/ 			= render "service_providers/partials/tab_treatment_price"
/ 		/ tab prices ends here
/ 		#tab_staff.class-hide
/ 			= render "service_providers/partials/tab_staff"
/ 		/ tab staff ends here
/ 		#tab_reviews.class-hide
/ 			= render "service_providers/partials/tab_review"
/ 		/ tab tab_reviews ends here
/ 		#tab_map.class-hide
/ 			= render :partial => "service_providers/partials/tab_map"
/ 		/ tab tab_map ends here
/ 		/footer partials
/ 		= render "service_providers/partials/contact_bar"
/ 		// bw contact ends here
/ 		= render "service_providers/partials/footer_bar"
/ #secondElement.grid_5.omega.body1_about{:style=>"background-color:#F3F7FA; min-height:800px; !important;"}
/ 	%p{:class => "about"}
/ 		%strong
/ 			Services Map
/ 	= render :partial => "shared/about_nav_bar"

:javascript
	jQuery(document).ready(function($){
		$("#tab_overview").show();		
		$(".ui-tabs-nav li").click(function(){
			var thisVar = $(this);
			var idTaker = thisVar.attr("data-find");
			// removing all active tabs
			$(".ui-tabs-nav li").removeClass("ui-tabs-active"); 
			// adding active class
			$("."+idTaker).addClass("ui-tabs-active");
			$(".class-hide").hide();
			$("#"+idTaker).show();
		});		
		// click function ends here


		var geocoder;
		var map;
		var markersArray = [];
		var bounds;
		var infowindow =  new google.maps.InfoWindow({
				content: ''
		});

		//plot initial point using geocode instead of coordinates (works just fine)
		function initialize() {
				geocoder = new google.maps.Geocoder();
				bounds = new google.maps.LatLngBounds ();
				var myOptions = {
						zoom: 2, 
						mapTypeControl:false,
						mapTypeId: google.maps.MapTypeId.ROADMAP,
						zoomControlOptions: {
				    style: google.maps.ZoomControlStyle.LARGE
				  }

					
				};
			
				map = new google.maps.Map(document.getElementById("services_map_2"), myOptions);

				plotMarkers();
		}
		
		var locationsArray = [['#{escape_javascript @service_provider.name.gsub(",","")}','#{escape_javascript @service_provider.telephone}' + " " + '#{escape_javascript @service_provider.email}','#{escape_javascript @service_provider.address.gsub(",","")}']]
		function plotMarkers(){
				var i;
				for(i = 0; i < locationsArray.length; i++){
						codeAddresses(locationsArray[i]);
				}
		}
		function codeAddresses(address){
				geocoder.geocode( { 'address': address[2]}, function(results, status) { 
						if (status == google.maps.GeocoderStatus.OK) {
								marker = new google.maps.Marker({
										map: map,
										position: results[0].geometry.location
								});

								google.maps.event.addListener(marker, 'click', function() {

										var formattedAddress =  "<b>" + address[0] + "</b> <br/>" + address[1] ;
										infowindow.setContent(formattedAddress);
										infowindow.open(map, this);
								});

								bounds.extend(results[0].geometry.location);

								markersArray.push(marker); 
						}
						else{
								//alert("Geocode was not successful for the following reason: " + status);
						}
						map.fitBounds(bounds);
						map.setZoom(12)
				});
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	});
	
	
	
	
	