#main-wrapper-dark
  / this is only used for the dark skin since it already uses an image for the background texture and light does not
  .main-content-left
    %br.clearer/
    #spotlight-wrapper
      .ribbon-shadow-left  
      .section-wrapper
        / spotlight section header
        .section
          Login 
      .ribbon-shadow-right  
      .section-arrow  
    .page-content.review
      %link{:href => "http://www.industrialthemes.com/made/wp-content/uploads/2012/06/movies3-160x160.jpg", :rel => "image_src"}/
      .overview-wrapper
        / %h1.title Login
        .overview-new
          / .arrow-catpanel-bottom  
          .left-panel
            .article-image.video
              / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "197", :src => "http://www.youtube.com/embed/sftuxbvGwiU", :width => "350"}
            / %br.clearer/
            .category
              /.ribbon-shadow-left  
              .catname
                Quick Stats
              .category-arrow  
            %br.clearer/
            = succeed ":" do
              %span.taxName Genre
            %span.taxContent
              %a{:href => "archive-a.html", :rel => "tag"}> Action
              ,
              %a{:href => "archive-a.html", :rel => "tag"} Sci-Fi
            .separator  
            = succeed ":" do
              %span.taxName Director
            %span.taxContent
              %a{:href => "archive-a.html", :rel => "tag"}> Quentin Terantino
              ,
              = succeed "," do
                %a{:href => "archive-a.html", :rel => "tag"} Ridley Scott
              %a{:href => "archive-a.html", :rel => "tag"} Ron Howard
            .separator  
            = succeed ":" do
              %span.taxName Actor
            %span.taxContent
              %a{:href => "archive-a.html", :rel => "tag"}> Leonardo DiCaprio
              ,
              = succeed "," do
                %a{:href => "archive-a.html", :rel => "tag"} Penelope Cruz
              %a{:href => "archive-a.html", :rel => "tag"} Scarlett Johansson
            .separator  
            = succeed ":" do
              %span.taxName MPAA Rating
            %span.taxContent
              %a{:href => "archive-a.html", :rel => "tag"} R
            .separator  
            = succeed ":" do
              %span.metaName Release Date
            %span.metaContent July 2012
            .separator  
            = succeed ":" do
              %span.metaName Length
            %span.metaContent 2 hours 10 minutes
            .separator  
            = succeed ":" do
              %span.metaName Storyline
            %span.metaContent Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas.
            .separator  
            = succeed ":" do
              %span.metaName Studio
            %span.metaContent Paramount Pictures
            .separator  
            = succeed ":" do
              %span.metaName Producer
            %span.metaContent Joel Silver
            .separator  
            = succeed ":" do
              %span.metaName Composer
            %span.metaContent James Horner
            .separator  
            %br.clearer/
            %br/
            = render "experimental/partials/columns"
          / .excerpt
          /   .bottom-line Our Final Take
          /   %p Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas. Ut suscipit dapibus tellus, vitae gravida lectus faucibus sed. Sed dapibus mauris vulputate quam imperdiet egestas.
          / .bottom
          /   .comment-bubble
          /     %a{:href => "http://www.industrialthemes.com/made/movie/the-hobbit-an-unexpected-journey/#respond", :title => "Comment on The Hobbit: An Unexpected Journey"} 0
          /   .section
          /     Posted April 15, 2012 by
          /     %a{:href => "http://www.google.com", :rel => "author external", :title => "Visit Claude Debussey’s website"} Claude Debussey
          

  .sidebar
    /login box
    = render "experimental/partials/login_box"
    = render "experimental/partials/login_box2"          

  

  



    