.top
  %h1
    Tier 2
  %br
= form_for @profile_tier2, :url => {:controller => :tier2, :action => :create}, :method => :post do |f|
  .field
    = label_tag "Are you HIV positive?"
    = radio_button("profile_tier2", "is_hiv_positive", "yes", :disabled => @is_disable)
    Yes
    %br
    = radio_button("profile_tier2", "is_hiv_positive", "Not at my last test", :disabled => @is_disable)
    Not at my last test (must give MMYYYY of last test)
    %br
    = radio_button("profile_tier2", "is_hiv_positive", "Not tested recently", :disabled => @is_disable)
    Not tested recently (last test more than 12 months)
    %br
    = radio_button("profile_tier2", "is_hiv_positive", "Prefer not to display", :disabled => @is_disable)
    Prefer not to display
  
  .field.birthday
    = label_tag "When was your last test?"
    = date_select("profile_tier2", "date_last_test", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable, :discard_day => true, :include_blank => true)
  
  .field.birthday
    = label_tag "When were you first diagnosed?"
    = date_select("profile_tier2", "date_first_diagnosed", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable)
  .field
    = label_tag "Where were you first diagnosed?"
  .field
    = label_tag "Country"
    = f.text_field :country_first_diagnosed, :disabled => @is_disable
  .field
    = label_tag "State/Province"
    = f.text_field :state_first_diagnosed, :disabled => @is_disable
  .field
    = label_tag "City"
    = f.text_field :city_first_diagnosed, :disabled => @is_disable

  .field 
    = label_tag "Where do you get your regular health services? (eg. health check-up, blood tests, HIV medication, etc)"
  .field
    = label_tag "Country"
    = f.text_field :country_regular_check_up, :disabled => @is_disable
  .field
    = label_tag "State/Province"
    = f.text_field :state_regular_check_up, :disabled => @is_disable
  .field
    = label_tag "City"
    = f.text_field :city_regular_check_up, :disabled => @is_disable

  .field.birthday
    = label_tag "When was your last health check-up with your HIV specialist?"
    = date_select("profile_tier2", "date_last_check_up", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable)

  .field
    = label_tag "Have you started antiretroviral therapy (ART)?"
    = radio_button("profile_tier2", "is_antiretroviral", true, :disabled => @is_disable) 
    Yes
    %br
    = radio_button("profile_tier2", "is_antiretroviral", false, :disabled => @is_disable) 
    No

  .field.birthday
    = label_tag "When did you start antiretroviral therapy?"
    = date_select("profile_tier2", "date_antiretroviral", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable)

  .field
    = label_tag "What is one myth about living with HIV that you realise is not true?"
    = f.text_area :myth_about_hiv, :disabled => @is_disable, :rows => 5
  
  .field
    = label_tag "What is one humorous or odd thing about your life with HIV?"
    = f.text_area :odd_about_hiv, :disabled => @is_disable, :rows => 5

  - unless @is_disable
    .buttons
      = submit_tag("submit", :class => "save")