- content_for :title do
  Tier 2
    
= image_tag "plus/body_about.jpg", :class => "body_header"
.alpha.grid_24.body_about{:id => "firstElement", :style => "margin-bottom: 15px;width: 958px;"}
  %span{:class => "p_a"}
    Tier 2
  %span{:class => "p_a1", :style => "position: absolute !important; left: 25px;"}
    = link_to "Home", "/"
    > Tier 2
  .ask
    = form_for @profile_tier2, :url => {:controller => :tier2, :action => :create}, :method => :post do |f|
      %p{:class => "ask2"}
        %strong
          = label_tag "Are you HIV positive?"
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier2", "is_hiv_positive", "yes", :disabled => @is_disable)
              Yes
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier2", "is_hiv_positive", "Not at my last test", :disabled => @is_disable)
              Not at my last test (must give MMYYYY of last test)
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier2", "is_hiv_positive", "Not tested recently", :disabled => @is_disable)
              Not tested recently (last test more than 12 months)
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier2", "is_hiv_positive", "Prefer not to display", :disabled => @is_disable)
              Prefer not to display
      
      %p{:class => "ask2"}
        %strong
          = label_tag "When was your last test?"
      .search3
        = date_select("profile_tier2", "date_last_test", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable, :discard_day => true, :include_blank => true)
      
      %p{:class => "ask2"}
        %strong
          = label_tag "When were you first diagnosed?"
      .search3
        = date_select("profile_tier2", "date_first_diagnosed", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable)
      %p{:class => "ask2"}
        %strong
          = label_tag "Where were you first diagnosed?"
      %p{:class => "ask2"}
        %strong
          = label_tag "Country"
      .search3
        = f.text_field :country_first_diagnosed, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "State/Province"
      .search3
        = f.text_field :state_first_diagnosed, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "City"
      .search3
        = f.text_field :city_first_diagnosed, :disabled => @is_disable

      %p{:class => "ask2"}
        %strong
          = label_tag "Where do you get your regular health services? (eg. health check-up, blood tests, HIV medication, etc)"
      %p{:class => "ask2"}
        %strong
          = label_tag "Country"
      .search3
        = f.text_field :country_regular_check_up, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "State/Province"
      .search3
        = f.text_field :state_regular_check_up, :disabled => @is_disable
      %p{:class => "ask2"}
        %strong
          = label_tag "City"
      .search3
        = f.text_field :city_regular_check_up, :disabled => @is_disable

      %p{:class => "ask2"}
        %strong
          = label_tag "When was your last health check-up with your HIV specialist?"
      .search3
        = date_select("profile_tier2", "date_last_check_up", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable)

      %p{:class => "ask2"}
        %strong
          = label_tag "Have you started antiretroviral therapy (ART)?"
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier2", "is_antiretroviral", true, :disabled => @is_disable) 
              Yes
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier2", "is_antiretroviral", false, :disabled => @is_disable) 
              No

      %p{:class => "ask2"}
        %strong
          = label_tag "When did you start antiretroviral therapy?"
      .search3
        = date_select("profile_tier2", "date_antiretroviral", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable)

      %p{:class => "ask2"}
        %strong
          = label_tag "What is one myth about living with HIV that you realise is not true?"
      .search3
        = f.text_area :myth_about_hiv, :disabled => @is_disable, :rows => 5
      
      %p{:class => "ask2"}
        %strong
          = label_tag "What is one humorous or odd thing about your life with HIV?"
      .search3
        = f.text_area :odd_about_hiv, :disabled => @is_disable, :rows => 5

      .search3
        - unless @is_disable
          = link_to "<span>Submit</span>".html_safe, "#", :class => "ask_tag2", :id => "ask_question_link", :style => "margin-bottom: 10px;"

:javascript
  $("#ask_question_link").click(function (){
    $("#new_profile_tier2,#edit_profile_tier2").submit();
  });