.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "../experimental/images/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section-header
					Tier 2
			.section-arrow
			/ post by removed from here
			.content-panel
				.the-content.justify-content
					= form_for @profile_tier2, :url => {:controller => :tier2, :action => :create},:html => {:class => "exp-contact-form"}, :method => :post do |f|
						%p{:class => "ask2"}
							= f.label "Are you HIV positive?", :class=> "label"
						%table
							%tr
								%td
									.checkbox
										= radio_button("profile_tier2", "is_hiv_positive", "yes", :disabled => @is_disable)
										Yes
						%table
							%tr
								%td
									.checkbox
										= radio_button("profile_tier2", "is_hiv_positive", "Not at my last test", :disabled => @is_disable)
										Not at my last test (must give MMYYYY of last test)
						%table
							%tr
								%td
									.checkbox
										= radio_button("profile_tier2", "is_hiv_positive", "Not tested recently", :disabled => @is_disable)
										Not tested recently (last test more than 12 months)
						%table
							%tr
								%td
									.checkbox
										= radio_button("profile_tier2", "is_hiv_positive", "Prefer not to display", :disabled => @is_disable)
										Prefer not to display
						
						%p{:class => "ask2"}
							= f.label "When was your last test?", :class=>"label"
						= date_select("profile_tier2", "date_last_test", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable, :discard_day => true, :include_blank => true)
						
						%p{:class => "ask2"}
							= f.label "When were you first diagnosed?", :class=>"label"
						= date_select("profile_tier2", "date_first_diagnosed", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable)
						%p{:class => "ask2"}
							= f.label "Where were you first diagnosed?", :class=>"label"
						%p{:class => "ask2"}
							= f.label "Country", :class=>"label"
						= f.text_field :country_first_diagnosed, :disabled => @is_disable, :class=>"input-class"
						%p{:class => "ask2"}
							= f.label "State/Province", :class=>"label"
						= f.text_field :state_first_diagnosed, :disabled => @is_disable, :class=>"input-class"
						%p{:class => "ask2"}
							= f.label "City", :class=>"label"
						= f.text_field :city_first_diagnosed, :disabled => @is_disable, :class=>"input-class"

						%p{:class => "ask2"}
							= f.label "Where do you get your regular health services? (eg. health check-up, blood tests, HIV medication, etc)", :class=>"label"
						%p{:class => "ask2"}
							= f.label "Country", :class=>"label"
						= f.text_field :country_regular_check_up, :disabled => @is_disable, :class=>"input-class"
						%p{:class => "ask2"}
							= f.label "State/Province", :class=>"label"
						= f.text_field :state_regular_check_up, :disabled => @is_disable, :class=>"input-class"
						%p{:class => "ask2"}
							= f.label "City", :class=>"label"
						= f.text_field :city_regular_check_up, :disabled => @is_disable, :class=>"input-class"

						%p{:class => "ask2"}
							= f.label "When was your last health check-up with your HIV specialist?", :class=>"label"
						= date_select("profile_tier2", "date_last_check_up", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable)

						%p{:class => "ask2"}
							= f.label "Have you started antiretroviral therapy (ART)?", :class=>"label"
						%table
							%tr
								%td
									.checkbox
										= radio_button("profile_tier2", "is_antiretroviral", true, :disabled => @is_disable) 
										Yes
						%table
							%tr
								%td
									.checkbox
										= radio_button("profile_tier2", "is_antiretroviral", false, :disabled => @is_disable) 
										No

						%p{:class => "ask2"}
							= f.label "When did you start antiretroviral therapy?", :class=>"label"
						= date_select("profile_tier2", "date_antiretroviral", :start_year => 1940, :end_year => 2013, :order => [:day, :month, :year], :disabled => @is_disable)

						%p{:class => "ask2"}
							= f.label "What is one myth about living with HIV that you realise is not true?", :class=>"label"
						= f.text_area :myth_about_hiv, :disabled => @is_disable, :rows => 5, :style=>"width: 270px; height: 133px;", :style => "width: 630px",:class=>"textarea"
						
						%p{:class => "ask2"}
							= f.label "What is one humorous or odd thing about your life with HIV?", :class=>"label"
						= f.text_area :odd_about_hiv, :disabled => @is_disable , :rows=>5,:style => "width: 630px",:class=>"textarea"
						%p
						- unless @is_disable
							= link_to "<i class='icon-check'></i>Submit".html_safe, "javascript:void(0)", :class => "submit-button", :id => "ask_question_link", :style => "margin-bottom: 10px;"
.sidebar
	- if current_user.nil?
		/login box
		= render "experimental/partials/login_box"
	-else
		/profile box
		= render "experimental/partials/profile_box"

	/ social login box
	= render "experimental/partials/social_login_box"
	/ member box
	/= render "experimental/partials/member_box"
	/rating box
	= render "experimental/partials/rating_box"
	/rating box
	= render "experimental/partials/rating_box2"
	/ left bar
	/ = render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	/= render "experimental/partials/newly_reviewed"
	/popular box
	= render "experimental/partials/popular_box"
	/banner box
	= render "experimental/partials/banner_box"
:javascript
	jQuery("#ask_question_link").click(function (){
		jQuery("#new_profile_tier2,#edit_profile_tier2").submit();
	});
