.clearer.hide-responsive
%br.hide-responsive/
.main-content-left
	.page-content.review.single-post
		%link{:href => "../experimental/images/misc1-160x160.jpg", :rel => "image_src"}/
		.review-content
			.ribbon-shadow-left
			.section-wrapper
				.section
					/ .comment-bubble
					/   %a{:title => "Comment on Made Magazine Is The First Responsive Theme Released By IndustrialThemes"} 0
					/ making title stronger
					.section-for-header
						%i.icon-traffic-cone
						Privacy Policy
			.section-arrow
		/ content area
		%link{:href => "../experimental/images/movies3-160x160.jpg", :rel => "image_src"}/
		.overview-wrapper
			/ %h1.title Login
			.overview-new.no-background
				/ .arrow-catpanel-bottom
				.left-panel
					%h2
						Privacy Policy
					%div
						- unless @privacy.nil?
							= @privacy.static_content.html_safe
/side bar
.sidebar
	/login box
	- if current_user.nil?
		/login box
		= render "experimental/partials/login_box"
	-else
		/profile box
		= render "experimental/partials/profile_box"

	/ social login box
	= render "experimental/partials/social_login_box"
	/ member box
	/ = render "experimental/partials/member_box"
	/ left bar
	= render "experimental/partials/left_bar"
	/widget top
	= render "experimental/partials/widget_top"
	/ .clearer.hide-responsive
	/ %br.clearer/
	/ newly reviewd
	/ = render "experimental/partials/newly_reviewed"
	/popular box
	=# render "experimental/partials/popular_box"
	/rating box
	=# render "experimental/partials/rating_box"
	/banner box
	= render "experimental/partials/banner_box"
