= render :partial => 'shared/rich_text_partial'

%h1
  Manage News
%p.description
  CRUD News

%ul.admin-nav
  %li.head_tag
    = link_to "Create New", manage_news_index_path(:tab => "new")
  %li.question_help
    = link_to "List", manage_news_index_path(:tab => "list")

- if params[:tab].eql?('new')
  - method = :post
  - url = manage_news_index_path
  - if !params[:id].nil? && !@news.id.nil?
    - method = :put 
    - url = manage_news_path(:id => @news.id)
  = form_for @news, :url => url, :html => {:class => "form", :method => method} do |form|
    = form.error_messages
    
    .field
      = form.label "News Title *"
      = form.text_field :news_title, :class => "text_area"

    .field
      = form.label "News Body *"
      = form.text_area :news_body, :class => "wysiwyg_editor"

    .field
      = form.label "Active"
      #{radio_button("news", "is_active", true)} yes
      #{radio_button("news", "is_active", false)} no
      
    .field
      = form.label "Archive"
      #{radio_button("news", "is_archive", true)} yes
      #{radio_button("news", "is_archive", false)} no

    .field
      = form.label "Authoring"
      = current_user.name

    .field
      = form.label "Created Date"
      = Time.now.to_datetime.strftime("%d %b %Y - %I:%M %p")

    .field
      = form.label "News Image"
      = form.file_field :news_image

    .buttons
      = form.submit "Save", :class => "save"

- else
  .members
    #members
      - if @news.blank?
        %ul
          %li{:style => "padding-bottom:0px !important"}
            No News Yet
      - @news.each do |news|
        = render :partial => "news", :object => news
        
      = paginate @news