.row-fluid
  .span12
    .box
      .title
        %h4
          %span{:class => "icon16 icomoon-icon-broadcast"}
          %span
            News
        %form{:class => "box-form right", :action => "", :style => "margin-top:-27px !important"}
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 4px 10px !important; border-width: 1px !important; border-style: solid !important">
          <span class="icon16 iconic-icon-cog"></span>
          <span class="caret"></span>
          </a>
          %ul{:class => "dropdown-menu"}
            %li
              = link_to "<span class='icon16 brocco-icon-plus'></span>Add new News".html_safe, "#", :id => "openModalDialog"
        = link_to "Minimize", "#", :class => "minimize"

        .dialog{:id => "modal", :title => "Add New News"}
          = form_for @news, :url => manage_news_index_path, :html => {:class => "form", :method => :post} do |form|
          
            .form-row.row-fluid
              .span12
                .row-fluid
                  = form.label "News Title *", :class => "form-label span4"
                  = form.text_field :news_title, :class => "span8"

            .form-row.row-fluid
              .span12
                .row-fluid
                  = form.label "News Body *", :class => "form-label span4"
                  = form.text_area :news_body, :class => "span8"

            .form-row.row-fluid
              .span12
                .row-fluid
                  = form.label "Active", :class => "form-label span4"
                  .span8.controls
                    .left.marginT5
                      #{radio_button("news", "is_active", true)} yes
                    .left.marginT5
                      #{radio_button("news", "is_active", false)} no
              
            .form-row.row-fluid
              .span12
                .row-fluid
                  = form.label "Archive", :Class => "form-label span4"
                  .span8.controls
                    .left.marginT5
                      #{radio_button("news", "is_archive", true)} yes
                    .left.marginT5  
                      #{radio_button("news", "is_archive", false)} no

            .form-row.row-fluid
              .span12
                .row-fluid
                  = form.label "News Image", :class => "form-label span4"
                  = form.file_field :news_image

            .form-row.row-fluid
              .span12
                .row-fluid
                  .span4
                    &nbsp;
                  = form.submit "Save", :class => "btn nostyle span2", :style => "padding: 4px 10px !important; border-width: 1px !important; border-style: solid !important"

      .content.noPad.clearfix
        %table{:cellpadding=>0,:cellspacing=>0,:border=>0,:class=>"responsive dynamicTable display table table-bordered",:width=>"100%"}
          %thead
            %tr
              %th
                Image
              %th
                Title
              %th 
                Display
              %th
                Date
              %th
                Action
          %tbody
            -@news_list.each do |news|
              = render :partial => "news", :object => news


%script
  $(document).ready(function(){
  //--------------- Dialogs ------------------//

  $('#openModalDialog').click(function(){
  $('#modal').dialog('open');
  return false;
  });

  // JQuery UI Modal Dialog           
  $('#modal').dialog({
  autoOpen: false,
  modal: true,
  dialogClass: 'dialog',
  buttons: {
  "Close": function() { 
  $(this).dialog("close"); 
  }
  }
  });

  - @news_list.each do |news|
    $('#openDialog#{news.id}').click(function(){
    $('#dialog#{news.id}').dialog('open');
    return false;
    });

    $('#dialog#{news.id}').dialog({
    autoOpen: false,
    modal: true,
    dialogClass: 'dialog',
    buttons: {
    "Close": function() { 
    $(this).dialog("close"); 
    }
    }
    });

  $("div.dialog button").addClass("btn");
  });