- content_for :title do
  Contact Us

= image_tag "plus/body_about.jpg", :class => "body_header"
.alpha.grid_24.body_about{:id => "firstElement", :style => "margin-bottom: 15px;width: 958px;"}
  %span{:class => "p_a"}
    Contact Us
  %span{:class => "p_a1", :style => "position: relative !important; left: -169px;"}
    = link_to "Home", "/"
    > Contact Us
  .ask
    = form_for @contact, :url => send_contact_us_contact_index_path do |f|
      %p{:class => "ask2"}
        %strong
          Name*
      .search3
        = f.text_field :name
      %p{:class => "ask2"}
        %strong
          Email*
      .search3
        = f.text_field :email
      %p{:class => "ask2"}
        %strong
          Comment*
      .search3{:style => "width: 100%"}
        = f.text_area :comment, :style => "width: 621px"
      .search3
        = link_to "<span>Submit</span>".html_safe, "#", :class => "ask_tag2", :id => "ask_question_link", :style => "margin-bottom: 10px;"


    
/ .grid_5.omega.body1_about
/   = render :partial => "shared/about_nav_bar"

:javascript
  $('#contact_nav').addClass('active');

  $("#ask_question_link").click(function (){
    $("#new_contact").submit();
  });
    
  

