%script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyBmJE9KrYdmPiW16lAHDJOiCvS1Fwen7BU&sensor=true"}
:javascript
  var map;
  var contact_address = new google.maps.LatLng(1.28668,103.853607);
  
  function initialize() {
    var mapOptions = {
      zoom: 15,
      center: contact_address,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    
    map = new google.maps.Map(document.getElementById('map_canvas'),mapOptions);
    
    var coordInfoWindow = new google.maps.InfoWindow();
    coordInfoWindow.setContent(createInfoWindowContent());
    coordInfoWindow.setPosition(contact_address);
    coordInfoWindow.open(map);
    
    google.maps.event.addListener(map, 'zoom_changed', function() {
      coordInfoWindow.setContent(createInfoWindowContent());
      coordInfoWindow.open(map);
    });
    
  }
  
  function createInfoWindowContent() {
    return [
      'Webmaster',
      '3 Fullerton Rd, Singapore',
      'webmaster@email.com',
      '+65 1234 5678'
    ].join('<br>');
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);

- content_for :title do
  Contact Us

= image_tag "plus/body_about.jpg", :class => "body_header"
.alpha.grid_19.body_about
  %span{:class => "p_a"}
    Contact Us
  %span{:class => "p_a1", :style => "left: -182px"}
    = link_to "Home", "/"
    > Contact 
  %h2
    Contact Us
  %div{:style => "padding: 10px 30px; font-size: 13px; font-family: Arial; color: #000000"}
    #map_canvas{:style => "width: 400px; height: 300px; margin-bottom: 10px"}
    -contact = params[:contact] || {}
    = form_tag send_contact_us_contact_index_path, :class => "form", :method => :post do
      .field
        = label_tag "contact[name]", "Name *", :class => "label"
        = text_field_tag "contact[name]", contact[:name], :class=> "text_field"
      .field
        = label_tag "contact[email]", "Email *", :class => "label"
        = text_field_tag "contact[email]", contact[:email], :class=> "text_field"
      .field
        = label_tag "contact[comment]", "Message *", :class => "label"
        = text_area_tag "contact[comment]", contact[:comment], :class=> "text_area", :cols => 55, :rows => 15
      .field.capcha
        -if AppConfig.recaptcha["activate"] && !logged_in?
          = recaptcha_tag(:challenge, :width => 600, :rows => 5, :display => {:lang => I18n.locale}).html_safe
      .buttons
        = submit_tag(t("scaffold.send"), :class => "save")
        = t("global.or")
        = link_to t("scaffold.cancel"), root_path, :class => 'cancel-feedback'
.grid_5.omega.body1_about
  %p{:class => "about1"}
    %strong
      Follow Us
  .soc_icon1
    = link_to image_tag("plus/twitter1.png"), "http://www.twitter.com", :target => "blank"
    = link_to image_tag("plus/facebook1.png"), "http://www.facebook.com", :target => "blank"

:javascript
  $('#contact_nav').addClass('active');
    
  

