%script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyBmJE9KrYdmPiW16lAHDJOiCvS1Fwen7BU&sensor=true"}
:javascript
  var map;
  var lat = #{@contact.latitude};
  var long = #{@contact.longitude};
  var contact_address = new google.maps.LatLng(lat,long);
  
  function initialize() {
    var mapOptions = {
      zoom: 15,
      center: contact_address,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    
    map = new google.maps.Map(document.getElementById('map_canvas'),mapOptions);
    
    var coordInfoWindow = new google.maps.InfoWindow();
    coordInfoWindow.setContent(createInfoWindowContent());
    coordInfoWindow.setPosition(contact_address);
    coordInfoWindow.open(map);
    
    google.maps.event.addListener(map, 'zoom_changed', function() {
      coordInfoWindow.setContent(createInfoWindowContent());
      coordInfoWindow.open(map);
    });
    
  }
  
  function createInfoWindowContent() {
    return [
      'Webmaster',
      '#{@contact.street_address_safe}',
      'webmaster@email.com',
      '+65 1234 5678'
    ].join('<br>');
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);

- content_for :title do
  Contact Us

= image_tag "plus/body_about.jpg", :class => "body_header"
.alpha.grid_19.body_about
  %span{:class => "p_a"}
    Contact Us
  %span{:class => "p_a1"}
    = link_to "Home", "/"
    > Contact Us
  %h2
    Contact Us
  %div{:style => "padding: 10px 30px; font-size: 13px; font-family: Arial; color: #000000"}
    #map_canvas{:style => "width: 690px; height: 300px; margin-bottom: 10px"}
    
.grid_5.omega.body1_about
  %p{:class => "about"}
    %strong
      About Plus
  %ul{:class => "sp_bg"}
    %li
      = link_to "Knowledgebase", "#"
    %li
      = link_to "Service locator", "/service_providers"
    %li
      = link_to "Terms of service", "/terms_of_service"
    %li
      = link_to "Privacy policy", "/privacy_policy"
    %li
      = link_to "EULA", "/eula"
  %p{:class => "about1"}
    %strong
      Follow Us
  .soc_icon1
    = link_to image_tag("plus/twitter1.png"), "http://www.twitter.com", :target => "blank"
    = link_to image_tag("plus/facebook1.png"), "http://www.facebook.com", :target => "blank"

:javascript
  $('#contact_nav').addClass('active');
    
  

