%script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyBmJE9KrYdmPiW16lAHDJOiCvS1Fwen7BU&sensor=true"}
:javascript
  var map;
  var lat = #{@contact.latitude};
  var long = #{@contact.longitude};
  var contact_address = new google.maps.LatLng(lat,long);
  
  function initialize() {
    var mapOptions = {
      zoom: 15,
      center: contact_address,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    
    map = new google.maps.Map(document.getElementById('map_canvas'),mapOptions);
    
    var coordInfoWindow = new google.maps.InfoWindow();
    coordInfoWindow.setContent(createInfoWindowContent());
    coordInfoWindow.setPosition(contact_address);
    coordInfoWindow.open(map);
    
    google.maps.event.addListener(map, 'zoom_changed', function() {
      coordInfoWindow.setContent(createInfoWindowContent());
      coordInfoWindow.open(map);
    });
    
  }
  
  function createInfoWindowContent() {
    return [
      'Webmaster',
      '#{@contact.street_address_safe}',
      'webmaster@email.com',
      '+65 1234 5678'
    ].join('<br>');
  }
  
  google.maps.event.addDomListener(window, 'load', initialize);

- content_for :title do
  Contact Us

= image_tag "plus/body_about.jpg", :class => "body_header"
.alpha.grid_19.body_about
  %span{:class => "p_a"}
    Contact Us
  %span{:class => "p_a1", :style => "position: relative !important; left: -169px;"}
    = link_to "Home", "/"
    > Contact Us
  %h2
    Contact Us
  %div{:style => "padding: 10px 30px; font-size: 13px; font-family: Arial; color: #000000"}
    #map_canvas{:style => "width: 690px; height: 300px; margin-bottom: 10px"}

  .tabs2
    %div#first.i4_1.serv_loc6
      %div.bx-wrapper{:style =>"width: 953px; position: relative;"}
        %div.bx-window{:style=>"width: 953px; height: 963px; position: relative; overflow: hidden;"}
          %ul#slider41.i3_2
            %li.pager
              %ul
                %li.grid_12.serv_loc4
                  %span.s1 Webmaster
                  %br/
                  %p.srv_loc2
                    #{@contact.street_address_safe}
                    = succeed "Phone:" do
                      %br/
                    (65) 6555 8000
                    %br/
                    Fax: (65) 6602 3700
                    %br/
                    Email:
                    %a{:href => "mailto:webmaster@email.com"} webmaster@email.com
                  %img.srv_loc3{:alt => "", :src => "assets/gmap_icon.png"}/
                  %a{:href => "#"} View on map

    
.grid_5.omega.body1_about
  = render :partial => "shared/about_nav_bar"

:javascript
  $('#contact_nav').addClass('active');
    
  

