#flash
.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left    
  #tool-area
    #top-text
      %p To end HIV, more gay men need to get tested more often … but it’s easy to forget when you last had an HIV test and when it’s time to have the next one.
      %p
        Sign up to the ‘Remind Me’ service to receive e-mail or SMS reminders for your next HIV test. It’s free, easy and confidential. If you are not sure how often you should get tested, click
        %a{:href => "/calculator"} here
        to find out
    #accordion
    = form_for :remind_me,:method=>"POST",:action=>:create,:html=>{:id=>"remind-me-frm"} do |f|
    
      #left-side
        .input
          = f.text_field :first_name,:class=>"input" ,:label => "First Name", :type => "text"
        .input
          = f.text_field :email,:class=>"input" ,:label => "Email", :type => "text"        
        %div or
        .input
          = f.text_field :mobile_phone, :class=>"input phone" ,:label => "Mobile Phone", :type => "text"
        .input{}
          =f.select :state,["Please Select","NSW","QLD","WA","VIC","TAS","SA","NT","ACT"],:html=>{:label => "Select State",:style => "width:100%; -webkit-appearance:none; background-color:black ;"}
      #right-side
        .label
          %b Would you like to receive:
          %br
          %br
        %div
          
          = f.check_box :email_reminder, :id=>"email_reminder" 
          = f.label "Email Reminders"
          %br
          

          
          = f.check_box :phone_reminder, :id=>"phone_reminder" 
          = f.label "SMS Reminders"
          %br
          %br
        .label
          %b How often would you like to be reminded?
          %br
          %br
        %div
          = f.radio_button :reminder_time_frame, "3"
          Four Times a Year 
          %br
         
          = f.radio_button :reminder_time_frame, "6" ,:checked => true
          Twise a year
          %br
          %br

      %div{:style => "clear:both;"}        
        = f.submit "submit",  :id=>"submit-btn" ,:style=>"font-color:black;"
         
    #accordion
    %p#unsubscribe
      / To
      / %a{:href => ""} unsubscribe
      / from this service click here
    #unsubscribe_window
      %form#remind-unsub-frm{:action => "/remind-me/", :method => "post"}
        }
      
.sidebar
  - if current_user.nil?
    /login box
    = render "experimental/partials/login_box"
  -else
    /profile box
    = render "experimental/partials/profile_box"

  / social login box
  = render "experimental/partials/social_login_box"
  / member box
  /= render "experimental/partials/member_box"
  /rating box
  = render "experimental/partials/rating_box"
  /rating box
  = render "experimental/partials/rating_box2"
  / left bar
  / = render "experimental/partials/left_bar"
  /widget top
  = render "experimental/partials/widget_top"
  / .clearer.hide-responsive
  / %br.clearer/
  / newly reviewd
  /= render "experimental/partials/newly_reviewed"
  /popular box
  = render "experimental/partials/popular_box"
  /banner box
  = render "experimental/partials/banner_box"

:javascript
  $(document).ready(function(){
    $('.input input[label]').each(function(){
      $(this).val($(this).attr('label'));
    });
    $('.input input[label]').focus(function(){
      if( $(this).val() == $(this).attr('label') ){$(this).val('');}
    });
    $('.input input[label]').blur(function(){
      if($(this).val() == ''){$(this).val($(this).attr('label'));}
    });
    $('#tool-area #remind-me-frm #submit-btn').click(function(){
      stop_frm = false;
      $('#remind-me-frm input').each(function(){
        if($(this).val() == $(this).attr('label')){
          alert("Please ensure to enter your " + $(this).val());
          stop_frm = true;
          return false;
        }
        if($(this).hasClass('phone')){
          if($(this).val() != parseInt($(this).val())){
            alert('Please enter a valid numeric only phone number');
          }
        }

      });

           
      if(!$('#email_reminder').is(':checked') && !$('#phone_reminder').is(':checked')){
        alert("Please select how you would like to receive reminders");
        stop_frm = false;
        return false;
      }

      trapid_hiv_test = $('#rapid_hiv_test').attr('checked')=='checked'?1:0;

      if(stop_frm){
        return false;
      }else{
        $('#remind-me-frm').submit();
      }
      return false;
    });
    $('#tool-area #unsubscribe a').click(function(){
      $('#unsubscribe_window').fadeIn();
      return false;
    });
    $('#overlay').click(function(){
      $('#unsubscribe_window').fadeOut();
      return false;     
    });
    $('#close_window').click(function(){
      $('#unsubscribe_window').fadeOut();
      return false;     
    });
    $('#tool-area #unsubscribe-btn').click(function(){
      $('#remind-unsub-frm').submit();
      return false;
    });
  });