.clearer.hide-responsive  
%br.hide-responsive/
.main-content-left
  #content.page-content
    %h3 Site Activity
    .item-list-tabs.activity-type-tabs{:role => "navigation"}
      %ul
        %li#activity-all.selected
          %a{:href => "http://www.industrialthemes.com/made/activity/", :title => "The public activity for everyone on this site."}
            All Members
            %span 96
    / .item-list-tabs
    #subnav.item-list-tabs.no-ajax{:role => "navigation"}
      %ul
        %li.feed
          %a{:href => "http://www.industrialthemes.com/made/activity/feed/", :title => "RSS Feed"} RSS
        %li#activity-filter-select.last
          %label{:for => "activity-filter-by"} Show:
          %select#activity-filter-by
            %option{:value => "-1"} Everything
            %option{:value => "activity_update"} Updates
            %option{:value => "new_blog_post"} Posts
            %option{:value => "new_blog_comment"} Comments
            %option{:value => "new_forum_topic"} Forum Topics
            %option{:value => "new_forum_post"} Forum Replies
            %option{:value => "created_group"} New Groups
            %option{:value => "joined_group"} Group Memberships
            %option{:value => "friendship_accepted,friendship_created"} Friendships
            %option{:value => "new_member"} New Members
            %option{:value => "bbp_topic_create"} Topics
            %option{:value => "bbp_reply_create"} Replies
    / .item-list-tabs
    .activity{:role => "main"}
      %noscript
        \<div class="pagination">
        \<div class="pag-count">Viewing item 1 to 20 (of 337 items)</div>
        \<div class="pagination-links"><span class='page-numbers current'>1</span>
        \<a class='page-numbers' href='/made/activity/?acpage=2'>2</a>
        \<span class="page-numbers dots">&hellip;</span>
        \<a class='page-numbers' href='/made/activity/?acpage=17'>17</a>
        \<a class="next page-numbers" href="/made/activity/?acpage=2">&rarr;</a></div>
        \</div>
      -if @activities.empty?
        = render "shared/empty", :type => "activities", :url => ""
      -else
        -@activities.each do |activity|
          -next if activity.trackable_type.nil?
          = render "activities/activity", :activity => activity     
/side bar
.sidebar
  = render "experimental/partials/left_bar"
  /widget top
  = render "experimental/partials/widget_top"
  / .clearer.hide-responsive
  / %br.clearer/
  / newly reviewd
  = render "experimental/partials/newly_reviewed"
  /popular box
  = render "experimental/partials/popular_box"
  /rating box
  = render "experimental/partials/rating_box"
  /banner box
  = render "experimental/partials/banner_box"
