- content_for :title do
  Tier 3
    
= image_tag "plus/body_about.jpg", :class => "body_header"
.alpha.grid_24.body_about{:id => "firstElement", :style => "margin-bottom: 15px;width: 958px;"}
  %span{:class => "p_a"}
    Tier 3
  %span{:class => "p_a1", :style => "position: absolute !important; left: 25px;"}
    = link_to "Home", "/"
    > Tier 3
  .ask
    = form_for @profile_tier3, :url => {:controller => :tier3, :action => :create}, :method => :post do |f|
      %p{:class => "ask2"}
        %strong
          = label_tag "Relationship Status"
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier3", "relationship_status", "Single", :disabled => @is_disable)
              Single
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier3", "relationship_status", "Dating Someone", :disabled => @is_disable)
              Dating Someone
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier3", "relationship_status", "Dating a few", :disabled => @is_disable)
              Dating a few
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier3", "relationship_status", "Monogamous relationship", :disabled => @is_disable)
              Monogamous relationship
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier3", "relationship_status", "Open relationship", :disabled => @is_disable)
              Open relationship
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier3", "relationship_status", "It's complicated", :disabled => @is_disable)
              It's complicated
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier3", "relationship_status", "Prefer not to say", :disabled => @is_disable)
              Prefer not to say

      %p{:class => "ask2"}
        %strong
          = label_tag 'If "HIV Positive" = YES and "Relationship Status" ≠ SINGLE'

      %p{:class => "ask2"}
        %strong
          = label_tag "Does your partner know your HIV status?"
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier3", "is_partner_known", true, :disabled => @is_disable)
              Yes
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier3", "is_partner_known", false, :disabled => @is_disable)
              No

      %p{:class => "ask2"}
        %strong
          = label_tag "Do you know your partner's HIV status?"
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier3", "is_known_partner_hiv", true, :disabled => @is_disable)
              Yes
      %table
        %tr
          %td
            .checkbox
              = radio_button("profile_tier3", "is_known_partner_hiv", false, :disabled => @is_disable)
              No

      .search3
        - unless @is_disable
          = link_to "<span>Submit</span>".html_safe, "#", :class => "ask_tag2", :id => "ask_question_link", :style => "margin-bottom: 10px;"

:javascript
  $("#ask_question_link").click(function (){
    $("#new_profile_tier3,#edit_profile_tier3").submit();
  });