%p
  = t(".legend")

.form-row.row-fluid
  .span12
    .row-fluid
      = f.label t(".application_id"), :class => "form-label span3"
      = text_field_tag 'group[share][fb_app_id]', @group.share.fb_app_id, :class => "span9"
.form-row.row-fluid
  .span12
    .row-fluid
      = f.label t(".secret_key"), :class => "form-label span3"
      = text_field_tag 'group[share][fb_secret_key]',  @group.share.fb_secret_key, :class => "span9"
.form-row.row-fluid
  .span12
    .row-fluid
      = f.label t("global.active"), :class => "form-label span3"
      = check_box_tag 'group[share][fb_active]', true, @group.share.fb_active, :class => "checkbox"

.form-row.row-fluid
  .span12
    .row-fluid
      .form-actions{:style => "width: 100% !important; margin-left: -10px !important; margin-bottom: -18px !important"}
        .span9
          &nbsp;
        .span3.controls
          = f.submit t('scaffold.update'), :class => "btn marginR10 nostyle", :style => "padding: 4px 10px !important; border-width: 1px !important; border-style: solid !important"


-if !@group.share.fb_app_id.blank?
  =link_to "Add to Facebook", add_to_facebook_groups_path