.row-fluid
  .span12
    .box
      .title
        %h4
          %span{:class => "icon16 brocco-icon-dribbble"}
          %span
            FAQ
        %form{:class => "box-form right", :action => "", :style => "margin-top:-27px !important"}
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 4px 10px !important; border-width: 1px !important; border-style: solid !important">
          <span class="icon16 iconic-icon-cog"></span>
          <span class="caret"></span>
          </a>
          %ul{:class => "dropdown-menu"}
            %li
              = link_to "<span class='icon16 brocco-icon-plus'></span>New Faq".html_safe, "#", :id => "openModalDialog"
        = link_to "Minimize", "#", :class => "minimize"

        .dialog{:id => "modal", :title => "New FAQ"}
          = form_for @faq, :url => manage_faqs_path, :html => {:class => "form", :id => "filter_members", :method => "post"} do |f|
            .form-row.row-fluid
              .span12
                .row-fluid
                  = label_tag :q, "Question *", :class => "form-label span4"
                  = f.text_field :faq_question, :class => "span8"
            .form-row.row-fluid
              .span12
                .row-fluid
                  = label_tag :q, "Answer *", :class => "form-label span4"
                  = f.text_area :faq_answer, :class => "span8"
            .form-row.row-fluid
              .span12
                .row-fluid   
                  .span4
                    &nbsp;   
                  = submit_tag("create", :class => "btn nostyle span2", :style => "padding: 4px 10px !important; border-width: 1px !important; border-style: solid !important")

      .content.noPad.clearfix
        %table{:cellpadding=>0,:cellspacing=>0,:border=>0,:class=>"responsive dynamicTable display table table-bordered",:width=>"100%"}
          %thead
            %tr
              %th
                Questions
              %th 
                Answer
              %th
                Action
          %tbody
            -@faqs.each do |faq|
              = render :partial => "faq", :object => faq


%script
  $(document).ready(function(){
  //--------------- Dialogs ------------------//

  $('#openModalDialog').click(function(){
  $('#modal').dialog('open');
  return false;
  });

  // JQuery UI Modal Dialog           
  $('#modal').dialog({
  autoOpen: false,
  modal: true,
  dialogClass: 'dialog',
  buttons: {
  "Close": function() { 
  $(this).dialog("close"); 
  }
  }
  });

  - @faqs.each do |faq|
    $('#openDialog#{faq.id}').click(function(){
    $('#dialog#{faq.id}').dialog('open');
    return false;
    });

    $('#dialog#{faq.id}').dialog({
    autoOpen: false,
    modal: true,
    dialogClass: 'dialog',
    buttons: {
    "Close": function() { 
    $(this).dialog("close"); 
    }
    }
    });

  $("div.dialog button").addClass("btn");
  });
