%h1
  Manage FAQ
%p.description
  CRUD FAQ

%ul.admin-nav
  %li.head_tag
    = link_to "Create New", admin_faq_path(:tab => "new")
  %li.question_help
    = link_to "List", admin_faq_path(:tab => "list")

- if params[:tab].eql?('new')
  - method = :post
  - url = manage_faqs_path
  - if !params[:id].nil? && !@faq.id.nil?
    - method = :put 
    - url = manage_faq_path(:id => @faq.id)
  = form_for @faq, :url => url, :html => {:class => "form", :method => method} do |form|
    = form.error_messages
    
    .field
      = form.label "Question *"
      = form.text_field :faq_question, :class => "text_area"

    .field
      = form.label "Answer *"
      = form.text_area :faq_answer, :class => "text_area"

    .buttons
      = form.submit "Save", :class => "save"

- else
  .members
    #members
      - if @faqs.blank?
        %ul
          %li{:style => "padding-bottom:0px !important"}
            No FAQ Yet
      - @faqs.each do |faq|
        %ul
          %li{:style => "padding-bottom:0px !important"}
            .user-info
              %h2{:style => "margin-top: -4px !important;"}
                = faq.faq_question
                %small
                  = link_to "Edit", admin_faq_path(:tab=>"new", :id => faq.id)
                  |
                  = link_to "Delete", manage_faq_path(:id => faq.id), :method => :delete, :confirm => "Are you sure? This faq will no longer exist"
              %p.description
                = faq.faq_answer
        
      = paginate @faqs
