= image_tag "plus/body_about1.jpg", :class => "body_header"
.alpha.grid_18.body_about{:id => "firstElement",:style=>"width:750px !important; min-height:650px !important;"}
  %span{:class => "p_a"}
    FAQ
  %span{:class => "p_a1 about-bread-crumb"}
    = link_to "Home", "/"
    > FAQ
  %p.i4_1.serv_loc6{:id => ""} 
    .bx-wrapper
      %div.bx-window
        %ul{:id => "slider21", :style => "position: relative;"}
          - @clasCounterVariable = 1
          -@faqs.each do |faq_update|
            = render :partial => "faq_update",:object =>faq_update
    = paginate @faqs
.grid_5.omega.body1_about{:id => "secondElement", :style => "height: 650px !important;"}
  %p{:class => "about"}
    %strong
      FAQ List
  = render :partial => "shared/faq_nav_bar"

    
