!!! 5
-ie_html :class => 'no-js', :lang => I18n.locale do
  %head
    = render 'shared/layout/head'

  %body{:class => bodys_class(params)}
    #feedback-btn
      %p=link_to "Feedback", feedback_path
    = render_app_config
    = render :partial => "shared/topbar"
    #container{:class => @current_class}
      = show_flash_messages(:class => "flash", :markdown => true)
      #columns{:class => !@show_sidebar && "nosidebar" }
        = render "shared/layout/header"
        -["column3", "column2"].each do |c|
          =render "shared/layout/#{c}"
      = render "shared/widgets", :context => 'mainlist', :position => 'footer'

      = render "shared/layout/footer"

:javascript
  function openPopup(authUrl) {
    var pparg;
    var left = (screen.width/2)-(975/2);
    var top = (screen.height/2)-(686/2);
    
    (authUrl.indexOf('?')==-1)? pparg = '?pp=1' : pparg = '&pp=1'
    window.open(authUrl+pparg, 'openid_popup', 'width=975,height=686,location=no,top='+top+',left='+left);
    $('#obj').css('display', 'none');
  }

  $(window).load(function(){
    // open popup when coming from auth-provider 
    closePopup();

    // open popup for auth-provider 
    $('.auth-provider').live("click", function(e){
      e.preventDefault();
      var authUrl = $(this).attr('href');
      openPopup(authUrl);
    });
  });

%script
  function closePopup(){
  if(window.opener!=null){
  - unless current_user.nil?
    window.opener.location.reload(true);
    window.close();
  }
  }

