!!!
%html
	%head
		%title
			= yield :title
		%meta{:charset => "utf-8"}
		/ SEO
		%meta{:content => "c8c2b08298d35939-3cae02e526e3ee84-g7e43fb21f43e2136-12", :name => "google-translate-customization"}/
		%meta{:content => "#{current_group.legend rescue ''}", :name => "description"}
		%meta{:content => "#{current_group.default_tags.join(',') rescue ''}", :name => "keywords"}
		%meta{:content => "BChange",:name => "author"}
		%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
		%meta{:content => "no", :name => "apple-mobile-web-app-capable"}
		%meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}
		%meta{:content => "noindex,nofollow,noimageindex,noimageclick", :name => "robots"}
		%meta{:content => "Bchange/plus", :name => "generator"}
		%meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
		%meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
		%meta{'http-equiv' => "expires", :content => "0"}
		%meta{'http-equiv' => "Content-Language", :content => "en-US"}
		%meta{'http-equiv' => "imagetoolbar", :content => "no"}
		/ favicon
		%link{:href => favicon_group_path(current_group), :rel => "icon"}/
		%link{:href => shortcut_group_path(current_group), :rel => "shortcut icon"}/
		%link{:href => apple_group_path(current_group), :rel => "apple-touch-icon"}/
		%link{:href => applest_group_path(current_group), :rel => "apple-touch-startup-image"}/
		%meta{:content => metro_group_path(current_group), :name=>"msapplication-TileImage"}/
		%meta{:content => "#{current_group.metro_color}", :name=>"msapplication-TileColo"}/
		/ CSS
		= stylesheet_link_tag "experimental/experimental"
		/ JS
		= javascript_include_tag "experimental/jquery.min.js?ver=3.3.1"
		= javascript_include_tag "experimental/experimental"

		%body
			/ page loader starts
			- if check_pre_loader
				#div-load
				#div-another-image
			/page loader ends
			/top menu bar
			= render "experimental/partials/top_menu_bar"
			/ page wrapper starts from here
			#page-wrapper
				/ everything below the top menu should be inside the page wrapper div
				#logo-bar-wrapper
					/ begin the main header logo area
					#logo-bar
						#logo-wrapper
							#logo
								/ logo and section header area
								%a{:href => experimental_index_path,:title=>"Plus Home",:title=>"Plus Home"}
									%img#site-logo{:alt => "plus", :src => "/assets/plus/logo.png"}/
									%img#site-logo-iphone{:alt => "plus", :src => "/assets/plus/logo.png"}/
									%img#site-logo-ipad{:alt => "plus", :src => "/assets/plus/logo.png"}/
							%br.clearer/
							.subtitle
						#ad-header
							/ header ad
							%a{:href => "#"}
							%img{:src => "/assets/experimental/images/images_live/ad-top.png"}/
						%br.clearer/
					#logo-bar-shadow  
				/ end the logo area
				#cat-menu.cat-menu
					%a.home-link{:href => experimental_index_path,:title=>"Plus Home",:title=>"Plus Home"}  
					%ul#menu-main-menu
						%li
							%a{:href => "archive-a.html"} Layouts
							%ul
								%li
									%a{:href => "archive-a.html"} Archive Layout A
								%li
									%a{:href => "archive-b.html"} Archive Layout B
								%li
									%a{:href => "archive-c.html"} Archive Layout C
								%li
									%a{:href => "archive-d.html"} Archive Layout D
								%li
									%a{:href => "archive-e.html"} Archive Layout E
								%li
									%a{:href => "archive-f.html"} Archive Layout F
						%li
							%a{:href => "single-post.html"} Single Blog Post
						%li
							/%a{:href => "single-review-numbers.html"} Service Areas
							=link_to 'Service Areas', service_providers_path
							%ul
								%li
									%a{:href => "single-review-numbers.html"} Singapore 
								%li
									%a{:href => "single-review-percentages.html"} Thailand 
								%li
									%a{:href => "single-review-stars.html"} Indonesia 
								%li
									%a{:href => "single-review-letters.html"} philippines 
						/ question drop starts
						%li
							%a{:href => "/questions"} Questions
							%ul
								%li
									%a{:href => "/tags/disclosure"} Disclosure
									%ul
										%li
											%a{:href => "/tags/casual-partners"} Casual Partners
										%li
											%a{:href => "#"} Family
										%li
											%a{:href => "#"} Friends
										%li
											%a{:href => "#"} Regular Partners
								%li
									%a{:href => "/tags/drugs"} Drugs
									%ul
										%li
											%a{:href => "#"} Partying
										%li
											%a{:href => "#"} Sex
								%li
									%a{:href => "/tags/first-diagnosis"} First Diagnosis
									%ul
										%li
											%a{:href => "#"} Situation
								%li
									%a{:href => "/tags/maintaining-treatment"} Maintaining Treatment
									%ul
										%li
											%a{:href => "#"} Compliance
										%li
											%a{:href => "#"} Regular Access to Medication
								%li
									%a{:href => "/tags/relationships"} Relationships
									%ul
										%li
											%a{:href => "#"} Dating
										%li
											%a{:href => "#"} Family
										%li
											%a{:href => "#"} Friends
								%li
									%a{:href => "/tags/sex"} Sex
									%ul
										%li
											%a{:href => "#"} Minimising-risk
										%li
											%a{:href => "#"} Safer Sex
								%li
									%a{:href => "/tags/starting-medication"} Starting Medication
									%ul
										%li
											%a{:href => "#"} Accessing Medication
										%li
											%a{:href => "#"} Cost
										%li
											%a{:href => "#"} Selecting Medication
										%li
											%a{:href => "#"} Side Effects
								%li
									%a{:href => "/tags/starting-treatment"} Starting Treatment
									%ul
										%li
											%a{:href => "#"} Clinics
										%li
											%a{:href => "#"} Cost
										%li
											%a{:href => "#"} Doctors
								%li
									%a{:href => "/tags/travel"} Travel
									%ul
										%li
											%a{:href => "#"} Migration
										%li
											%a{:href => "#"} Tourism
								%li
									%a{:href => "/tags/well-being"} Well-being
									%ul
										%li
											%a{:href => "#"} Fitness
										%li
											%a{:href => "#"} Nutrition
								%li
									%a{:href => "/tags/work"} Work
									%ul
										%li
											%a{:href => "#"} Health Checks
										%li
											%a{:href => "#"} Health Insurance
										%li
											%a{:href => "#"} Inclusion & Discrimination
						/ question drop ends
						/ Login drop starts
						%li
							- if current_user.nil?
								%a{:href => '/login'}  
									="Login".html_safe
							-else
								= link_to "Settings","#"
								%ul
									- if current_user.present?
										%li
											%a{:href => '/profile/settings'}
												="<i class='icon-user'></i>Profile".html_safe
										%li
											%a{:href => '/connect'}
												="<i class='icon-retweet'></i>Connect".html_safe
										%li
											%a{:href => follows_user_path(current_user)}
												= "<i class='icon-circled-right'></i>#{t('.following')}".html_safe
										%li
											%a{:href => follows_user_path(current_user)+"?sort=followers" }
												= "<i class='icon-right'></i>#{t('.followers')}".html_safe  
										%li
											%a{:href => '/logout' }
												= "<i class='icon-logout'></i>#{t("layouts.application.logout")}".html_safe           
						/ Login drop ends
					%select#select-menu-main-menu
						%option Category Navigation
						%option{:value => "archive-a.html"} Layouts
						%option{:value => "index-full-width.html"}      Full-Width Homepage
						%option{:value => "archive-a.html"}      Archive Layout A
						%option{:value => "archive-b.html"}      Archive Layout B
						%option{:value => "archive-c.html"}      Archive Layout C
						%option{:value => "archive-d.html"}      Archive Layout D
						%option{:value => "archive-e.html"}      Archive Layout E
						%option{:value => "archive-f.html"}      Archive Layout F
						%option{:value => "single-post.html"} Single Blog Post
						%option{:value => "single-review-numbers.html"} Single Reviews
						%option{:value => "single-review-numbers.html"}      Number Ratings
						%option{:value => "single-review-percentages.html"}      Percentage Ratings
						%option{:value => "single-review-stars.html"}      Star Ratings
						%option{:value => "single-review-letters.html"}      Letter Grade Ratings
						%option{:value => "review-directory-a.html"} Review Directory layout A
						%option{:value => "review-directory-b.html"} Review Directory layout B
					#random-article
						%a{:href => index_experimental_experimental_index_path, :title => "Random Article"}
							%img{:alt => "Random Article", :src => "/assets/experimental/images/random-article.png"}/
				%br.clearer.hide-responsive-small/
				.cat-menu.tax
					%ul#menu-sub-menu.menu
						-if params[:controller] == "questions" || params[:controller] == "tags"
							= render "experimental/partials/subnavigation/questions_subnavigation"
						-elsif params[:controller] == "service_providers" 
							= render "experimental/partials/subnavigation/service_providers_subnavigation"
						-else
							= render "experimental/partials/subnavigation/common_subnavigation"
				%br.clearer.hide-responsive-small
				/ page wrapper ends here
				/ dont miss bar starts from here
				= render "experimental/partials/dont_miss_bar"
				/ end of dont miss bar
				/ main wrapper starts from here
				#main-wrapper
					#main-wrapper-dark    
						- unless check_valid
							= render "experimental/partials/social_side_bar"
						- flash.each do |name, msg|
							- if msg.is_a?(String)
								%div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
									/ %a.close{"data-dismiss" => "alert"} ×
									= link_to "×",'',:id=>"close", :class=>"msg-alert"
									= content_tag :div, msg, :id => "flash_#{name}"
						= yield
				// Begin TranslateThis Button
				/ #translate-this
				/   %a.translate-this-button{:href => "http://www.translatecompany.com/", :style => "width:180px;height:18px;display:block;"} translate
				/ %script{:src => "http://x.translateth.is/translate-this.js", :type => "text/javascript"}
				/ :javascript
				/ /  TranslateThis();
				/ / End TranslateThis Button
				//#google_translate_element{:style=>"border: 0 none; bottom: 3px; opacity: 0.82; overflow: hidden; position: fixed; right: 146px; z-index: 2147483646;"}
				:javascript
					function googleTranslateElementInit() {
						new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true}, 'google_translate_element');
					}
				
				/footer
				= render "experimental/partials/footer"

		= javascript_include_tag "experimental/plusone.js"
		= javascript_include_tag "experimental/pinit.js"
		= javascript_include_tag "experimental/share.js"
		%script
			// imp code to load imp jquery outside from the server
			//jQuery.getScript("http://platform.tumblr.com/v1/share.js",function(data, textStatus, jqxhr) {
			//console.log(data); //data returned
			//console.log(textStatus); //success
			//console.log(jqxhr.status); //200
			//console.log('Load was performed.');
			//}).fail(function(jqxhr, settings, exception) {
			//console.log(jqxhr);
			//});

		= javascript_include_tag "experimental/widgets.js"
		= javascript_include_tag "experimental/buttons.js"

		%script{:src => "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit", :type => "text/javascript"}

:javascript
	jQuery.noConflict();
		//DOCUMENT.READY
		jQuery(document).ready(function($) { 

			//loop through each post type and setup a jquery tabs object
			jQuery('#tabbed-Restaurant-reviews > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });
			jQuery('#tabbed-Music-reviews > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });
			jQuery('#tabbed-Movie-reviews > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });
			jQuery('#tabbed-Fashion-reviews > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });
			jQuery('#tabbed-Product-reviews > ul').tabs({ fx: { opacity: 'toggle', duration: 150 } });  
			//colorbox
			jQuery('.review .article-image a').colorbox({transition:'fade', speed:250});
			jQuery('.single-post .content .article-image a').colorbox({transition:'fade', speed:250});
			jQuery('.colorbox').colorbox({transition:'fade', speed:250});
			jQuery('.colorboxiframe').colorbox({transition:'fade', speed:250, iframe:true,innerWidth:640, innerHeight:390});
			jQuery(".page-content a[href$='.jpg'],a[href$='.png'],a[href$='.gif']").colorbox();
			jQuery('.page-content .gallery a').colorbox({  rel:'gallery' });
			//initialize smooth div scroll on Don't Miss slider
			jQuery("#dontmiss").smoothDivScroll({ 
				autoScrollingMode: "always",
				autoScrollingDirection: "endlessloopright",
				autoScrollingStep: 1,
				autoScrollingInterval: 50
			});
			// Logo parade event handlers
			jQuery("#dontmiss").bind("mouseover", function() {
				jQuery(this).smoothDivScroll("stopAutoScrolling");
			}).bind("mouseout", function() {
				jQuery(this).smoothDivScroll("startAutoScrolling");
			});
			/* uitotop scroller:
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/
			jQuery().UItoTop({ easingType: 'easeOutExpo' }); 
			jQuery("#ts_hide_link").click(function(){
				jQuery('#google_translate_element').toggle(700);
			}) 
		});
		//the reason they are here instead of in custom.js is because they contain php variables which can't
		//be applied in a .js file. Also, make sure these come before the darken function.
		//WINDOW.LOAD
		jQuery(window).load(function() {
			//spotlight slider
			jQuery(function() {
				jQuery(".main-content #spotlight-slider, .main-content #spotlight-slider-responsive,#spotlight-slider").jCarouselLite({
					auto: 3000,
					easing: "easeInOutExpo",
					speed: 1100,
					visible: 3
				});
			});
			//featured slider
			jQuery('#featured,#featured-short').nivoSlider({
				effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
				slices: 10, // For slice animations
				boxCols: 6, // For box animations
				boxRows: 3, // For box animations
				animSpeed: 200, // Slide transition speed
				pauseTime: 3000, // How long each slide will show
				startSlide: 0, // Set starting Slide (0 index)
				directionNav: true, // Next and Prev navigation
				directionNavHide: false, // Only show on hover
				controlNav: false, // 1,2,3... navigation
				controlNavThumbs: false, // Use thumbnails for Control Nav
				pauseOnHover: true, // Stop animation while hovering
				manualAdvance: false, // Force manual transitions
				prevText: 'Prev', // Prev directionNav text
				nextText: 'Next', // Next directionNav text
				beforeChange: function(){}, // Triggers before a slide transition
				afterChange: function(){}, // Triggers after a slide transition
				slideshowEnd: function(){}, // Triggers after all slides have been shown
				lastSlide: function(){}, // Triggers when last slide is shown
				afterLoad: function(){} // Triggers when slider has loaded
			});
		});

	// facebook share button
	function fb_share(){
		var w = 500;
		var h = 320;
		var left = (screen.width/2)-(w/2);
		var top = (screen.height/2)-(h/2);
		window.open("http://www.facebook.com/share.php?u=http://dev3.b-change.org","sharer","width="+w+",height="+h+",top="+top+",left="+left+",scrollbars='no',resize='yes'");
	}
	// twitter share button code
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

	function twitter_twit(){
		var w = 500;
		var h = 320;
		var left = (screen.width/2)-(w/2);
		var top = (screen.height/2)-(h/2);
		window.open("https://twitter.com/share","sharer","width="+w+",height="+h+",top="+top+",left="+left+",scrollbars='no',resize='no'");

	}

	jQuery(window).load(function(){
		jQuery("#div-load").hide();
		jQuery("#div-another-image").hide();
	});
	jQuery(document).ready(function(){
		jQuery("#main-wrapper").fadeIn('slow','linear');
	});

	jQuery(function($) {
		$('.tool-tip').tipsy({
			delayIn: 50,
			delayOut: 50,
			fade: true, 
			gravity: 'n', 
			opacity: 100
			});
	});

	// active_tab
	Experimental.getActiveTab("#{params[:action]}","#{params[:controller]}");
	
	(function()
	{ 
		var t = document.createElement('script'); 
		t.type = 'text/javascript';
		t.async = true; t.src = "/assets/experimental/turnsocialTooltip.js"; 
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(t, s); 
	}
	)();
	//use for close button of success message flash
	jQuery('#close').click(function(e){
		e.preventDefault();
		jQuery('#flash_notice').fadeOut();
		jQuery(this).hide();
	})