!!!
%html
  %head
    %title 
      = yield :title
    %meta{:charset => "utf-8"}
    / SEO
    %meta{:content => "#{current_group.legend rescue ''}", :name => "description"}
    %meta{:content => "#{current_group.default_tags.join(',') rescue ''}", :name => "keywords"}
    %meta{:content => "BChange",:name => "author"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    %meta{:content => "no", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}
    %meta{:content => "noindex,nofollow,noimageindex,noimageclick", :name => "robots"}
    %meta{:content => "Bchange/plus", :name => "generator"}
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{'http-equiv' => "expires", :content => "0"}
    %meta{'http-equiv' => "Content-Language", :content => "en-US"}
    %meta{'http-equiv' => "imagetoolbar", :content => "no"}
    / favicon
    %link{:href => favicon_group_path(current_group), :rel => "icon"}/
    %link{:href => "plus/logo.png", :rel => "shortcut icon"}/
    %link{:href => "plus/iOS_icon.png", :rel => "apple-touch-icon"}
    %link{:href => "plus/iOS_icon.png", :rel => "apple-touch-startup-image"}
    / CSS
    = stylesheet_link_tag "plus/style"
    = stylesheet_link_tag "plus/jquery.bxslider.css"
    = stylesheet_link_tag "plus/popup.css"
    / JS
    = javascript_include_tag "plus"

    /[if lt IE 8]
      %div{:style => ' clear: both; text-align:center; position: relative;'}
        = link_to image_tag("http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg", :border => 0, :height => 42, :width => 820, :alt => "You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."), "http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"
    /[if lt IE 9]
      = stylesheet_link_tag "plus/ie"
      = javascript_include_tag "plus/html5"

  %body{:id => @body_id.nil? ? "page2" : @body_id, :"data-group" => current_group.id}
    .bg
      .bg2
        / ==============================header=================================
        %header
          .header-bg
            .main
              .container_24
                .wrapper
                  %nav
                    %ul{:class => "menu"}
                      %li
                        = link_to "Home", "/", :id => "home_nav"
                      %li
                        = link_to "About", about_path, :id => "about_nav"
                      %li
                        = link_to "Questions", questions_path, :id => "question_nav"
                      %li
                        %a{:href => "index-4.html"} News & Activites
                      %li 
                        = link_to "Services Locator", 'services-map', :id => "service_providers_nav"
                      %li
                        = link_to "Community", users_path, :id => "community_nav"
                      %li
                        %a{:href => "#"} FAQ
                      %li
                        = link_to "Contact", contact_path, :id => "contact_nav"
                      / - if !current_user.nil? && current_user.owner_of?(current_group)
                      /   %li
                      /     = link_to "Admin", "/admin"
                  .language
                    %span
                      = render :partial => '/shared/translation_widget'
                .grid_24.title1
                  .logo
                    = link_to image_tag("plus/logo.jpg"), "/"
                    %span
                      = h current_group.slogan_short_ask
                  .right_l
                    .wrapper1
                      - if current_user.nil?
                        = link_to image_tag("plus/sign_in.png", :class => "sign_in"), "javascript:void(0);", :id => "trigg", :class => "sign_in"
                      -else
                        .profile_small
                          = avatar_img(current_user, :size => "small")
                          %span{:class => "wayne"}
                            = h(current_user.display_name)
                          = link_to image_tag("plus/arrows21.jpg"), "javascript:void(0);", :id => "trigg4"
                        #obj3
                          #cancel3
                          %ul{:class => "language1_2"}
                            %li
                              = link_to "Profile Settings", user_path(current_user)
                            %li
                              = link_to t('.connect'), social_connect_path
                            %li
                              = link_to t("layouts.application.logout"), destroy_user_session_path
                      #obj
                        #cancel
                        .sample
                          .grid_18_1
                            .grid_9_1
                              = form_for :user, :url => session_path(:user), :html => {:id => "login_form"} do |f|
                                %span{:class => "email"}
                                  %label{:class => "name"}
                                    Email
                                  = f.text_field :email,:class =>"input-class"
                                %span{:class => "password"}
                                  %label{:class => "name"}
                                    Password
                                  = f.password_field :password,:class =>"input-class"
                                  - if params[:pp] && params[:format] != 'mobile'
                                    = hidden_field_tag :pp, 1
                                .signs
                                  = link_to "Sign in", "#", :id => "login_button"
                                %span{:class => "fyp"}
                                  = link_to t('devise.passwords.link'), new_password_path(:user)
                                = f.check_box :remember_me
                                %span{:class => "chek"}
                                  Remember me
                                .sgn
                                  Sign up with
                                  = link_to "email address", "javascript:void(0);", :id => "trigg1"
                            .grid_9_1
                              Login with
                              - current_group.auth_providers.each do |provider|
                                - next if params[:controller] == 'invitations' && ['Twitter','Facebook'].include?(provider)
                                - dprovider = provider.downcase
                                - if provider == 'Facebook' && current_group.has_facebook_login?
                                  = link_to image_tag("plus/fs1.jpg"), '/first-auth/facebook', :class => 'auth-provider Facebook', :id => 'facebook'
                                - elsif provider == 'Google'
                                  = link_to image_tag("plus/gl.jpg"), '/first-auth/google', :class => "auth-provider #{provider}", :id => dprovider
                                - elsif provider == 'Twitter'
                                  = link_to image_tag("plus/tw1.jpg"), '/first-auth/twitter', :class => "auth-provider #{provider}", :id => dprovider
                                - elsif provider == 'OpenID'
                                  = link_to image_tag("plus/oi.jpg"), '/first-auth/MyOpenID', :class => "auth-provider #{provider}", :id => dprovider
                              %a#cancel1_1{:href => "javascript:void(0);"} close
                      #obj1
                        #cancel1
                          %ul
                            = form_for :user, :url => users_path, :html => {:id => "signup_form"} do |f|
                              %li{:class => "name1"}
                                %label{:class => "name"}
                                  Login
                                = f.text_field :login
                              %li{:class => "r_name"}
                                %label{:class => "name"}
                                  Name
                                = f.text_field :name
                              %li{:class => "email"}
                                %label{:class => "name"}
                                  Email
                                = f.text_field :email
                              %li{:class => "password"}
                                %label{:class => "name"}
                                  Password
                                = f.text_field :password
                              %li{:class => "r_password"}
                                %label{:class => "name"}
                                  Retype Password
                                = f.text_field :password_confirmation
                          .signs1
                            = link_to "Sign up", "#", :id => "signup_button"
                          .signs2
                            = link_to "Back", "javascript:void(0);", :id => "trigg2"

                    .soc_icon{:style => "float: right !important"}
                      = link_to image_tag("plus/twitter1.png"), "http://www.twitter.com", :target => "blank"
                      = link_to image_tag("plus/facebook1.png"), "http://www.facebook.com", :target => "blank"
                .clear
        /==============================slider================================
        = yield :slider_content
        /==============================content================================
        %section{:id => "content"}
          - if @body_id == "page1"
            .main
              .container_24
                .bg2_1
                  = form_tag "/",:id => "search" do
                    = text_field_tag "search", "What is your question?"
                    = button_tag "search"
                    .clear
                = yield :search_form
                .grid_24
                  = yield
                .clear
          - else
            .leftSide
              .rightSide
              .centerBg
                .main
                  .container_24
                    .bg2_1
                      = form_tag "/",:id => "search" do
                        = text_field_tag "search", "What is your question?"
                        = button_tag "search"
                        .clear
                    .grid_24
                      = yield
                    .clear
        /==============================aside=================================
        %aside
          .aside-bg
            .main
              .container_24
                .wrapper
                  .grid_6.info
                    %ul{:class => "info"}
                      %li
                        Dummy text o1
                      %li
                        Dummy text o2
                      %li
                        Dummy text o3
                      %li                       
                        Dummy text o4
                      %li
                        Dummy text o5
                      %li
                        Dummy text o6
                      %li
                        Dummy text o7
                      %li
                        Dummy text o8
                      %li
                        Dummy text o9
                  .grid_8
                    %h3{:class => "p4"}
                      Follow Us
                    %ul
                      %li
                        = link_to image_tag("plus/twitter.png", :class => "marker1"), "http://www.twitter.com", :target => "blank"
                        Follow us on Twitter
                      %li
                        = link_to image_tag("plus/facebook.png", :class => "marker1"), "http://www.facebook.com", :target => "blank"
                        Be a fan on Facebook
                      %li
                        = link_to image_tag("plus/rss.png", :class => "marker1"), "#", :target => "blank"
                        RSS Feed
                    
                  .grid_5
                    .info1
                      %h3{:class => "p4"}
                        Help and Support
                      %p{:class => "p1_1"}
                        Knowledgebase
                        %br Contact Support
                        About PLUS 
                      %p{:class => "p2"}
                        %span{:style => "font-size:16px;font-weigth:bold;font-family:Calibri;color:#fff"}  
                          
                        %br 
                  .grid_5
                    %h3{:class => "p4"}
                      About PLUS!
                    %p{:class => "p1_1"}
                      PLUS aims to enhance connections between gay,
                      bisexual man and transgender people
                      living with HIV so that we can help
                      each other and understand that we
                      are not alone.
        /==============================footer=================================
        %footer
          .main
            .container_24
              .grid_24
                .wrapper.footer_menu
                  %nav
                    %ul{:class => "menu"}
                      %li
                        = link_to "Home", "/", :id => "home_nav"
                      %li
                        = link_to "About", about_path, :id => "about_nav"
                      %li
                        = link_to "Questions", questions_path, :id => "question_nav"
                      %li 
                        = link_to "Services Map", '/services-map', :id => "service_providers_nav"
                      %li
                        = link_to "Community", users_path, :id => "community_nav"
                      %li
                        = link_to "Contact", contact_path, :id => "contact_nav"
                      - if !current_user.nil? && current_user.admin?
                        %li
                          = link_to "Admin", "/admin"
                  .footer-text
                    Copyright 2013 All Rights Reserved&nbsp; | &nbsp;
                    = link_to "Privacy Policy", "privacy-policy", :class => "link"
                    | &nbsp;
                    = link_to "Terms of Use", "terms-of-use", :class => "link"
                  .bl
                    = link_to image_tag("plus/footer_logo.png"), "/"
              .clear




:javascript
  $('.bxslider').bxSlider({
    nextSelector: '#slider-next',
    prevSelector: '#slider-prev',
  });

  $('.bxslider1').bxSlider({
    nextSelector: '#slider-next',
    prevSelector: '#slider-prev',
  });

  function changeUrlBasedOnSliderImage(){
    if($('.pic').attr('style').match(/image1/)){
      window.location = '/questions';
    } else if($('.pic').attr('style').match(/image2/)){
      window.location = '/service_providers';
    } else if($('.pic').attr('style').match(/image3/)){
      window.location = '/users/new';
    };
  }

  //$('.slider').click(function(){changeUrlBasedOnSliderImage()});

  function openPopup(authUrl) {
    var pparg;
    var left = (screen.width/2)-(975/2);
    var top = (screen.height/2)-(686/2);
    
    (authUrl.indexOf('?')==-1)? pparg = '?pp=1' : pparg = '&pp=1'
    window.open(authUrl+pparg, 'openid_popup', 'width=975,height=686,location=no,top='+top+',left='+left);
    $('#obj').css('display', 'none');
  }

  $(window).load(function(){
    // open popup when coming from auth-provider 
    closePopup();

    // open popup for auth-provider 
    $('.auth-provider').live("click", function(e){
      e.preventDefault();
      var authUrl = $(this).attr('href');
      openPopup(authUrl);
    });

    // submit login form
    $('#login_button').click( function (){
      $('#login_form').submit();
    });

    // submit signup form
    $('#signup_button').click( function (){
      $('#signup_form').submit();
    });

    $('#trigg').click( function () {
      $('#obj1').css('display', 'none');
      $('#obj').css('display', 'block');
    });
    $('#trigg1').click( function () {
      $('#obj').css('display', 'none');
      $('#obj1').css('display', 'block');
      
    });
    $('#trigg4').click( function () {
      $('#obj3').toggle();
    });
    $('#trigg3').click( function () {
      $('#obj2').css('display', 'block');
      
      
    });
    $('#cancel1_1').click(function(){
      $('#obj').css('display', 'none');
    });
    $('#cancel2').click(function(){
      $('#obj2').css('display', 'none');
    });
    $('#trigg2').click(function(){
      $('#obj1').css('display', 'none');
      $('#obj').css('display', 'block');
    });
  });

%script
  function closePopup(){
  if(window.opener!=null){
  - unless current_user.nil?
    window.opener.location.reload(true);
    window.close();
  }
  }
  
:javascript
  $("#user_password").keypress(function(event){
    if(event.which == 13){
      event.preventDefault();
      $("#login_form").submit();
    }
  });

