<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= stylesheet_link_tag    "admin/admin", :media => "all" %>
    <%#= javascript_include_tag "admin/admin" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" %>
    <%= javascript_include_tag "admin/admin" %>
    <%= javascript_include_tag "admin/bootstrap" %>
    <%= javascript_include_tag "admin/jquery.cookie" %>
    <%= javascript_include_tag "admin/jquery.mousewheel" %>
    <%= javascript_include_tag "admin/jquery.sparkline.min" %>
    <%= javascript_include_tag "admin/fullcalendar.min" %>
    <%= javascript_include_tag "jpicker" %>
    <%= javascript_include_tag "admin/jquery.qtip.min" %>
    <%= javascript_include_tag "admin/jquery.flot" %>
    <%= javascript_include_tag "admin/jquery.flot.grow" %>
    <%= javascript_include_tag "admin/jquery.flot.pie" %>
    <%= javascript_include_tag "admin/jquery.flot.resize" %>
    <%= javascript_include_tag "admin/jquery.flot.tooltip_0.4.4" %>
    <%= javascript_include_tag "admin/jquery.flot.orderBars" %>
    <%= javascript_include_tag "admin/jquery.knob" %>
    <%= javascript_include_tag "admin/jquery.pnotify.min" %>
    <%= javascript_include_tag "admin/jquery.uniform.min" %>
    <%= javascript_include_tag "admin/jquery.dataTables.min" %>
    <%= javascript_include_tag "app/modules/editor" %>
    <%= javascript_include_tag "vendor/jHtmlArea" %>
    <!-- favicon link tag -->
    <%= favicon_link_tag(favicon_group_path(current_group), :rel=>'icon')%>
    <%= favicon_link_tag(shortcut_group_path(current_group), :rel=>'shortcut icon')%>
    <%= favicon_link_tag(apple_group_path(current_group), :rel=>'apple-touch-startup-image')%>
    <%= favicon_link_tag(applest_group_path(current_group), :rel=>'apple-touch-icon')%>
    <meta name="msapplication-TileImage" content="<%= metro_group_path(current_group)%>">
    <meta name="msapplication-TileColor" content="<%= current_group.metro_color %>">
    <!-- favicon link tag -->
    <%= csrf_meta_tags %>
  </head>
  <body>

<!-- loading animation -->
    <div id="qLoverlay"></div>
    <div id="qLbar"></div>
    
    <div id="header">

        <div class="navbar">
      
            <div class="navbar-inner">
              <div class="container-fluid">
                <a class="brand" href="<%= admin_dashboard_path %>">Plus.<span class="slogan">admin</span></a>
                <div class="nav-no-collapse">
                    <ul class="nav">
                        <li class="active"><a href="<%= admin_dashboard_path %>"><span class="icon16 icomoon-icon-screen"></span> Dashboard</a></li>
                        <li><%= link_to "back to Site", root_path %></li>
                    </ul>
                  <!-- THIS IS DOWNLOADED FROM WWW.SXRIPTGATES.COM - SO THIS IS YOUR NEW SITE FOR DOWNLOAD SCRIPT ;) -->
                    <ul class="nav pull-right usernav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="icon16 icomoon-icon-bell"></span><span class="notification">3</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu">
                                    <ul class="notif">
                                        <li class="header"><strong>Notifications</strong> (3) items</li>
                                        <li>
                                            <a href="#">
                                                <span class="icon"><span class="icon16 icomoon-icon-user-2"></span></span>
                                                <span class="event">1 User is registred</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="icon"><span class="icon16 icomoon-icon-comments-4"></span></span>
                                                <span class="event">Jony add 1 comment</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="icon"><span class="icon16 icomoon-icon-new"></span></span>
                                                <span class="event">admin Julia added post</span>
                                            </a>
                                        </li>
                                        <li class="view-all"><a href="#">View all notifications <span class="icon16  icomoon-icon-arrow-right-7"></span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                                <%= avatar_img(current_user, :class => "image") %> 
                                <span class="txt"><%= current_user.name %></span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="menu">
                                    <ul>
                                        <li>
                                            <%= link_to "<span class='icon16 icomoon-icon-user-3'>Edit Profile</span>".html_safe, user_path(current_user) %>
                                        </li>
                                        <li>
                                            <a href="#"><span class="icon16 icomoon-icon-comments-2"></span>Approve comments</a>
                                        </li>
                                        <li>
                                            <a href="#"><span class="icon16 entypo-icon-contact"></span>Add user</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="<%= destroy_user_session_path %>"><span class="icon16 icomoon-icon-exit"></span> Logout</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div><!-- /navbar --> 

    </div><!-- End #header -->  
    <div id="wrapper">

        <!--Responsive navigation button-->  
        <div class="resBtn">
            <a href="#"><span class="icon16 minia-icon-list-3"></span></a>
        </div>

        <div class="collapseBtn">
             <a href="#" class="tipR" title="Hide sidebar" style="height:12px !important;"><span class="icon12 minia-icon-layout"></span></a>
        </div>

        <!--Sidebar background-->
        <div id="sidebarbg"></div>
        <!--Sidebar content-->
        <div id="sidebar">
            <div class="shortcuts">
                <ul>
                    <li><a href="#" title="Support section" class="tip"><span class="icon24 icomoon-icon-support"></span></a></li>
                    <li><a href="#" title="Database backup" class="tip"><span class="icon24 icomoon-icon-database"></span></a></li>
                    <li><a href="#" title="Sales statistics" class="tip"><span class="icon24 iconic-icon-chart"></span></a></li>
                    <li><a href="#" title="Write post" class="tip"><span class="icon24 icomoon-icon-pencil"></span></a></li>
                </ul>
            </div><!-- End search -->         

            <div class="sidenav">

                <div class="sidebar-widget" style="margin: -1px 0 0 0;">
                    <h5 class="title" style="margin-bottom:0">Navigation</h5>
                </div><!-- End .sidenav-widget -->

                <div class="mainnav">
                    <ul>
                        <li>
                            <%= link_to "<span class='icon16 minia-icon-cog'></span>Site Management".html_safe, "#", :class => "hasUl", :id => "site_management_link" %>
                            <ul class="sub" id="site_management">
                                <li><a id="site_config" href="<%= admin_config_path %>"><span class="icon16 brocco-icon-home"></span>Site Config</a></li>
                                <li><a id="service_providers" href="<%= service_providers_index_path %>"><span class="icon16 brocco-icon-database"></span>Service Providers</a></li>
                                <li><a id="manage_news" href="<%= admin_news_list_path %>"><span class="icon16 icomoon-icon-broadcast"></span>News</a></li>
                                <li><a id="manage_polls" href="<%= admin_polls_path %>"><span class="icon16 icomoon-icon-bars"></span>Polls</a></li>
                                <li><a id="manage_faq" href="<%= admin_faq_path %>"><span class="icon16 brocco-icon-dribbble"></span>FAQ</a></li>
                                <li><a id="manage_contact" href="<%= manage_contact_us_path %>"><span class="icon16 brocco-icon-phone"></span>Contact Us</a></li>
                            </ul>
                        </li>
                        <li>
                            <%= link_to "<span class='icon16 brocco-icon-list'></span>Content Management".html_safe, "#", :class => "hasUl", :id => "content_management_link" %>
                            <ul class="sub" id="content_management">
                                <li><a id="cms_terms" href="<%= cms_terms_path %>"><span class="icon16 brocco-icon-file"></span>Terms of Use</a></li>
                                <li><a id="cms_about" href="<%= cms_abouts_path %>"><span class="icon16 brocco-icon-file"></span>About</a></li>
                                <li><a id="cms_eula" href="<%= cms_eula_path %>"><span class="icon16 brocco-icon-file"></span>EULA</a></li>
                                <li><a id="cms_privacy" href="<%= cms_privacy_path %>"><span class="icon16 brocco-icon-file"></span>Privacy Policy</a></li>
                            </ul>
                        </li>
                        <li>
                            <%= link_to "<span class='icon16 brocco-icon-user'></span>User Management".html_safe, "#", :class => "hasUl", :id => "user_management_link" %>
                            <ul class="sub" id="user_management">
                                <li><a href="<%= admin_user_access_path %>" id="user_access"><span class="icon16 brocco-icon-wrench"></span>Access</a></li>
                                <li><a href="<%= admin_members_path %>" id="user_members"><span class="icon16 cut-icon-board"></span>Members</a></li>
                                <li><a href="<%= admin_manage_invitations_path %>" id="user_invitations"><span class="icon16 brocco-icon-plus"></span>Invitation</a></li>
                            </ul>
                        </li>
                        <li>
                            <%= link_to "<span class='icon16 cut-icon-locked'></span>Features".html_safe, "#", :class => "hasUl", :id => "feature_management_link" %>
                            <ul class="sub" id="feature_management">
                                <li><a href="<%= announcements_path %>" id="features_announcement"><span class="icon16 brocco-icon-mic" ></span>Announcements</a></li>
                                <li><a href="<%= manage_social_path %>" id="features_social"><span class="icon16 brocco-icon-earth"></span>Social</a></li>
                                <li><a href="<%= constrains_configs_path %>"><span class="icon16 brocco-icon-window"></span>Requirements</a></li>
                                <li><a href="<%= manage_rewards_path %>"><span class="icon16 entypo-icon-trophy"></span>Rewards</a></li>
                            </ul>
                        </li>
                        <li>
                            <%= link_to "<span class='icon16 brocco-icon-coffee'></span>Look & Feel".html_safe, "#", :class => "hasUl", :id => "look_management_link" %>
                            <ul class="sub" id="look_management">
                                <li><a href="<%= manage_appearance_path %>"><span class="icon16 minia-icon-cog"></span>Appearance</a></li>
                                <li><a href="<%= manage_content_path %>"><span class="icon16 brocco-icon-diary"></span>Content</a></li>
                                <li><a href="<%= themes_path %>"><span class="icon16  entypo-icon-palette"></span>Themes</a></li>
                                <li><a href="<%= widgets_path %>"><span class="icon16 entypo-icon-popup"></span>Widgets</a></li>
                            </ul>
                        </li>
                        <li>
                            <%= link_to "<span class='icon16 entypo-icon-close'></span>Close Group".html_safe, "#", :class => "hasUl" %>
                            <ul class="sub">
                                <li class="full-width"><a href="<%= manage_close_group_path %>"><span class="icon16 entypo-icon-close"></span>Close group</a></li>
                            </ul>
                        </li>
                        <li>
                            <%= link_to "<span class='icon16 cut-icon-hash'></span>Moderation".html_safe, "#", :class => "hasUl", :id => "moderator_management_link" %>
                            <ul class="sub" id="moderator_management">
                                <li class="full-width">
                                    <a href="<%= admin_manage_flags_path %>" id="moderator_flag"><span class="icon16 entypo-icon-flag"></span>Flag</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                   
                   
                    
                </div>
            </div><!-- End sidenav -->
            <!-- rigth now starts from here-->
            <div class="sidebar-widget" style="margin: -1px 0 0 0;">
                <h5 class="title" style="margin-bottom:0">Right now</h5>
            </div>
            <div class="mainnav">
                <ul class="right-now">
                    <li>
                        <span class="right-now-text-bold">34</span>
                        <span class="icon16 icomoon-icon-new"></span>
                        <span>Posts</span>
                    </li>
                    <li>
                        <span class="right-now-text-bold">7</span>
                        <span class="icon16 cut-icon-file"></span>
                        <span>Pages</span>
                    </li>
                    <li>
                        <span class="right-now-text-bold">14</span>
                        <span class="icon16 brocco-icon-list"></span>
                        <span>Categories</span>
                    </li>
                    <li>
                        <span class="right-now-text-bold">201</span>
                        <span class="icon16 brocco-icon-tag"></span>
                        <span>Tags</span>
                    </li>
                </ul>
            </div>

            <!-- rigth now starts from here-->
        </div><!-- End #sidebar -->
        <!--Body content-->
        <div id="content" class="clearfix">
          <div class="contentwrapper">
            <div class="heading">
                <h3><%= @page_title.nil? ? "" : @page_title %></h3>                    

                <div class="resBtnSearch">
                    <a href="#"><span class="icon16 brocco-icon-search"></span></a>
                </div>

                <div class="search">

                    <form id="searchform" action="#" />
                        <input type="text" class="top-search" placeholder="Search here ..." />
                        <input type="submit" class="search-btn" value="" />
                    </form>
            
                </div><!-- End search -->
                
                <ul class="breadcrumb">
                    <li>You are here:</li>
                    <li>
                        <a href="<%= admin_dashboard_path %>" class="tip" title="back to dashboard">
                            <span class="icon16 icomoon-icon-screen"></span>
                        </a> 
                        <span class="divider">
                            <span class="icon16 icomoon-icon-arrow-right"></span>
                        </span>
                    </li>
                    <li class="active"><%= @page_title.nil? ? "" : @page_title %></li>
                </ul>

            </div><!-- End .heading-->
            <%= yield %>
          </div><!-- End #contentwrapper-->
        </div><!-- End #content -->
    
    </div><!-- End #wrapper -->
<script type="text/javascript">
    function site_management_drawer_opened(){

        $('#content_management').removeClass('expand');
        $('#content_management_link').removeClass('drop');
        $('#look_management_link').removeClass('drop');
        $('#look_management').removeClass('expand');
        $('#user_management').removeClass('expand');
        $('#user_management_link').removeClass('drop');
        $('#feature_management').removeClass('expand');
        $('#feature_management_link').removeClass('drop');
        $('#moderator_management').removeClass('expand');
        $('#moderator_management_link').removeClass('drop');

        $('#site_management').addClass('expand');
        $('#site_management_link').addClass('drop');
    }

    function content_management_drawer_opened(){

        $('#look_management_link').removeClass('drop');
        $('#look_management').removeClass('expand');
        $('#user_management').removeClass('expand');
        $('#user_management_link').removeClass('drop');
        $('#feature_management').removeClass('expand');
        $('#feature_management_link').removeClass('drop');
        $('#moderator_management').removeClass('expand');
        $('#moderator_management_link').removeClass('drop');
        $('#site_management').removeClass('expand');
        $('#site_management_link').removeClass('drop');

        $('#content_management').addClass('expand');
        $('#content_management_link').addClass('drop');
    }

    function user_management_drawer_opened(){
        $('#content_management').removeClass('expand');
        $('#content_management_link').removeClass('drop');
        $('#site_management').removeClass('expand');
        $('#site_management_link').removeClass('drop');
        $('#look_management_link').removeClass('drop');
        $('#look_management').removeClass('expand');
        $('#feature_management_link').removeClass('drop');
        $('#feature_management').removeClass('expand');


        $('#user_management').addClass('expand');
        $('#user_management_link').addClass('drop');
    }

    function feature_management_drawer_opened(){
        $('#content_management').removeClass('expand');
        $('#content_management_link').removeClass('drop');
        $('#site_management').removeClass('expand');
        $('#site_management_link').removeClass('drop');
        $('#user_management').removeClass('expand');
        $('#user_management_link').removeClass('drop');
        $('#look_management_link').removeClass('drop');
        $('#look_management').removeClass('expand');

        $('#feature_management').addClass('expand');
        $('#feature_management_link').addClass('drop');
    }

    function moderation_drawer_opened(){
        $('#content_management').removeClass('expand');
        $('#content_management_link').removeClass('drop');
        $('#look_management_link').removeClass('drop');
        $('#look_management').removeClass('expand');
        $('#site_management').removeClass('expand');
        $('#site_management_link').removeClass('drop');
        $('#user_management').removeClass('expand');
        $('#user_management_link').removeClass('drop');
        $('#feature_management').removeClass('expand');
        $('#feature_management_link').removeClass('drop');

        $('#moderator_management').addClass('expand');
        $('#moderator_management_link').addClass('drop');
    }
    function look_drawer_opened(){
        $('#content_management').removeClass('expand');
        $('#content_management_link').removeClass('drop');
        $('#site_management').removeClass('expand');
        $('#site_management_link').removeClass('drop');
        $('#user_management').removeClass('expand');
        $('#user_management_link').removeClass('drop');
        $('#feature_management').removeClass('expand');
        $('#feature_management_link').removeClass('drop');
        $('#moderator_management').removeClass('expand');
        $('#moderator_management_link').removeClass('drop');

        $('#look_management_link').addClass('drop');
        $('#look_management').addClass('expand');
    }


    $(document).ready(function(){
        $('.search-btn').addClass('nostyle');//tell uniform to not style this element

        //------------- Navigation -------------//
        mainNav = $('.mainnav>ul>li');
        mainNav.find('ul').siblings().addClass('hasUl').append('<span class="hasDrop icon16 icomoon-icon-arrow-down"></span>');
        mainNavLink = mainNav.find('a').not('.sub a');
        mainNavLinkAll = mainNav.find('a');
        mainNavSubLink = mainNav.find('.sub a').not('.sub li .sub a');
        mainNavCurrent = mainNav.find('a.current');

        //remove current class if have
        mainNavCurrent.removeClass('current');
        //set the seleceted menu element
        var activePage = "<%= @active_page %>";
        if ($.cookie("newCurrentMenu")) {
            mainNavLinkAll.each(function(index) {
                if($(this).attr('href') == $.cookie("newCurrentMenu")) {
                    //set new current class
                    if (activePage == ""){
                        $(this).addClass('current');
                    }else{
                        $("a#"+activePage).addClass('current');
                    }
                    

                    ulElem = $(this).closest('ul');
                    if(ulElem.hasClass('sub')) {
                        //its a part of sub menu need to expand this menu
                        aElem = ulElem.prev('a.hasUl').addClass('drop');
                        ulElem.addClass('expand');
                    } 
                    //destroy cookie    
                    $.cookie("newCurrentMenu",null);
                }
            });
        } else {
            $("a#"+activePage).addClass('current');
        }  
        
        //hover magic add blue color to icons when hover - remove or change the class if not you like.
        mainNavLinkAll.hover(
          function () {
            $(this).find('span.icon16').addClass('blue');
          }, 
          function () {
            $(this).find('span.icon16').removeClass('blue');
          }
        );

        //click magic
        mainNavLink.click(function(event) {
            $this = $(this);
            
            if($this.hasClass('hasUl')) {
                event.preventDefault();
                if($this.hasClass('drop')) {
                    $(this).siblings('ul.sub').slideUp(500, 'jswing').siblings().removeClass('drop');
                } else {
                    $(this).siblings('ul.sub').slideDown(500, 'jswing').siblings().addClass('drop');
                }           
            } else {
                //has no ul so store a cookie for change class.
                $.cookie("newCurrentMenu",$this.attr('href') ,{expires: 1});
            }
        });
        mainNavSubLink.click(function(event) {
            $this = $(this);
            
            if($this.hasClass('hasUl')) {
                event.preventDefault();
                if($this.hasClass('drop')) {
                    $(this).siblings('ul.sub').slideUp(500).siblings().removeClass('drop');
                } else {
                    $(this).siblings('ul.sub').slideDown(250).siblings().addClass('drop');
                }           
            } else {
                //has no ul so store a cookie for change class.
                $.cookie("newCurrentMenu",$this.attr('href') ,{expires: 1});
            }
        });

        //responsive buttons
        $('.resBtn>a').click(function(event) {
            $this = $(this);
            if($this.hasClass('drop')) {
                $('#sidebar>.shortcuts').slideUp(500).addClass('hided');
                $('#sidebar>.sidenav').slideUp(500).addClass('hided');
                $this.removeClass('drop');
            } else {
                $('#sidebar>.shortcuts').slideDown(250);
                $('#sidebar>.sidenav').slideDown(250);
                $this.addClass('drop');
            }
        });
        $('.resBtnSearch>a').click(function(event) {
            $this = $(this);
            if($this.hasClass('drop')) {
                $('.search').slideUp(500);
                $this.removeClass('drop');
            } else {
                $('.search').slideDown(250);
                $this.addClass('drop');
            }
        });

        //Hide and show sidebar btn
        $( '.collapseBtn' ).bind( 'click', function(){
            $this = $(this);
            //check if sidebar is show
            if($(this).hasClass('hide')) {
                /*console.log('Sidebar is show');*/
                $('#sidebarbg').css('margin-left','0');
                $('#content').css('margin-left', '213'+'px');
                $('#sidebar').css('left', '0').css('margin-left','0');
                $this.removeClass('hide');
                $('.collapseBtn').css('top', '118'+'px').css('left', '170'+'px').removeClass('shadow');
                $this.children('a').attr('title','Hide Sidebar');

            } else {
                /*console.log('Sidebar is hided');*/
                //hide sidbar
                $('#sidebarbg').css('margin-left','-299'+'px');
                $('#sidebar').css('margin-left','-299'+'px');
                $('.collapseBtn').animate({ //use .hide() if you experience heavy animation :)
                    left: '200',
                    top: '20'
                  }, 500, 'easeInExpo', function() {
                    // Animation complete.
                  
                }).addClass('shadow');
                //expand content
                $this.addClass('hide');
                $this.children('a').attr('title','Show Sidebar')
                $('#content').css('margin-left', '0');
                
            }
        });

        //------------- Uniform  -------------//
        //add class .nostyle if not want uniform to style field
        $("input, textarea, select").not('.nostyle').uniform();

        //--------------- Tabs ------------------//
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
        //activate loaders tabs
        $('#myTabLoaders a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })

        //make 2 tab active ( remove if not want )
        $('.tabs-right li:eq(1) a').tab('show'); // Select third tab (0-indexed)
        $('.tabs-left li:eq(1) a').tab('show'); // Select third tab (0-indexed)

        $('#loadersTab a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })

        //--------------- Data tables ------------------//
        if($('table').hasClass('dynamicTable')){
            $('.dynamicTable').dataTable({
                "sPaginationType": "full_numbers",
                "bJQueryUI": false,
                "bAutoWidth": false,
                "bLengthChange": false,
                "iDisplayLength": <%= current_group.custom_pagination_length rescue 20 %>
            });
        }
        if($('table').hasClass('contactTable')){
            $('.contactTable').dataTable({
                "bJQueryUI": false,
                "bAutoWidth": false,
                "iDisplayLength": <%= current_group.custom_pagination_length rescue 20 %>,
                "bLengthChange": false,
                "aoColumnDefs": [{ 
                    "bSortable": false, "aTargets": [ 0, 1, 2, 3 ] 
                }],
            });
        }

        //------------- widget box magic -------------//

        var widget = $('div.box');
        var widgetOpen = $('div.box').not('div.box.closed');
        var widgetClose = $('div.box.closed');
        //close all widgets with class "closed"
        widgetClose.find('div.content').hide();
        widgetClose.find('.title>.minimize').removeClass('minimize').addClass('maximize');

        widget.find('.title>a').click(function (event) {
            event.preventDefault();
            var $this = $(this);
            if($this .hasClass('minimize')) {
                //minimize content
                $this.removeClass('minimize').addClass('maximize');
                $this.parent('div').addClass('min');
                cont = $this.parent('div').next('div.content')
                cont.slideUp(500, 'easeOutExpo'); //change effect if you want :)
                
            } else  
            if($this .hasClass('maximize')) {
                //minimize content
                $this.removeClass('maximize').addClass('minimize');
                $this.parent('div').removeClass('min');
                cont = $this.parent('div').next('div.content');
                cont.slideDown(500, 'easeInExpo'); //change effect if you want :)
            } 
            
        })

        //show minimize and maximize icons
        widget.hover(function() {
                $(this).find('.title>a').show(50);  
            }
            , function(){
                $(this).find('.title>a').hide();    
        });

        //add shadow if hover box
        widget.hover(function() {
                $(this).addClass('hover');  
            }
            , function(){
                $(this).removeClass('hover');   
        });

      <% unless flash[:notice].blank? %>
        $.pnotify({
            type: 'success',
            title: 'Done!',
            text: "<%= flash[:notice] %>",
            icon: 'picon icon16 iconic-icon-check-alt white',
            opacity: 0.95,
            history: false,
            sticker: false
        });
      <% end %>
      <% unless flash[:error].blank? %>
        $.pnotify({
            type: 'error',
            title: 'Sorry,',
            text: "<%= flash[:error] %>",
            icon: 'picon icon16 iconic-icon-check-alt white',
            opacity: 0.95,
            history: false,
            sticker: false
        });
      <% end %>
    });
</script>
  </body>
</html>